mixin sEvents(data)
	// start sEvents
	+b.SECTION.sEvents.section#sEvents&attributes(attributes)
		.container-fluid
			+e.row.row
				+newsListItem(5,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения')
				+newsListItem(4,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Регистрация')
				+newsListItem(6,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Вы зарегистрированы ').--registred
				+newsListItem(7,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Вы зарегистрированы ').--registred
				+newsListItem(8,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Вы зарегистрированы ').--registred
				+newsListItem(4,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения')
				+newsListItem(5,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения')
				+newsListItem(4,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Регистрация')
				+newsListItem(5,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения')
				+newsListItem(4,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Регистрация')
				+newsListItem(6,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Вы зарегистрированы ').--registred
				+newsListItem(7,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Вы зарегистрированы ').--registred
				+newsListItem(8,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Вы зарегистрированы ').--registred
				+newsListItem(4,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения')
				+newsListItem(5,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения')
				+newsListItem(4,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Регистрация')
				+newsListItem(5,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения')
				+newsListItem(4,'Вебинар','26 сентября','Как совершенствовать организцию приёма обучения','Регистрация')
			+pagin()
	// end sEvents