// start .sEvents
.sEvents {
	--sPT: #{rem(32)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&.calendar {
		.event-calendar {
			display: block;
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	.news-preview__img-wrap {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 11.76%, rgba(0, 0, 0, 0.2) 21.72%, rgba(0, 0, 0, 0.2) 44.85%, rgba(0, 0, 0, 0.4) 85.66%);
	}
	.news-preview__img-wrap:before {
		background-image: url('../img/svg/events-preview-bg.svg');
	}
	.news-preview__title-block {
		bottom: 20px;
		@include media-breakpoint-down(md) {
			bottom: 10px;
		}
	}
	.news-preview__title {
		display: block;
	}
	.news-preview__btn {
		display: inline-block;
		margin-top: 8px;
		padding: 4px 16px;
		text-align: center;
		font-size: 14px;
		line-height: 1;
		border-radius: 16px;
		background: var(--bs-primary-active, #008981);
		color: $white;
		&--registred {
			color: var(--bs-primary-active, #008981);
			background: rgba(255, 255, 255, 0.75);
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sEvents

.event-calendar {
	display: none;
	position: relative;
	top: -32px;
	padding: 24px 20px;
	background-color: $white;
	// z-index: -1;
	// @include media-breakpoint-down(md) {
	// 	margin-bottom: 16px;
	// }
	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 24px;
	}
	&__button {
		width: 14px;
		height: 19px;
		background-image: url('../img/svg/prev-arrow.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		border: none;
		background-color: transparent;
		cursor: pointer;
		flex-grow: 0;
		flex-shrink: 1;
		box-shadow: none;
		outline: none !important;
		&--next {
			transform: rotateY(180deg);
		}
	}
	&__title {
		margin: 0 40px;
		font-weight: 700;
		font-size: 24px;
		line-height: 1;
		@include media-breakpoint-down(md) {
			font-size: rem(19);
		}
	}
	table {
		@extend .table, .table-bordered;
		margin: 0 auto;
		max-width: 1121px;
		width: 100%;
  	table-layout: fixed;
	}
	thead {
		border-left-color: transparent;
		border-top-color: transparent;
		border-right-color: transparent;
	}
	.full-head {
		display: none;
		@include media-breakpoint-up(md) {
			display: table-header-group;
		}
	}
	th {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: $gray-600;
	}
	td {
		position: relative;
		font-weight: 700;
		width: 100%;
		vertical-align: middle;
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 14px;
			padding: .2rem !important;
		}
	}
	.not-current {
		color: $gray-300;
	}
	.today {
		background-color: #D2F3F0;
	}
	.chosen {
		border: 3px solid var(--bs-primary);
	}
	&__date {
		line-height: 1;
		position: relative;
		top: 1px;
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
	}
	&__date, &__event {
		display: inline-block;
	}
	&__date span {
		font-size: 14px;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
	&__day {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__event {
		// position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		min-height: 26px;
		min-width: 26px;
		border-radius: 50%;
		border: none;
		background-color: var(--bs-primary);
		padding: 0;
		color: $white;
		line-height: 1.6;
		@extend .stretched-link;
		&::after{
			// padding: .2rem !important;
			bottom: -.2rem !important;
			top: -.2rem !important;
			right: -.2rem !important;
			left: -.2rem !important;
		}
		@include media-breakpoint-down(md) {
			min-height: 15px;
			min-width: 15px;
			max-height: 15px;
			max-width: 15px;
			width: 15px;
			height: 15px;
			font-size: 12px;
		}
	}
}