mixin footer()
	+b.FOOTER.footer.section
		.container-fluid
			+e.row.row
				.col-auto
					+e.policy(href="#") Политика конфиденциальности
				.col-auto
					+e.copyright © #[span.currentYear]
				.col
					+e.design
						+icon('coalla-logo')
						span Сделано в&nbsp;Coalla Agency