.footer {
	position: relative;
	margin-top: auto;
	--sPT: 16px;
	--sPB: 26px;
	font-size: 14px;
	line-height: 1.142;
	color: $secondary;
	// --sTPB: #{rem()};
	@include media-breakpoint-up(sm) {
		--sPT: 16px;
		--sPB: 16px;
	}
	@include media-breakpoint-up(xl) {
		--sPT: #{rem(16)};
		--sPB: #{rem(16)};
		font-size: rem(14);
	}
	&::before {
		content: "";
		position: absolute;
		left: 16px;
		top: 0;
		width: calc(100% - 32px);
		height: 1px;
		background-color: $gray-300;
		@include media-breakpoint-up(lg) {
			width: 100%;
			left: 0;
		}
	}
	&__row {
		--bs-gutter-x: 16px;
		--bs-gutter-y: 16px;
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(20)};
		}
	}

	&__policy {
		display: inline-block;
		&:not(:hover) {
			color: $secondary;
		}
	}
	&__copyright {
		span {
			display: inline-block;
		}
	}
	&__design {
		text-align: right;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		@include media-breakpoint-up(sm) {
			justify-content: flex-end;
		}
		.icon {
			font-size: 16px;
			margin-right: rem(8);
			@include media-breakpoint-up(xl) {
				font-size: rem(16);
			}
		}
		span {
			white-space: nowrap;
			display: inline-block;
		}
	}
	// .section-title{

	// }
	// &__col{

	// }
	// &__item{

	// }
	// &__slide{
	// 	height: auto;
	// }
	//
	&--landing {
		@include media-breakpoint-up(md) {
			--sPT: #{rem(24)};
			--sPB: #{rem(24)};
		}
		@include media-breakpoint-up(xl) {
			--sPT: #{rem(30)};
			--sPB: #{rem(30)};
		}
		@include media-breakpoint-down(md) {
			&.footer::before {
				content: none;
			}
		}

		.footer__row {
			align-items: center;
			justify-content: center;
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(24)};
			}
		}
		.footer__logos {
			@include media-breakpoint-down(md) {
				padding-bottom: 16px;
				margin-top: 8px;
				border-bottom: 1px solid $gray-300;
			}
			@include media-breakpoint-down(sm) {
				padding-bottom: 32px;
			}
			img {
				height: 30px;
				width: auto;
				max-width: 100%;
			}
		}
		.footer__row-sm {
			position: relative;
			--bs-gutter-y: 16px;
			@include media-breakpoint-down(md) {
				align-items: center;
				justify-content: center;
			}
			@include media-breakpoint-up(sm) {
				--bs-gutter-x: 24px;
			}
			@include media-breakpoint-up(xl) {
				--bs-gutter-x: #{rem(24)};
			}
			& > * {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	&.footer--landing-mpa {
		background-color: var(--bs-body-bg);
		@include media-breakpoint-down(md) {
			border-radius: $border-radius $border-radius 0 0;
			border-top: 1px solid #c9cad1;
		}
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
