mixin sTask(tag)
	// start sTask
	+b.sTask.section#sTask&attributes(attributes)
		.container-fluid
			+e.wrapper
				+e.question
					h3 Как проходит процесс обучения?
					p Все руководители хотели повысить эффективность своих команд, но&nbsp;каждый пришел с&nbsp;конкретной задачей. Например, один из&nbsp;участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и&nbsp;слабой мотивации. Как повысить вовлеченность и&nbsp;ответственность каждого за&nbsp;общий результат, выработать в&nbsp;коллективе новые общие ценности?
					ul
						li Участники в&nbsp;группах по&nbsp;семь человек в&nbsp;формате &laquo;равный&nbsp;&mdash; равному&raquo; обменивались лучшими практиками из&nbsp;личного управленческого опыта.
						li Частью обучения стал индивидуальный план развития с&nbsp;поддержкой тьютора на&nbsp;каждом этапе.
						li Эксперты оказывали персональную помощь участникам в&nbsp;решении конкретной управленческой задачи
					if tag
						+e.tag Необходим зачет
				
				+e.answer
					block
	// end sTask