mixin sTask(data)
	// start sTask
	+b.sTask.section#sTask&attributes(attributes)
		.container-fluid
			+e.wrapper
				+e.question
					h3 Как проходит процесс обучения?
					p Все руководители хотели повысить эффективность своих команд, но&nbsp;каждый пришел с&nbsp;конкретной задачей. Например, один из&nbsp;участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и&nbsp;слабой мотивации. Как повысить вовлеченность и&nbsp;ответственность каждого за&nbsp;общий результат, выработать в&nbsp;коллективе новые общие ценности?
					ul
						li Участники в&nbsp;группах по&nbsp;семь человек в&nbsp;формате &laquo;равный&nbsp;&mdash; равному&raquo; обменивались лучшими практиками из&nbsp;личного управленческого опыта.
						li Частью обучения стал индивидуальный план развития с&nbsp;поддержкой тьютора на&nbsp;каждом этапе.
						li Эксперты оказывали персональную помощь участникам в&nbsp;решении конкретной управленческой задачи
					+e.tag Необходим зачет
				
				+e.answer
					h3 Ваш ответ
					+form-wrap
						.form-wrap__input-wrap.form-group
							textarea.form-wrap__input.form-control(name='textarea' placeholder='Введите ваш ответ')
							+e.LABEL.file-btn
								input(type="file")
								+icon('clip')
								span Прикрепить файл
						+btn('Отправить', 'submit').btn.btn-primary
					
				//- +e.answer
				//- 	.alert Ваш ответ находится на&nbsp;проверке у&nbsp;преподавателя.
				//- 	h3 Ваш ответ
				//- +e.answer
				//- 	.alert Вы&nbsp;получили &laquo;Незачет&raquo;
				//- 	h3 Ваш ответ
				//- +e.answer
				//- 	.alert Вы&nbsp;получили &laquo;Зачет&raquo;
				//- 	h3 Ваш ответ
					
	// end sTask