// start .sEnter
// .enter-page{
// 	min-height: -webkit-fill-available;
// 	.main-wrapper{
// 		min-height: 100%;
// 	}
// }
.sEnter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $primary;
	background-image: url('../img/enter-bg.jpg');
	background-size: cover;
	min-height: calc(var(--vh, 1vh)*100);
	// --sPT: env(safe-area-inset-top, 0);
	// --sPB: env(safe-area-inset-top, 0);
	// padding: var(--sat) 0 var(--sab);
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	&__container {
		margin: 0 auto;
		max-width: 400px;
		text-align: center;
	}
	&__logo {
		display: block;
		margin: 0 auto 24px;
		width: 266px;
		height: 48px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	&__title {
		margin-bottom: 16px;
		font-weight: 700;
		font-size: rem(24);
		line-height:133%;
		color: $white;
	}

	.form-wrap {
		&__input-wrap {
			margin-bottom: 10px;
		}
		label {
			display: flex;
			flex-direction: column-reverse;
		}
		&__input {
			background-color: transparent;
			border-color: $white;
			color: $white;
			&[required] + .form-wrap__input-title {
				position: relative; 
				&::after {
					position: absolute;
					content: '';
					display: inline-block;
					left: 0;
					bottom: -12px;
					width: 5px;
					height: 5px;
					background-image: url('../img/svg/required-light.svg');
					background-repeat: no-repeat;
				}
			}
			&::placeholder {
				color: $white;
			}
			&.validated {
				border-color: $red;
			}
		}
		&__alert {
			position: relative;
			margin-bottom: 12px;
			padding: 5px 8px;
			width: 100%;
			text-align: left;
			font-size: 14px;
			line-height: 1;
			color: $pink;
			background-color: $white;
			border-radius: 4px;
			&::before {
				position: absolute;
				content: '';
				width: 12px;
				height: 12px;
				border: 6px solid transparent;
				border-bottom: 6px solid $white;
				top: -12px;
				left: 10px;
			}
		}
		&__caption {
			margin-bottom: 10px;
			font-size: 18px;
			line-height:133%;
			text-align: center;
			color: $white;
		}
		&__input-title {
			margin-bottom: 8px;
			padding-left: 8px;
			font-size: 14px;
			line-height: 114%;
			color: $white;
			text-align: left;
		}
		&__btn {
			@extend .btn, .btn-primary;
			width: 100%;
			margin-bottom: 10px;
			font-weight: 700;
		}
	}
	&__return {
		@include media-breakpoint-down(sm) {
			position: absolute;
			top: 16px;
			left: 16px;
			&::before {
				display: inline-block;
				margin-right: 8px;
				content: '';
				width: 6px;
				height: 6px;
				border-bottom: 1px solid $primary;
				border-right: 1px solid $primary;
				transform: rotate(135deg);
				transform-origin: center right;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sEnter

.error {
	color: $white;
	text-align: center;
	h1 {
		margin-bottom: 16px;
		font-weight: 700;
		font-size: rem(64);
		@include media-breakpoint-down(md) {
			font-size: rem(48);
		}
	}
	p {
		margin-bottom: 40px;
		max-width: 400px;
		font-weight: 700;
		line-height: 111%;
	}
	a {
		@extend .btn, .btn-primary;
		width: min(100%, 287px);
		padding-top: 10px;
		padding-bottom: 10px;
		
	}
}
