// start .sMainUnits
.sMainUnits {
	--sPT: #{rem(24)};
	--sPB: #{rem(31)};
	// --sTPB: #{rem()};
	@include media-breakpoint-down(md) {
		--sPT: #{rem(16)};
		--sPB: #{rem(40)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: var(--bs-gutter-x);
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-auto-flow: dense;
		gap: 16px;
		@include media-breakpoint-up(xl) {
			grid-template-rows: repeat(2, 1fr);
		}
	}
	&__unit {
		width: 100%;
	}
	&__unit--lg {
		// grid-column: span 6;
		// @include media-breakpoint-up(xl) {
		// }
		@include media-breakpoint-up(sm) {
			grid-column: span 6;
		}
		grid-column: span 12;
	}
	&__unit--md {
		@include media-breakpoint-up(xl) {
			grid-column: span 4;
		}
		@include media-breakpoint-up(sm) {
			grid-column: span 6;
		}
		grid-column: span 12;
	}
	&__unit--sm {
		@include media-breakpoint-up(xl) {
			grid-column: span 3;
		}
		@include media-breakpoint-up(sm) {
			grid-column: span 6;
		}
		grid-column: span 12;
	}
	.section-title {
	}
	&__col {
	}
	.swiper {
		height: calc(100% - 35px);
	}
	&__item {
		position: relative;
		padding: 8px 16px;
		height: 100%;
		border-radius: $border-radius-sm;
		overflow: hidden;
		&--light {
			background-color: $white;
		}
		&--light-bg {
			position: relative;
			background-color: $white;
			z-index: 2;
			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-image: url("../img/svg/events-preview-bg.svg");
				background-repeat: no-repeat;
				background-size: auto 100%;
				opacity: 0.5;
				z-index: -1;
			}
		}
		&--dark {
			background-color: rgba($primary, 0.5);
		}
		&--slider {
			padding: 0;
			.swiper {
				height: 100%;
				border-radius: $border-radius-sm;
			}
			.sMainUnits__header {
				position: absolute;
				top: 0;
				left: 0;
				margin-top: 8px;
				margin-left: 16px;
				margin-right: 16px;
				width: calc(100% - 32px);
				color: $white;
				z-index: 20;
				border-bottom: 1px solid rgba($white, 0.5);
			}
			.sMainUnits__header-btn {
				border-color: transparent;
				&:hover {
					color: var(--bs-primary-hover, #{$dark-teal});
					background-color: $white;
					border-color: transparent;
				}
			}
			.sMainUnits__body {
				padding: 0;
			}
			.sMainUnits__slider-nav {
				left: 16px;
				bottom: 16px;
			}
		}
		&.sMainUnits__item--lesson {
			display: flex;
			flex-direction: column;
		}
	}
	&__slide-bg {
		@include block(399, 272);
		height: 100%;
		border-radius: $border-radius-sm;
		overflow: hidden;
		background: linear-gradient(
			180deg,
			rgba(0, 99, 81, 0.6) 11.76%,
			rgba(0, 99, 87, 0.3) 21.72%,
			rgba(0, 99, 69, 0.3) 44.85%,
			rgba(0, 99, 81, 0.6) 85.66%
		);
		@include media-breakpoint-down(md) {
			@include block(328, 272);
		}
		&::after,
		&::before {
			background-repeat: no-repeat;
			background-size: auto 103%;
			background-position: -3px 0;
			@include mt;
			@include media-breakpoint-down(sm) {
				background-position: -5px top;
			}
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			opacity: 0;
			background-image: url("../img/svg/news-preview-hover-bg.svg");
			// background-position: 0 top;
			// background-repeat: no-repeat;
			// background-size: auto 100%;
			// transition: all var(--s) ease-in-out;
		}
		&::before {
			background-image: url("../img/svg/events-preview-bg.svg");
		}
		&:hover {
			&::before {
				opacity: 0;
			}
			&::after {
				z-index: 1;
				opacity: 1;
			}
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 8px;
		height: 35px;
		border-bottom: 1px solid rgba(#2b2015, 0.2);
	}
	&__header-title {
		font-weight: 800;
		font-size: 12px;
		z-index: 5;
		line-height: 12px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}
	&__header-btn {
		@extend .btn, .btn-primary;
		padding: 3px 16px;
		font-weight: 700;
		font-size: 13px;
		border-radius: 24px;
		z-index: 1;
		@include media-breakpoint-down(md) {
			padding: 3px 10px;
		}
		&:hover {
			background-color: var(--bs-primary-hover, #{$dark-teal});
			border-color: transparent;
		}
	}
	&__body {
		display: flex;
		padding: 8px 0;
		&--materials {
			display: grid;
			grid-template-columns: auto 126px;
			grid-template-rows: auto auto;
			@include media-breakpoint-down(md) {
				grid-template-columns: auto 56px;
			}
			.sMainUnits__details {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				grid-column: 1 / 2;
				margin-bottom: 8px;
				@include media-breakpoint-down(lg) {
					grid-column: 1 / -1;
				}
				& > * {
					@include media-breakpoint-down(sm) {
						margin-bottom: 8px;
					}
				}
				.icon {
					margin-right: 6px;
					font-size: 16px;
				}
			}
			.sMainUnits__text {
				margin-right: 50px;
				grid-column: 1 / 2;
				@include media-breakpoint-down(lg) {
					margin-right: 10px;
				}
			}
			.sMainUnits__img-wrap {
				grid-row: 1 / 3;
				grid-column: 2 / 3;
				@include media-breakpoint-down(lg) {
					grid-row: 2 / 3;
				}
			}
		}
		&--notification {
			flex-direction: column;
		}
		&--network {
			justify-content: space-between;
			flex-wrap: wrap;
			.sMainUnits__text {
				max-width: 70%;
				flex-direction: column;
				align-items: flex-start;
			}
		}
		&--forum {
			flex-direction: column;
			max-width: 350px;
			height: calc(100% - 35px);
		}
		&--newsline {
			flex-direction: column;
			color: $white;
			.sMainUnits__text {
				position: absolute;
				left: 16px;
				top: 52px;
			}
			.sMainUnits__tag {
				margin-bottom: 8px;
				margin-right: 13px;
				color: $white;
				border-color: $white;
			}
			.sMainUnits__date {
				color: $white;
				.icon {
					color: $white;
				}
			}
			.sMainUnits__text {
				z-index: 4;
			}
			.sMainUnits__heading {
				position: absolute;
				left: 16px;
				bottom: 44px;
				max-width: 220px;
				color: $white !important;
				z-index: 4;
			}
		}
	}
	&__text {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		& > * {
			margin-bottom: 8px;
		}
		.icon {
			margin-right: 6px;
			font-size: 16px;
			color: $gray-600;
			line-height: 1;
		}
	}
	&__advice {
		@extend .btn, .btn-primary;
		margin-right: 40px;
		padding: 3px 16px;
		font-weight: 700;
		font-size: 13px;
		color: var(--bs-primary-active, #008981);
		background: rgba(var(--bs-primary-rgb, #{78, 208, 200}), var(--rgb-op, 0.5));
		border-color: transparent;
		border-radius: 24px;
		pointer-events: none;
		@include media-breakpoint-down(lg) {
			margin-right: 10px;
		}
		@include media-breakpoint-down(md) {
			padding: 3px 10px;
		}
		&:hover {
			color: $white;
			background-color: var(--bs-primary-hover, #{$dark-teal});
			border-color: transparent;
		}
	}
	&__date,
	&__time {
		display: flex;
		align-items: flex-end;
		line-height: 1;
		color: $gray-600;
		font-size: 13px;
	}
	&__date {
		margin-right: 11px;
		font-weight: 700;
		@include media-breakpoint-down(lg) {
			margin-right: 6px;
		}
	}
	&__time {
	}
	&__img-wrap {
		position: relative;
		display: block;
		width: 126px;
		height: 126px;
		min-width: 126px;
		min-height: 126px;
		margin-left: auto;
		overflow: hidden;
		border-radius: 50%;
		background: linear-gradient(
			180deg,
			rgba(3, 20, 19, 0.6) 14.89%,
			rgba(6, 58, 55, 0.3) 35.07%,
			rgba(8, 71, 67, 0.3) 42.43%,
			rgba(3, 24, 23, 0.6) 71.92%
		);
		&::after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 126px;
			height: 126px;
			border-radius: 50%;
			border: 4px solid var(--bs-primary-hover, #{$dark-teal});
			opacity: 0;
			@include mt;
		}
		&:hover {
			&::after {
				opacity: 1;
			}
		}
		@include media-breakpoint-down(md) {
			width: 56px;
			height: 56px;
			min-width: 56px;
			min-height: 56px;
			&::after {
				width: 56px;
				height: 56px;
			}
		}
		img {
			position: relative;
			height: 100%;
			z-index: -1;
		}
	}
	&__heading {
		font-weight: 700;
		font-size: 18px;
		line-height: 20px;
		color: $body-color;
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
		&:hover {
			color: var(--bs-primary-hover, #{$dark-teal});
		}
	}

	&__tag {
		padding: 3px 16px;
		margin-bottom: 40px;
		border: 1px solid $gray-600;
		border-radius: 24px;
		font-weight: 700;
		font-size: 13px;
		color: $gray-600;
		@include media-breakpoint-down(md) {
			padding: 3px 10px;
		}
	}
	&__slider-nav {
		position: absolute;
		left: 0;
		bottom: 4px;
		display: flex;
		justify-content: space-between;
		width: 44px;
		.swiper-button-prev,
		.swiper-button-next {
			position: relative;
			width: 20px;
			height: 20px;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			background: #ffffff;
			border: 1px solid transparent;
			border-radius: 50%;
			&:hover {
				background: var(--bs-primary-hover, #{$dark-teal});
				border: 1px solid transparent;
				&::after {
					border-right: 2px solid #ffffff;
					border-top: 2px solid #ffffff;
				}
			}
			&::after {
				position: absolute;
				content: "";
				display: inline-block;
				height: 6px;
				width: 6px;
				left: 5px;
				top: 6px;
				border-right: 2px solid var(--bs-primary);
				border-top: 2px solid var(--bs-primary);
				transform: rotate(45deg);
			}
		}
		.swiper-button-prev {
			transform: rotate(180deg);
		}
		.swiper-button-next {
		}
	}
	&__empty {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: calc(100% - 35px);
		min-height: 64px;
		font-weight: 700;
		font-size: 14px;
		p {
			margin-bottom: 0;
		}
	}
	&__note-date {
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 114%;
		color: $gray-300;
	}
	&__note-title {
		margin-bottom: 15px;
		max-width: 250px;
		font-weight: 700;
		font-size: 14px;
		line-height: 114%;
	}
	&__note-btn {
		@extend .btn, .btn-outline-primary;
		align-self: flex-start;
		margin-bottom: 40px;
		font-size: 13px;
		font-weight: 700;
	}
	&__name {
		max-width: 200px;
		margin-bottom: 4px;
		font-weight: 700;
		font-size: 18px;
		line-height: 111%;
		color: var(--bs-primary);
		&:hover {
			color: var(--bs-primary-hover, #{$dark-teal});
		}
	}
	&__position {
		font-weight: 700;
		font-size: 14px;
		line-height: 114%;
	}
	&__portrait-wrap {
		position: relative;
		width: 56px;
		height: 56px;
		min-width: 56px;
		border-radius: 50%;
		overflow: hidden;
		@include mt;
		&::after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			border: 4px solid var(--bs-primary-hover, #{$dark-teal});
			opacity: 0;
			@include mt;
		}
		&:hover {
			&::after {
				opacity: 1;
			}
		}
		img {
			background-color: #c4c4c4;
			position: relative;
			height: 100%;
			z-index: -1;
		}
	}
	&__company {
		margin-bottom: 40px;
		font-size: 14px;
		line-height: 114%;
		width: 100%;
	}
	&__forum-group {
		margin-bottom: 4px;
		font-size: 14px;
	}
	&__forum-title {
		max-width: 360px;
		margin-bottom: 4px;
		font-weight: 700;
		font-size: rem(18);
		line-height: 111%;
		color: var(--bs-body-color, #{$body-color});

		&:hover {
			color: var(--bs-primary-hover, #{$dark-teal});
		}
	}
	&__comments {
		display: flex;
		align-items: center;
		font-size: 13px;
		margin-bottom: 40px;
		.icon {
			margin-right: 5px;
			font-size: 13px;
		}
	}
	&__forum-btn {
		@extend .btn, .btn-primary;
		align-self: flex-start;
		padding: 3px 16px;
		margin-top: auto;
		font-weight: 700;
		font-size: 13px;
		border-radius: 24px;
		border-color: transparent;
		@include media-breakpoint-down(md) {
			padding: 3px 10px;
		}
		@include media-breakpoint-down(sm) {
			margin-top: 23px;
		}
		&:hover {
			color: var(--bs-primary-hover, #{$dark-teal});
			background-color: $white;
			border-color: transparent;
		}
	}
	.sMainUnits__unit--module {
		@media (min-width: 576px) {
			grid-column: span 12;
		}
		@media (min-width: 992px) {
			grid-column: span 6;
		}
	}

	.sMainUnits__item--yellow {
		background-color: #ffeed4;
	}
	.sMainUnits__unit--lesson {
		display: flex;
		flex-direction: column;
		.sMainUnits__item {
			display: flex;
			flex-direction: column;
			padding: 8px 16px 16px 16px;
			.modules-item__title {
				margin-bottom: 0;
				color: $dark-teal;
			}
			.modules-item__head {
				font-size: 18px;
				line-height: calc(24 / 18);
				margin-bottom: 0;
				padding-bottom: 0;
			}
			.modules-item__topic {
				font-weight: 700;
			}
		}

		.sMainUnits__item--light-bg {
			&::after {
				opacity: 0.3;
			}
		}
		.sMainUnits__header {
			margin-bottom: 8px;
		}
		.modules-item {
			height: auto;
			flex-grow: 1;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sMainUnits

.sMainUnits__item--light-bg,
.sMainUnits__item--light {
	.swiper-button-hand {
		border: 1px solid #edeff3;
	}
}
