// start .sTuneup
.sTuneup {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	// &__row {
	// 	// --bs-gutter-x: #{rem()};
	// 	// --bs-gutter-y: #{rem()};
	// }
	// .section-title {
	// }
	// &__col {
	// }
	&__wrapper {
		max-width: 976px;
		margin-left: auto;
		margin-right: auto;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: $white;
		border-radius: var(--bd-radius-main);

		padding: 48px 20% 32px 16px;
		@include media-breakpoint-up(sm) {
			padding: 40px 95px 40px 24px;
		}
		@include media-breakpoint-up(md) {
			padding: 58px calc(23% + 48px) 58px 48px;
		}
		@include media-breakpoint-up(lg) {
			padding: 58px calc(30% + 48px) 58px 48px;
		}

		img {
			position: absolute;
			right: -10px;
			bottom: auto;
			top: -44px;
			width: 166px;
			max-width: 100%;
			height: auto;
			@include media-breakpoint-up(sm) {
				right: 20px;
				bottom: auto;
				top: -30px;
				width: 200px;
			}
			@include media-breakpoint-up(md) {
				top: auto;
				right: 42px;
				bottom: 40px;
				width: 30%;
			}
		}
		h2 {
			position: relative;
			z-index: 2;
			color: var(--bs-primary);
			margin-bottom: 16px;
			line-height: calc(48 / 40);
			@include rfs(48px, font-size);
			@include media-breakpoint-up(xl) {
				font-size: 48px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 24px;
			}
			&::before {
				content: "";
				position: absolute;
				width: calc(100% + em(25));
				height: calc(100% + em(15));
				left: calc(-1 * em(20) / 2);
				top: calc(-1 * em(20) / 2);
				background-image: url("data:image/svg+xml,%3Csvg width='415' height='79' viewBox='0 0 415 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M166.6 3.81057C169.167 2.25558 171.118 1.97859 174.32 1.79228C186.167 1.10296 198.334 1.66077 210.186 2.26127C256.36 4.60064 302.255 10.7941 347.055 22.8423C352.725 24.3669 421.669 42.4257 412.267 55.7135C407.859 61.9426 393.968 64.6712 387.371 66.2144C363.327 71.8384 338.122 73.3701 313.4 74.8572C261.759 77.9634 209.863 78.9823 158.022 76.7306C131.751 75.5896 105.341 74.0455 79.1793 70.949C60.176 68.6997 40.9591 65.6598 23.0518 58.5813C16.5401 56.0073 0.862086 50.0351 1.50226 40.3911C2.17924 30.1925 18.2868 23.8422 25.738 21.1749C51.5814 11.9238 80.3679 9.1615 107.861 7.53145C149.352 5.07151 189.783 8.66498 231.165 11.39' stroke='%23FFBE55' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
				z-index: -1;
				background-size: 100% 100%;
			}
		}
		p {
			line-height: calc(40 / 32);
			font-weight: 700;
			@include rfs(32px, font-size);
			margin-bottom: 0;
			@include media-breakpoint-up(xl) {
				font-size: 32px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 18px;
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sTuneup
