mixin sTuneup(data)
	// start sTuneup
	+b.sTuneup.section#sTuneup&attributes(attributes)
		.container-fluid
			+e.wrapper
				+e.item(data-aos="zoom-in-up" data-aos-delay="100" )
					h2 Настрой систему
					p Для себя, для команды, для города
					+img('img/sTuneup.png')
	// end sTuneup