// start .sNews
.sNews {
	--sPT: #{rem(32)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sNews

.news-preview {	
	position: relative;
	&:hover {
		.news-preview__img-wrap::after {
			opacity: 1;
		}
		.news-preview__img-wrap::before {
			opacity: 0;
		}
	}
	&__img-wrap {
		@include block(400, 272);
		border-radius: $border-radius-sm;
		overflow: hidden;
		background: linear-gradient(180deg, rgba(0, 99, 81, 0.6) 11.76%, rgba(0, 99, 87, 0.3) 21.72%, rgba(0, 99, 69, 0.3) 44.85%, rgba(0, 99, 81, 0.6) 85.66%);
		// background-repeat: no-repeat;
		// background-size: auto 100%;
		// background-position: left top;
		&::before {
			// position: absolute;
			// content: '';
			// width: 100%;
			// height: 100%;
			background-image: url('../img/svg/news-preview-bg.svg');
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: left top;
			@include mt;
		}
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: url('../img/svg/news-preview-hover-bg.svg');
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: left top;
			opacity: 0;
			@include mt;
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}
	&__details {
		position: absolute;
		display: flex;
		align-items: center;
		top: 16px;
		left: 14px;
		color: $white;
		font-size: 13px;
		line-height: 16px;
		font-weight: 700;
	}
	&__category {
		align-items: center;
		justify-content: center;
		padding: 3px 16px;
		margin-right: 8px;
		border: 1px solid $white;
		border-radius: 24px;
	}
	&__date {
		position: relative;
		padding-left: 20px;
		&::after {
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 16px;
			height: 16px;
			background-image: url('../img/svg/calendar.svg');
			background-size: contain;
		}
	}
	&__title {
		position: absolute;
		bottom: 24px;
		left: 14px;
		max-width: 65%;
		color: $white;
		font-weight: 700;
		font-size: 18px;
		line-height: 111%;
	}
}