mixin sAdvantages(data)
	// start sAdvantages
	+b.sAdvantages.section#sAdvantages&attributes(attributes)
		+e.container.container-fluid
			+e.row.row
				+e.col.col-md-6
					+e.item
						+img('img/svg/advantages-arr-1.svg').d-none.d-md-block
						p Кураторы проектной работы сопровождают участников на протяжении всего периода обучения.
					+e.item
						+img('img/svg/advantages-arr-2.svg').d-none.d-md-block
						p Удобное сочетание очных и дистанционных форматов: лекции, тренинги, мастер-классы, VR-тренажеры, вебинары, индивидуальные треки развития.
					+e.item
						+img('img/svg/advantages-arr-3.svg').d-none.d-md-block
						p Сообщество единомышленников, общее профессиональное пространство для нетворкинга.
					+e.item
						p Стажировки в компаниях – лидерах своей отрасли, изучение лучших практик управления современной организацией.
				+e.col.col-md-6
					+e.item
						+img('img/svg/advantages-arr-4.svg').d-none.d-md-block
						p Индивидуальная траектория обучения: с учетом специализации и потребностей конкретной организации.
					+e.item
						+img('img/svg/advantages-arr-5.svg').d-none.d-md-block
						p Автоматизированная образовательная платформа и функционал личного кабинета позволяют обучаться не только очно, но и удаленно, всегда иметь удобный доступ к учебным материалам и отслеживать свой прогресс.
					+e.item
						+img('img/svg/advantages-arr-6.svg').d-none.d-md-block
						p Преподаватели – эксперты в сфере образования, практики с опытом работы в государственном управлении и бизнесе.

	// end sAdvantages