.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
}

body,
html {
	font-size: var(--bs-body-font-size);
}
html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active {
		.header {
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 575px;
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden;

	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba(#008981, 0.6);
		// backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		touch-action: none;
		-webkit-overflow-scrolling: none;
		overflow: hidden;
		/* Other browsers */
		overscroll-behavior: none;

		&::before {
			z-index: 998;
			opacity: 0.76;
		}
	}
}
.enter-page {
	.main-wrapper {
		padding: 0;
	}
}

.main-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// /	overflow: scroll;
	// width: 100%;
	// height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	padding-bottom: 64px;
	@include media-breakpoint-up(lg) {
		padding-bottom: 0;
		padding-top: 64px;
	}
	@include media-breakpoint-up(xl) {
		padding-top: rem(64);
	}
}
main {
	flex-grow: 1;
	// @include media-breakpoint-up(md) {
	// 	margin-top: 70px;
	// }
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }
.profile-page {
	background-color: $gray-100;
}

.account-page {
	background-color: $gray-100;
}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
}

.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}

.slick-slide img {
	display: inline;
}

.image-source-link {
	color: #98c3d1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;
	&.l {
		left: 0;
		svg {
			transform: transform(rotateY(180deg));
		}
	}
	&.r {
		right: 0;
	}
	svg {
		width: 17px;
		height: auto;
	}
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.tabs__btn-accordion {
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {
		}
	}

	&__content {
		// opacity: 0;
		// @include mt;
		&.active {
			display: block;
			// opacity: 1;
		}

		display: none;
	}
}

.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #e6e6e6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary);
		}
	}
}

@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img {
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}
}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}

a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;
}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }

.custom-scroll {
	/* ===== Scrollbar CSS ===== */
	/* Firefox */
	@include media-breakpoint-up(sm) {

		--bs-primary: #dedede;
		
		& {
		scrollbar-width: auto;
		scrollbar-color: var(--bs-primary) transparent;
	}
	
	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: 6px;
	}
	
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--bs-primary);
		border-radius: 16px;
		border: 0px solid transparent;
	}
}
}

::-webkit-calendar-picker-indicator {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>");
}

.swiper-wrapper {
	// @include row-sw(10px, sm, 100px);
}

// .btn-outline-light,
// .btn-outline-primary{
// 	--bs-btn-color: #{$body-color};
// }

.btn,
.form-control,
.form-select {
	box-shadow: none !important;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none !important;
}

.form-switch,
.form-check-input,
.form-check {
	cursor: pointer;
}

.btn-primary,
.btn-secondary {
	--bs-btn-color: #{$white};
	--bs-btn-hover-color: #{$white};
	--bs-btn-active-color: #{$white};
	--bs-btn-disabled-color: #{$white};

	// --bs-btn-hover-bg: #09dad3;
	// --bs-btn-hover-border-color: #09dad3;
	// --bs-btn-active-bg: #09dad3;
	// --bs-btn-active-border-color: #09dad3;
}

.btn-outline-primary,
.btn-outline-secondary {
	--bs-btn-hover-color: #{$white};
	--bs-btn-active-color: #{$white};
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	--bs-gutter-x: 32px;
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: 48px;
	}
}
.container-fluid {
	max-width: 1584px;
}

.choices {
	font-size: rem(18);
}

.choices__inner {
	background-color: $white;
	padding: $input-btn-padding-y 25px $input-btn-padding-y $input-btn-padding-x !important;
	border: 1px solid transparent !important;
	border-radius: 24px !important;
	font-size: rem(18);
	&.is-open {
		background-color: $white;
		padding: $input-btn-padding-y $input-btn-padding-x;
		border: 1px solid transparent;
		border-radius: 24px;
	}
	.is-focused .choices__inner,
	.is-open .choices__inner {
		border-color: transparent;
	}
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
	font-size: rem(18);
}
.choices__list--single {
	padding: 0;
}

.choices__list--dropdown {
	border-radius: $border-radius-sm;
	border: 1px solid $gray-300;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
	background: #dcf6f4;
	&::before {
		background-color: #edeff3;
		border: 1px solid $dark-teal;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	}
}
.choices__item.is-selected {
	background-color: $primary !important;
	&::before {
		background-color: $primary !important;
		border: 1px solid $white !important;
		box-shadow: none !important;
		background-image: url("../img/svg/checked.svg") !important;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
}
.choices__item:not(:last-child) {
	border-bottom: 1px solid $gray-300;
}
.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
	padding-right: 10px;
}
// .choices__item--selectable {
// 	position: relative;
// 	padding-left: 44px !important;
// 	&::before {
// 		position: absolute;
// 		content: '';
// 		left: 10px;
// 		top: 50%;
// 		width: 24px;
// 		height: 24px;
// 		border: 1px solid #C9CAD1;
// 		border-radius: 4px;
// 		transform: translateY(-50%);
// 	}
// }
// .is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
// 	border-color: transparent;
// 	padding: 10px;
// }
// .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
// 	padding: 10px;
// 	background-color: transparent;
// 	color: $primary;
// }
// @media (min-width: 640px) {
// 	.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
// 			padding-right: 10px;
// 	}
// }
.choices[data-type*="select-one"]::after,
.choices[data-type*="select-multiple"]::after {
	position: absolute;
	right: 17px;
	top: 50%;
	content: "";
	display: inline-block;
	height: 7px;
	width: 7px;
	margin-top: 0;
	border-color: transparent $dark $dark transparent;
	border-width: 0 2px 2px 0;
	border-style: none solid solid none;
	transform: rotate(45deg) translateY(calc(-50% - 3px));
}
.choices[data-type*="select-one"].is-open::after {
	margin-top: 0;
	border-color: $dark transparent transparent $dark;
	border-width: 2px 0 0 2px;
	border-style: solid none none solid;
}

.alert {
	&--sm {
		font-size: 14px;
		line-height: 16px;
	}
	&-yellow {
		color: #2b2015;
		border: 1px solid #f8c86c;
		background-color: #faf4c2;
	}
}
.tooltip {
	background-color: #333;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}
.arrow,
.arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

.arrow {
	visibility: hidden;
}

.arrow::before {
	visibility: visible;
	content: "";
	transform: rotate(45deg);
}
.tooltip[data-popper-placement^="top"] > .arrow {
	bottom: -4px;
}

.tooltip[data-popper-placement^="bottom"] > .arrow {
	top: -4px;
}

.tooltip[data-popper-placement^="left"] > .arrow {
	right: -4px;
}

.tooltip[data-popper-placement^="right"] > .arrow {
	left: -4px;
}
.tooltip {
	/* ... */
	display: none;
}

.tooltip[data-show] {
	display: block;
}

.alerts-page {
	main {
		display: flex;
		flex-direction: column;
	}
	.pagination-nav {
		padding: 36px 0 0;
		@include media-breakpoint-up(md) {
			padding: 40px 0 0;
		}
		@include media-breakpoint-up(xl) {
			padding: rem(40) 0 0;
		}
	}
}
