$default-font: "Circe";
$caption-font: "Roboto";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff;


// If font from googlefont, next lines remove

@include font-face ($default-font, $addr + "Circe-Regular", 400, $file-formats: $file-format);
@include font-face ($default-font, $addr + "Circe-Bold", 700, $file-formats: $file-format);
@include font-face ($caption-font, $addr + "Roboto-Regular", 400, $file-formats: $file-format);
// @include font-face ($default-font, $addr + "Roboto-Medium/Roboto-Medium", 500, $file-formats: $file-format);
// @include font-face ($default-font, $addr + "Roboto-Black/Roboto-Black", 900, $file-formats: $file-format);
@font-face {
	font-family: 'Moscow Sans';
	src: url('../fonts/MoscowSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
// font-weight helper:
// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold