@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-alerts {
	font-size:math.div(100,10)*1rem;
	width: math.div(100,100)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-braces {
	font-size:math.div(152,10)*1rem;
	width: math.div(43,152)*1em;
}
.icon-braces-2 {
	font-size:math.div(32,10)*1rem;
	width: math.div(308,32)*1em;
}
.icon-calendar {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-cap {
	font-size:math.div(127,10)*1rem;
	width: math.div(128,127)*1em;
}
.icon-change-contact {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-chat {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-check-rounded {
	font-size:math.div(44,10)*1rem;
	width: math.div(44,44)*1em;
}
.icon-checked {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-clock {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-coalla-logo {
	font-size:math.div(16,10)*1rem;
	width: math.div(28,16)*1em;
}
.icon-download {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-email {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-exit {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-filter {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-help {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-in {
	font-size:math.div(10,10)*1rem;
	width: math.div(22,10)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-internet {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-letter {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-letter-read {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-like-btn {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-list {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-list2 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-map-pin {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-materials-bg {
	font-size:math.div(264,10)*1rem;
	width: math.div(196,264)*1em;
}
.icon-msg {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-notifications {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-ok {
	font-size:math.div(20,10)*1rem;
	width: math.div(12,20)*1em;
}
.icon-out {
	font-size:math.div(11,10)*1rem;
	width: math.div(22,11)*1em;
}
.icon-pen {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-person {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-question {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-teacher {
	font-size:math.div(68,10)*1rem;
	width: math.div(80,68)*1em;
}
.icon-tel {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-telegram {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-telegram-2 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-tune {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(12,10)*1rem;
	width: math.div(21,12)*1em;
}
.icon-whatsapp {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-youtube-icon {
	font-size:math.div(64,10)*1rem;
	width: math.div(64,64)*1em;
}
