@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-coalla-logo {
	font-size:math.div(16,10)*1rem;
	width: math.div(28,16)*1em;
}
.icon-download {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-help {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-like-btn {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-notifications {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-ok {
	font-size:math.div(20,10)*1rem;
	width: math.div(12,20)*1em;
}
.icon-person {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-telegram {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(12,10)*1rem;
	width: math.div(21,12)*1em;
}
.icon-whatsapp {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
