// start .sSystem
.sSystem {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	--sPT: 4px;
	--sPB: 4px;
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(12)};
		--sPB: #{rem(12)};
	}
	.row {
		align-items: center;
		// --bs-gutter-x: #{rem(32)};
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: var(--bs-gutter-x);
		@include media-breakpoint-up(md) {
		}
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(40)};
		}
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.sSystem__row-sm {
		@include media-breakpoint-down(lg) {
			--bs-gutter-y: 20px;
		}
		img {
			max-width: 250px;
			@include media-breakpoint-up(sm) {
				max-width: 210px;
			}
			@include media-breakpoint-up(md) {
				max-width: 250px;
			}
			@include media-breakpoint-up(lg) {
				max-width: 290px;
			}
			@include media-breakpoint-up(xl) {
				max-width: 100%;
			}
		}
	}
	// .section-title{

	// }
	&__col {
	}
	&__item {
		background: var(--bs-white);
		border-radius: rem(32);
		padding: 2rem 3rem;
		@include media-breakpoint-up(sm) {
			padding: 2rem 3rem;
		}
		@include media-breakpoint-up(lg) {
			padding: 1rem 3rem;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sSystem
