mixin sSystem(data)
	// start sSystem
	+b.sSystem.section#sSystem&attributes(attributes)
		.container-fluid
			+e.item
				+e.row.row
					+e.col.col-sm-auto.order-sm-last
						+img('img/svg/tuneUp-3.svg').res-i
					.col-sm
						+e.row-sm.row
							+e.col.col-sm-auto
								+img('img/svg/tuneUp-1.svg').res-i
							+e.col.col-sm-auto
								+img('img/svg/tuneUp-2.svg').res-i
	// end sSystem