mixin sNewsItem(data)
	// start sNewsItem
	+b.SECTION.sNewsItem.section#sNewsItem&attributes(attributes)
		.container-fluid
			+e.wrap
				p Первые выпускники &laquo;Urban Лидера&raquo;&nbsp;&mdash; программы, развивающей навыки управления командой в&nbsp;условиях изменений,&nbsp;&mdash; делятся впечатлениями об&nbsp;обучении. Кадровые сервисы Правительства Москвы спроектировали программу специально для руководителей среднего звена органов власти и&nbsp;подведомственных учреждений.
				h2 В процессе обучения
				p Все руководители хотели повысить эффективность своих команд, но&nbsp;каждый пришел с&nbsp;конкретной задачей. Например, один из&nbsp;участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и&nbsp;слабой мотивации. Как повысить вовлеченность и&nbsp;ответственность каждого за&nbsp;общий результат, выработать в&nbsp;коллективе новые общие ценности?
				ul
					li Участники в&nbsp;группах по&nbsp;семь человек в&nbsp;формате &laquo;равный&nbsp;&mdash; равному&raquo; обменивались лучшими практиками из&nbsp;личного управленческого опыта.
					li Частью обучения стал индивидуальный план развития с&nbsp;поддержкой тьютора на&nbsp;каждом этапе.
					li Эксперты оказывали персональную помощь участникам в&nbsp;решении конкретной управленческой задачи
				figure
					+img('img/news-1.jpg')
					figcaption Участники отмечают, что такой &laquo;гибридный&raquo; формат обучения дал высокие результаты. &quot;Меня поразило соотношение объема контентаи. 
				+e.table-wrap
					table
						caption «Urban Лидер»
						thead
							tr
								th Подать заявку на сайте
								th Заполнить анкету
								th Пройти онлайн-оценку
								th Принять участие
						tbody
							tr
								td На завершающей сессии
								td Руководители Правительства
								td Первый заместитель
								td На завершающей сессии
							tr
								td Первый заместитель
								td Эксперт по оценке
								td На завершающей сессии
								td На завершающей сессии
							tr
								td Эксперт по оценке
								td На завершающей сессии
								td Руководители Правительства
								td Эксперт по оценке
				blockquote Я&nbsp;получил заряд энергии от&nbsp;успешных людей, профессионалов своего дела, и мотивацию к&nbsp;собственному развитию и&nbsp;развитию своей команды.
				h3 Первый заместитель руководителя Департамента
				p а&nbsp;завершающей сессии участники представляли решения своих управленческих задач на&nbsp;основе полученных во&nbsp;время обучения инструментов, рассказывали, как внедряли нововведения в&nbsp;своей команде. Выступления оценивали тьюторы и&nbsp;эксперты, в&nbsp;том числе непосредственные руководители участников программы, и&nbsp;сразу&nbsp;же давали обратную связь. Такой формат позволил руководителям посмотреть на&nbsp;прошедших обучение сотрудников с&nbsp;новой стороны, оценить рост их&nbsp;управленческих навыков.
				ol
					li Подать заявку на сайте
					li Заполнить анкету
					li Пройти онлайн-оценку
				h4 Подробнее о программе и о том, как попасть на обучение
				h5 Вебинар пройдет 16 февраля
				p Обучение проходило полностью онлайн: интерактивные задания и&nbsp;материалы курса на&nbsp;площадке онлайн-университета, мастер-классы приглашенных экспертов в&nbsp;формате видеоконференций. В&nbsp;качестве спикеров выступали руководители Правительства Москвы, крупных компаний и&nbsp;внешние эксперты в&nbsp;области управления людьми, которые рассказывали о&nbsp;роли лидера в&nbsp;команде, разбирали с&nbsp;участниками яркие кейсы и&nbsp;знакомили с&nbsp;актуальными трендами в&nbsp;управлении.
				+e.slider--js.swiper
					.swiper-wrapper
						.swiper-slide
							figure
								+img('img/news-2.jpg')
								figcaption «Urban Лидер» — полноценный 6-месячный образовательный курс без отрыва участников от работы. 
						.swiper-slide
							figure
								+img('img/news-1.jpg')
								figcaption «Urban Лидер» — полноценный 6-месячный образовательный курс без отрыва участников от работы. 
						.swiper-slide
							figure
								+img('img/news-2.jpg')
								figcaption «Urban Лидер» — полноценный 6-месячный образовательный курс без отрыва участников от работы. 
					+arrow
				+e.video-wrap
					<iframe width="560" height="315" src="https://www.youtube.com/embed/CVBKb_jMgsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	// end sNewsItem