// start .sHeading
.sHeading {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	--sTPB: 0;
	color: var(--bs-white);
	display: flex;
	flex-direction: column;
	min-height: 352px;
	// min-height: calc(var(--vh, 1vh) * 100);
	@include media-breakpoint-up(sm) {
		min-height: rem(520);
	}
	@include media-breakpoint-up(lg) {
		min-height: rem(620);
		--sPT: #{rem(120)};
		--sPB: #{rem(130)};
	}
	@include media-breakpoint-up(xl) {
		min-height: 720px;
		--sPB: #{rem(150)};
	}

	@include media-breakpoint-down(lg) {
		--sPT: #{rem(30)};
		--sPB: #{rem(30)};
	}
	@include media-breakpoint-down(sm) {
		--sPT: 8px;
		--sPB: 8px;
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: linear-gradient(180deg, rgba(81, 133, 236, 0.7) 0%, rgba(81, 133, 236, 0) 100%),
			linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	}
	& > .container {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-between;
		position: relative;
		z-index: 1;
	}
	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
		align-items: center;
		margin-bottom: rem(80);
		img {
			max-height: calc(5px + 4.1vw);
			@include media-breakpoint-up(sm) {
				max-height: rem(40);
				width: auto;
				max-width: 100%;
			}
		}
	}
	.section-title {
		h1 {
			max-width: 14em;
			margin-bottom: 0;
			@include media-breakpoint-down(sm) {
				font-weight: 800;
				font-size: calc(16px + 2.21vw);
				line-height: calc(32 / 24);
			}
		}
	}
	// &__col {
	// }
	// &__item {
	// }

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sHeading
