// start .sHeading
.sHeading {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	--sTPB: 0;
	color: var(--bs-white);
	display: flex;
	flex-direction: column;
	min-height: 352px;
	// min-height: calc(var(--vh, 1vh) * 100);
	@include media-breakpoint-up(sm) {
		min-height: rem(520);
	}
	@include media-breakpoint-up(lg) {
		min-height: rem(620);
		--sPT: #{rem(120)};
		--sPB: #{rem(130)};
	}
	@include media-breakpoint-up(xl) {
		min-height: 720px;
		--sPB: #{rem(150)};
	}

	@include media-breakpoint-down(lg) {
		--sPT: #{rem(30)};
		--sPB: #{rem(30)};
	}
	@include media-breakpoint-down(sm) {
		--sPT: 8px;
		--sPB: 8px;
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: linear-gradient(180deg, rgba(81, 133, 236, 0.7) 0%, rgba(81, 133, 236, 0) 100%),
			linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	}
	& > .container {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-between;
		position: relative;
		z-index: 1;
	}
	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
		align-items: center;
		margin-bottom: rem(80);
		img {
			max-height: calc(5px + 4.1vw);
			@include media-breakpoint-up(sm) {
				max-height: rem(40);
				width: auto;
				max-width: 100%;
			}
		}
	}
	.section-title {
		h1 {
			max-width: 14em;
			margin-bottom: 0;
			@include media-breakpoint-down(sm) {
				font-weight: 800;
				font-size: calc(16px + 2.21vw);
				line-height: calc(32 / 24);
			}
		}
	}
	// &__col {
	// }
	// &__item {
	// }

	&.sHeading--mpa {
		color: var(--bs-body-color);

		@include media-breakpoint-up(xl) {
			--sPT: 140px;
		}
		@include media-breakpoint-down(sm) {
			--sPT: 18px;
			--sPB: 50px;
		}
		&::before,
		&::after {
			pointer-events: none;
			// @include a-cent(y);
			content: "";
			position: absolute;
			background-repeat: no-repeat;
			background-size: contain;
			top: 51%;
			right: 50%;
			left: auto;
			bottom: auto;
		}
		&::before {
			background-image: url(../img/svg/sHeading-bg-mpa-1.svg);

			width: calc(276px + 1vw);
			height: calc(158px + 1vw);
			transform: translate(24.3%, 38%);
			@include media-breakpoint-up(sm) {
				width: calc(702px * 0.6);
				height: calc(402px * 0.6);
				transform: translate(25.5%, 10%);
			}
			@include media-breakpoint-up(md) {
				width: calc(702px * 0.8);
				height: calc(402px * 0.8);
				transform: translate(20%, 0);
			}
			@include media-breakpoint-up(lg) {
				width: rem(702);
				height: rem(402);
				transform: translate(10%, 0);
			}
		}
		&::after {
			background-image: url(../img/svg/sHeading-bg-mpa-2.svg);
			z-index: 3;
			width: calc(129px + 1vw);
			height: calc(193px + 1vw);
			transform: translate(146.3%, 21.3%);
			@include media-breakpoint-up(sm) {
				width: calc(328px * 0.6);
				height: calc(482px * 0.6);
				transform: translate(146.3%, -14.7%);
			}
			@include media-breakpoint-up(md) {
				width: calc(328px * 0.8);
				height: calc(482px * 0.8);
				transform: translate(136.3%, -23%);
			}
			@include media-breakpoint-up(lg) {
				width: rem(328);
				height: rem(482);
				transform: translate(113.3%, -23%);
			}
		}
		& > picture {
			pointer-events: none;
			img {
				@media (min-width: 1280px) {
					height: rem(1020);
					width: rem(891);
					top: 55%;
					left: 53%;
					transform: translateY(-50%);
					object-fit: none;
				}
			}
		}
		// & > img.img-bg {
		// 	height: auto;
		// 	min-height: 100%;
		// }
		.section-title {
			width: rem(740);
			max-width: 100%;
			padding: 16px;
			border-radius: $border-radius;
			background-color: var(--bs-white);
			@include media-breakpoint-up(sm) {
				padding: 35px;
			}
			@include media-breakpoint-up(lg) {
				padding: rem(45);
			}
			h1 {
				margin-bottom: 16px;
				@include media-breakpoint-down(sm) {
					font-size: 32px;
					line-height: 1;
				}
			}
			p {
				font-size: rem(24);
				@include media-breakpoint-down(sm) {
					font-size: 19px;
					line-height: calc(24 / 19);
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.sHeading__row {
			margin-bottom: 47px;
			@include media-breakpoint-up(sm) {
				margin-bottom: 40px;
			}
			img {
				width: auto;
				max-width: 100%;
				max-height: calc(5px + 3.8vw);
				@include media-breakpoint-up(sm) {
					max-height: rem(35);
				}
				@include media-breakpoint-up(lg) {
					max-height: rem(42);
				}
			}
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(54)};
			}
		}
		& > .container {
			flex-grow: 0;
			@include media-breakpoint-down(sm) {
				--bs-gutter-x: 32px;
			}
		}
	}

	&.sHeading--trainees {
		color: var(--bs-body-color);
		min-height: unset;
		--sPT: #{rem(20)};
		--sPB: #{rem(50)};
		@include media-breakpoint-up(sm) {
			--sPT: #{rem(50)};
			--sPB: #{rem(70)};
		}
		@include media-breakpoint-up(md) {
			--sPT: #{rem(70)};
			--sPB: #{rem(70)};
		}
		@include media-breakpoint-up(lg) {
			--sPT: #{rem(110)};
			--sPB: #{rem(110)};
		}
		@include media-breakpoint-up(xl) {
			--sPT: #{rem(125)};
			--sPB: #{rem(125)};
		}
		@include media-breakpoint-up(xxl) {
			--sPT: #{rem(145)};
			--sPB: #{rem(167)};
		}
		&.sHeading:before {
			content: none;
		}
		.sHeading__row {
			// align-items: flex-start;
			margin-bottom: 0;
			--bs-gutter-y: #{rem(24)};
		}
		picture {
			img {
				width: 100%;
				max-height: 100%;
			}
		}
		.section-title {
			h1,
			.h1 {
				line-height: calc(56 / 48);
				max-width: 100%;
				margin-bottom: 24px;
				@include rfs(42px, font-size);
				@include media-breakpoint-up(xl) {
					font-size: 48px;
				}
				@include media-breakpoint-down(sm) {
					font-size: 28px;
				}
				@include media-breakpoint-up(md) {
					max-width: 12em;
					margin-bottom: 16px;
				}
				span {
					display: block;
				}
			}
			p {
				font-size: 16px;
				@include media-breakpoint-up(xl) {
					font-size: 20px;
				}
				span {
					position: relative;
					&::before {
						content: "";
						position: absolute;
						width: calc(100% + em(110));
						height: calc(100% + em(50));
						left: calc(-1 * em(110) / 2);
						top: calc(-1 * em(40) / 2);
						background-image: url("data:image/svg+xml,%3Csvg width='425' height='66' viewBox='0 0 425 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.7335 14.9932C70.094 10.6438 94.444 6.54283 119.707 4.61241C163.655 1.25414 209.31 3.00078 253.692 4.23274C283.489 5.05985 313.406 6.2879 342.92 10.1292C366.478 13.1952 393.517 16.6894 414.775 24.8746C425.745 29.0984 425.545 35.111 416.579 40.1325C403.828 47.2744 384.283 48.6352 368.219 50.3229C297.987 57.7015 226.578 63.2087 155.034 64.2328C127.594 64.6256 101.028 63.3747 73.7843 59.9508C55.0865 57.601 34.0767 55.2995 17.0265 48.9389C10.4055 46.4689 1.54777 41.8931 1.57876 36.2509C1.62669 27.5243 24.132 22.3741 33.3123 19.831C98.6841 1.72203 168.122 0.97076 239.2 2.3528C275.572 3.06001 311.854 3.81114 348.144 7.02201C369.742 8.93302 399.187 11.257 416.609 21.7123C422.225 25.0827 424.972 30.1094 422.946 34.8C419.713 42.2896 401.663 43.217 392.294 44.2057C359.061 47.7129 324.374 46.7496 290.598 46.4054C245.512 45.9459 200.47 45.7036 155.399 45.5341C109.042 45.3598 58.1728 45.5643 16.7412 28.0455C15.6035 27.5644 10.0664 25.2523 13.8502 24.6716C27.135 22.6327 40.9059 21.5471 54.4144 20.2028C132.391 12.4431 212.379 3.30731 292.081 4.5172C321.645 4.966 355.088 7.56873 381.748 17.7213C392.462 21.8015 408.168 28.3316 415.495 35.2888C420.9 40.421 400.795 42.5111 397.167 42.8583C375.743 44.9089 353.371 44.8577 331.723 45.7782C260.049 48.8262 188.809 46.4694 116.882 41.6854' stroke='%23FFBE55' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
						z-index: -1;
						background-size: 100% 100%;
					}
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sHeading
