mixin sHeading(data)
	// start sHeading
	+b.SECTION.sHeading.section#sHeading&attributes(attributes)
		.container
			+e.row.row
				.col-auto
					p lorem
				.col-auto
					p lorem
				.col-auto
					p lorem
			+b.section-title
				h1 Программа MPA для директоров и управленческих команд образовательных организаций города Москвы
				
	// end sHeading