// start .headerBlock
.headerBlock.news + .section {
	padding-top: 0;
}
.headerBlock {
	position: relative;
	--sPT: #{rem(48)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(8)};
	// background-image: url('../img/svg/network-header-bg-2.svg');
	// background-position: center -10px;
	// background-size: 100% auto;
	// background-color: #D2F3F0;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	z-index: 5;
	// background: linear-gradient(45deg, #d2f3f0, #d2f3f0 25%,#c0eeeb 25%,#c0eeeb 33%,#b8ece8 33%,#b8ece8 40%,#B0EAE6 40%,#B0EAE6 50%),	linear-gradient(to bottom right, #B0EAE6 50%,#B0EAE6 60%, #b8ece8 60%, #b8ece8 73%, #c0eeeb 73%,#c0eeeb 85%,#d2f3f0 85%, #d2f3f0);
	&::before,
	&::after {
		position: absolute;
		content: "";
		top: 0;
		width: 50%;
		height: 100%;
		z-index: -1;
	}
	&::before {
		left: 0;
		background: linear-gradient(
			45deg,
			#d2f3f0,
			#d2f3f0 35%,
			#c0eeeb 35%,
			#c0eeeb 43%,
			#b8ece8 43%,
			#b8ece8 50%,
			#b0eae6 50%,
			#b0eae6
		);
	}
	&::after {
		right: 0;
		background: linear-gradient(
			-45deg,
			#d2f3f0,
			#d2f3f0 35%,
			#c0eeeb 35%,
			#c0eeeb 43%,
			#b8ece8 43%,
			#b8ece8 50%,
			#b0eae6 50%,
			#b0eae6
		);
	}
	&.news {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
		@include media-breakpoint-down(md) {
			--sPT: #{rem(24)};
			--sPB: #{rem(24)};
			background-size: cover;
		}
	}
	&.headerBlock--task {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
		--sTPB: 0;
		.section-title {
			h1 {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		@include media-breakpoint-down(md) {
			--sPT: #{rem(24)};
			--sPB: #{rem(24)};
			background-size: cover;
		}
	}
	&.faq {
		--sPT: #{rem(35)};
		--sPB: #{rem(20)};
	}
	&--alerts {
		--sPT: #{rem(24)};
		--sPB: #{rem(24)};
		@include media-breakpoint-up(md) {
			--sPT: #{rem(40)};
			--sPB: #{rem(40)};
		}
		.section-title {
			&:last-child {
				margin-bottom: 0;
			}
		}
		h1 {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.network {
		@include media-breakpoint-down(md) {
			box-shadow: none;
		}
	}
	&--events {
		--sPT: #{rem(40)};
		--sPB: #{rem(16)};
		--sTPB: #{rem(24)};
	}
	&--useful {
		--sPT: #{rem(40)};
		--sPB: #{rem(16)};
		--sTPB: #{rem(24)};
		.breadcrumb {
			padding-top: 8px;
			padding-bottom: 8px;
		}
		.container--breadcrumb {
			max-width: 1584px;
			@include a-cent(x);
			position: absolute;
			top: 0;
			.swiper {
				overflow: visible;
			}
		}
		.events-filter {
			&__radio-wrap {
				@include media-breakpoint-up(md) {
					// flex: 1 0 0%;
					width: 100%;
					max-width: 100%;
					// max-width: rem(1030);
					.custom-input {
						width: 100%;
						&__text {
							text-align: center;
						}
					}
				}
			}
		}
		.headerBlock__roww {
			align-items: center;
			--bs-gutter-y: var(--bs-gutter-x);
		}
		.headerBlock__btn-archive {
			width: rem(295);
			max-width: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			.icon {
				flex-shrink: 0;
			}
			&--right {
				padding-left: rem(24);
				.icon {
					margin-left: 4px;
					
				}
			}
			&--left {
				padding-right: rem(24);
				.icon {
					margin-right: 4px;
				}
			}
			span {
				display: inline-block;
				@include media-breakpoint-up(lg) {
					line-height: 1;
				}
			}
			.icon {
				font-size: rem(24);
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
	}

	.section-title {
		h1 {
			font-weight: 700;
			font-size: 48px;
			line-height: 117%;
			@include media-breakpoint-down(md) {
				font-size: 32px;
				line-height: 1;
			}
		}
	}

	&__descr {
		margin: 0 auto;
		margin-bottom: 24px;
		max-width: 900px;
		font-size: rem(18);
		line-height: 133%;
		color: $black;
	}

	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}

	label {
		display: flex;
		flex-direction: column-reverse;
	}

	&__input-wrap {
		margin-bottom: 28px;
		@include media-breakpoint-down(md) {
			margin-bottom: 9px;
		}
		label {
			width: 100%;
		}
	}

	&__input-title {
		padding-left: 16px;
		margin-bottom: 2px;
		font-size: 14px;
		line-height: 16px;
	}

	&__input {
		width: 100%;
		padding-left: 15px;
		border: 1px solid transparent;
	}

	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}
	.choices {
		margin-bottom: 0;
	}
	&--2 {
		.events-filter__radio-wrap--icon {
			@include media-breakpoint-down(md) {
				width: calc(100% - var(--bs-gutter-x));
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}

	.select2-container--default .select2-selection--multiple,
	.select2-container--default .select2-selection--single {
		border-color: #fff !important;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		display: inline;
	}
}

// end.headerBlock

.newsItemHeader {
	padding-top: 0;
	padding-bottom: 16px;
	&.register {
		.newsItemHeader__img-wrap {
			&::after {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					180deg,
					rgba(0, 99, 81, 0.6) 11.76%,
					rgba(0, 99, 87, 0.3) 21.72%,
					rgba(0, 99, 69, 0.3) 44.85%,
					rgba(0, 99, 81, 0.6) 85.66%
				);
			}
		}
	}
	&__container {
		max-width: 1584px;
	}
	&__row {
		--bs-gutter-x: 0;
	}
	&__img-wrap {
		height: 100%;
		@include block(512, 348);
		border-radius: 8px 0px 0px 8px;
		overflow: hidden;
		@include media-breakpoint-down(sm) {
			border-radius: 0px 0px 8px 8px;
		}
		img {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__text-block {
		display: flex;
		flex-direction: column;
		padding: rem(24) rem(34) rem(16);
		background-image: url("../img/svg/profile-bg.svg");
		background-repeat: no-repeat;
		background-position: top left;
		background-size: auto 105%;
		background-color: $white;
		border-radius: 0px 8px 8px 0px;
		@include media-breakpoint-down(sm) {
			min-height: 160px;
			padding: rem(24) rem(16);
			border-radius: 8px 8px 0px 0px;
		}
		h1 {
			max-width: 440px;
			font-size: rem(32);
			line-height: 100%;
			@include media-breakpoint-down(lg) {
				font-size: rem(20);
			}
			@include media-breakpoint-down(sm) {
				font-size: rem(22);
			}
		}
	}
	&__descr {
		margin-bottom: 16px;
	}
	&__details {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: auto;
		color: $gray-600;
		font-size: 13px;
		line-height: 16px;
	}
	&__category {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 3px 16px;
		margin-right: 8px;
		border: 1px solid #999eab;
		border-radius: 24px;
		@include media-breakpoint-down(lg) {
			margin-bottom: 16px;
		}
	}
	&__date {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: auto;
		@include media-breakpoint-down(lg) {
			margin-bottom: 16px;
		}
		.icon {
			margin: 0 4px;
			font-size: 16px;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		min-width: 164px;
		font-size: 18px;
		&--registered {
			pointer-events: none;
		}
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
		.icon {
			font-size: 20px;
		}
	}
	&__btn-text {
		display: inline;
	}
}

.headerBlock__input-title {
	@include media-breakpoint-down(md) {
		display: none;
	}
}
.events-filter {
	.select2 {
		width: 100% !important;
	}
	&__btn {
		display: flex;
		position: relative;
		align-items: center;
		padding: 8px 40px 8px 15px;
		width: 100%;
		font-size: rem(16);
		line-height: 1;
		background-color: $white;
		border: 1px solid transparent;
		border-radius: $border-radius;
		color: var(--bs-body-color, #{$body-color});
		&::after {
			position: absolute;
			content: "";
			right: 15px;
			top: 50%;
			width: 16px;
			height: 16px;
			background-image: url("../img/svg/filter.svg");
			background-size: cover;
			background-repeat: no-repeat;
			transform: translateY(-50%);
		}
		&.active::after {
			background-image: url("../img/svg/close.svg");
			background-size: 14px 14px;
		}
		.icon {
			margin-left: auto;
			width: 16px;
			height: 16px;
		}
	}
	@include media-breakpoint-down(md) {
		background-color: $white;
		background: #ffffff;
		border-radius: $border-radius;
	}
	&__filter-wrap {
		display: flex;
		justify-content: center;
		@include media-breakpoint-down(md) {
			display: none;
			flex-direction: column;
			padding: 16px;
			&.active {
				display: block;
			}
		}
	}

	&__radio-wrap {
		&--text {
			justify-content: space-between;
			width: 100%;
			max-width: 772px;
			.custom-input {
				width: 100%;
				text-align: center;
			}
			.custom-input__text {
				white-space: nowrap;
			}
		}
		@include media-breakpoint-down(md) {
			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
		@include media-breakpoint-down(sm) {
			&:not(:last-child) {
				margin-bottom: 0;
				// padding-bottom: 0;
			}
		}
		&--icon {
			display: flex;
			justify-content: center;
			align-items: center;
			@include media-breakpoint-down(md) {
				border: none;
			} 
			label {
				width: 32px;
				height: 32px;
				justify-content: center;
				align-items: center;

				padding: 0 !important;
			}
			span {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.icon {
				// position: relative;
				// top: -1px;
			}
			@include media-breakpoint-up(md) {
				.custom-input__input {
					width: 32px;
					height: 32px;
				}
			}
			.custom-input__text {
				line-height: 1;
			}
			@include media-breakpoint-down(sm) {
				margin-left: 4px;
				margin-right: 4px;
			}
		}
		&:not(.events-filter__radio-wrap--icon) {
			@include media-breakpoint-down(sm) {
				flex-direction: column;
				border: none;
				.custom-input {
					width: 100%;
					margin-bottom: 8px;
					margin-right: 0;
					padding: 7px;
				}
				.custom-input__input {
					border: 1px solid $gray-300;
				}
			}
		}
		&--icon {
			color: var(--bs-primary);

			.icon {
				font-size: 16px;
				flex: 0 0 auto;
			}
		}
		&:not(:last-child) {
			margin-right: 8px;
		}
	}
	&__btn-create {
		width: 100%;
		@include media-breakpoint-up(md) {
			max-width: rem(248);
		}
	}
}
