// start .headerBlock
.headerBlock {
	position: relative;
	--sPT: #{rem(48)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(8)};
	// background-image: url('../img/svg/network-header-bg-2.svg');
	// background-position: center -10px;
	// background-size: 100% auto;
	// background-color: #D2F3F0;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	// background: linear-gradient(45deg, #d2f3f0, #d2f3f0 25%,#c0eeeb 25%,#c0eeeb 33%,#b8ece8 33%,#b8ece8 40%,#B0EAE6 40%,#B0EAE6 50%),	linear-gradient(to bottom right, #B0EAE6 50%,#B0EAE6 60%, #b8ece8 60%, #b8ece8 73%, #c0eeeb 73%,#c0eeeb 85%,#d2f3f0 85%, #d2f3f0);
	&::before,
	&::after {
		position: absolute;
		content: "";
		top: 0;
		width: 50%;
		height: 100%;
		z-index: -1;
	}
	&::before {
		left: 0;
		background: linear-gradient(
			45deg,
			#d2f3f0,
			#d2f3f0 35%,
			#c0eeeb 35%,
			#c0eeeb 43%,
			#b8ece8 43%,
			#b8ece8 50%,
			#b0eae6 50%,
			#b0eae6
		);
	}
	&::after {
		right: 0;
		background: linear-gradient(
			-45deg,
			#d2f3f0,
			#d2f3f0 35%,
			#c0eeeb 35%,
			#c0eeeb 43%,
			#b8ece8 43%,
			#b8ece8 50%,
			#b0eae6 50%,
			#b0eae6
		);
	}
	&.news {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
		@include media-breakpoint-down(md) {
			--sPT: #{rem(24)};
			--sPB: #{rem(24)};
			background-size: cover;
		}
	}
	&--events {
		--sPT: #{rem(40)};
		--sPB: #{rem(16)};
		--sTPB: #{rem(24)};
	}
	&--useful {
		--sPT: #{rem(40)};
		--sPB: #{rem(16)};
		--sTPB: #{rem(24)};
		.events-filter {
			&__radio-wrap {
				@include media-breakpoint-up(md) {
					width: 100%;
					max-width: rem(1030);
					.custom-input {
						width: 100%;
						&__text {
							text-align: center;
						}
					}
				}
			}
		}
	}

	.section-title {
		h1 {
			font-weight: 700;
			font-size: 48px;
			line-height: 117%;
			@include media-breakpoint-down(md) {
				font-size: 32px;
				line-height: 1;
			}
		}
	}

	&__descr {
		margin: 0 auto;
		margin-bottom: 24px;
		max-width: 900px;
		font-size: rem(18);
		line-height: 133%;
		color: $black;
	}

	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}

	label {
		display: flex;
		flex-direction: column-reverse;
	}

	&__input-wrap {
		margin-bottom: 28px;
		@include media-breakpoint-down(md) {
			margin-bottom: 9px;
		}
		label {
			width: 100%;
		}
	}

	&__input-title {
		padding-left: 16px;
		margin-bottom: 2px;
		font-size: 14px;
		line-height: 16px;
	}

	&__input {
		width: 100%;
		padding-left: 15px;
		border: 1px solid transparent;
	}

	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}

	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

// end.headerBlock

.newsItemHeader {
	padding-top: 0;
	padding-bottom: 16px;
	&__container {
		max-width: 1584px;
	}
	&__row {
		--bs-gutter-x: 0;
	}
	&__img-wrap {
		@include block(512, 348);
		border-radius: 8px 0px 0px 8px;
		overflow: hidden;
		@include media-breakpoint-down(sm) {
			border-radius: 0px 0px 8px 8px;
		}
		img {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
	&__text-block {
		display: flex;
		flex-direction: column;
		padding: rem(24) rem(34) rem(16);
		background-image: url("../img/svg/profile-bg.svg");
		background-repeat: no-repeat;
		background-position: top left;
		background-size: auto 105%;
		background-color: $white;
		border-radius: 0px 8px 8px 0px;
		@include media-breakpoint-down(sm) {
			min-height: 160px;
			padding: rem(24) rem(16);
			border-radius: 8px 8px 0px 0px;
		}
		h1 {
			max-width: 440px;
			font-size: rem(32);
			line-height: 100%;
			@include media-breakpoint-down(lg) {
				font-size: rem(20);
			}
			@include media-breakpoint-down(sm) {
				font-size: rem(22);
			}
		}
	}
	&__details {
		display: flex;
		margin-top: auto;
		color: $gray-600;
		font-size: 13px;
		line-height: 16px;
	}
	&__category {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 3px 16px;
		margin-right: 8px;
		border: 1px solid #999eab;
		border-radius: 24px;
	}
	&__date {
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			margin: 0 4px;
			font-size: 16px;
		}
	}
}

.headerBlock__input-title {
	@include media-breakpoint-down(md) {
		display: none;
	}
}
.events-filter {
	&__btn {
		display: flex;
		position: relative;
		align-items: center;
		padding: 8px 40px 8px 15px;
		width: 100%;
		font-size: rem(16);
		line-height: 125%;
		background-color: $white;
		border: 1px solid transparent;
		border-radius: $border-radius;
		&::after {
			position: absolute;
			content: "";
			right: 15px;
			top: 50%;
			width: 16px;
			height: 16px;
			background-image: url("../img/svg/filter.svg");
			background-size: cover;
			background-repeat: no-repeat;
			transform: translateY(-50%);
		}
		&.active::after {
			background-image: url("../img/svg/close.svg");
			background-size: 14px 14px;
		}
		.icon {
			margin-left: auto;
			width: 16px;
			height: 16px;
		}
	}
	@include media-breakpoint-down(md) {
		background-color: $white;
		background: #ffffff;
		border-radius: $border-radius;
	}
	&__filter-wrap {
		display: flex;
		justify-content: center;
		@include media-breakpoint-down(md) {
			display: none;
			flex-direction: column;
			padding: 16px;
			&.active {
				display: block;
			}
		}
	}
	&__radio-wrap {
		@include media-breakpoint-down(md) {
			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
		@include media-breakpoint-down(sm) {
			&:not(:last-child) {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
		&--icon {
			@include media-breakpoint-down(sm) {
				margin-left: 4px;
				margin-right: 4px;
			}
		}
		&:not(.events-filter__radio-wrap--icon) {
			@include media-breakpoint-down(sm) {
				flex-direction: column;
				border: none;
				.custom-input {
					width: 100%;
					margin-bottom: 8px;
					margin-right: 0;
					padding: 7px;
				}
				.custom-input__input {
					border: 1px solid $gray-300;
				}
			}
		}
		&--icon {
			color: $primary;
			.icon {
				font-size: 16px;
			}
		}
		&:not(:last-child) {
			margin-right: 8px;
		}
	}
}
