mixin headerBlock(title,p,network)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container-fluid
			+b.section-title.text-center
				h1= title
			if p
				+e.descr
					p.text-center!= p
			if network
				.row
					.col-6
						+input("Введите ФИО или должность",'', 'Поиск')
					.col-6
						+input("Все участники",'select', 'Группа')


	// end headerBlock