mixin headerBlock(title,p,network)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container-fluid
			+b.section-title.text-center
				h1= title
			if p
				+e.descr
					p.text-center!= p
			if network
				.row
					.col-12.col-md-6
						+input("Введите ФИО или должность",'', 'Поиск')
					.d-none.d-md-block.col-6
						+input("Все участники",'select', 'Группа').js-choice

	// end headerBlock

mixin newsItemHeader
	// start newsItemHeader
	+b.newsItemHeader.section#headerBlock&attributes(attributes)
		+e.container.container-fluid
			+e.row.row
				+e.text-block.col-sm-6.order-sm-2
					h1 Встречи с&nbsp;признанными экспертами в&nbsp;сфере управления
					+e.details
						+e.category Вебинар
						+e.date 
							+icon('calendar')
							| 26 сентября
				.col-sm-6.order-sm-1
					+e.img-wrap
						+img('img/news-preview-5.jpg')

mixin eventsHeader
	+b.headerBlock--events.section#headerBlock&attributes(attributes)
		.container-fluid
			+b.section-title.text-center
				h1 Мероприятия
			+b.events-filter
				+e.btn--js.d-md-none.BUTTON(data-toggle="#events-dropdown") Фильтр
				+e.filter-wrap(id="events-dropdown")
					+e.radio-wrap.radio-wrap
						+in-c('radio','Все мероприятия','events')(checked)
						+in-c('radio','Прошедшие мероприятия','events')
						+in-c('radio','Мои мероприятия','events')
					+e.radio-wrap--icon.radio-wrap
						label.custom-input.form-check
							input.custom-input__input.form-check-input(name="events-app" type="radio" checked="checked")
							span.custom-input__text.form-check-label
								+icon('list')
						label.custom-input.form-check
							input.custom-input__input.form-check-input(name="events-app" type="radio")
							span.custom-input__text.form-check-label
								+icon('calendar')


mixin sUsefulHeader
	+b.headerBlock--useful.section#headerBlock&attributes(attributes)
		.container-fluid
			+b.section-title.text-center
				h1 Полезные материалы
			+b.events-filter
				+e.btn--js.d-md-none.BUTTON(data-toggle="#useful-dropdown") Фильтр
				+e.filter-wrap(id="useful-dropdown")
					+e.radio-wrap.radio-wrap
						+in-c('radio','Все материалы','useful')(checked)
						+in-c('radio','Обязательные','useful')
						+in-c('radio','Факультативные','useful')
						+in-c('radio','Рекомендации','useful')

	// end newsItemHeader