mixin headerBlock(title,p,network)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container-fluid
			+b.section-title.text-center
				h1= title
			if p
				+e.descr
					p.text-center!= p
			if network
				.row
					.col-6
						+input("Введите ФИО или должность",'', 'Поиск')
					.col-6
						+input("Все участники",'select', 'Группа')


	// end headerBlock

mixin newsItemHeader
	// start newsItemHeader
	+b.newsItemHeader.section#headerBlock&attributes(attributes)
		+e.container.container
			+e.row.row
				+e.text-block.col-sm-6.order-sm-2
					h1 Встречи с&nbsp;признанными экспертами в&nbsp;сфере управления
					+e.details
						+e.category Вебинар
						+e.date 
							+icon('calendar')
							| 26 сентября
				.col-sm-6.order-sm-1
					+e.img-wrap
						+img('img/news-header.jpg')


	// end newsItemHeader