mixin sFeatures(data)
	// start sFeatures
	+b.SECTION.sFeatures.section#sFeatures&attributes(attributes)
		.container-fluid
			+e.wrapper
				+e.row.row
					mixin item(h3, p)
						.col-md-6.col-lg-4
							+e.item
								if h3
									h3!= h3
								else
									+icon('check-rounded')
									p!= p
					+item(`Возможности <br> программы`)
					+item(``, `Индивидуальная траектория обучения: с&nbsp;учетом специализации и&nbsp;потребностей конкретной организации.`)
					+item(``, `Кураторы проектной работы сопровождают участников на&nbsp;протяжении всего периода обучения.`)
					+item(``, `Удобное сочетание очных и&nbsp;дистанционных форматов: лекции, тренинги, мастер-классы, VR-тренажеры, вебинары, индивидуальные треки развития.`)
					+item(``, `Автоматизированная образовательная платформа и&nbsp;функционал личного кабинета позволяют обучаться не&nbsp;только очно, но&nbsp;и&nbsp;удаленно, всегда иметь удобный доступ к&nbsp;учебным материалам и&nbsp;отслеживать свой прогресс.`)
					+item(``, `Стажировки в&nbsp;компаниях&nbsp;&mdash; лидерах своей отрасли, изучение лучших практик управления современной организацией.`)
					+item(``, `Преподаватели&nbsp;&mdash; эксперты в&nbsp;сфере образования, практики с&nbsp;опытом работы в&nbsp;государственном управлении и&nbsp;бизнесе.`)
					+item(``, `Сообщество единомышленников, общее профессиональное пространство для нетворкинга.`)
				
	// end sFeatures