mixin sFeatures(data)
	// start sFeatures
	+b.SECTION.sFeatures.section#sFeatures&attributes(attributes)
		.container-fluid
			+e.wrapper
				+e.row.row
					mixin featuresItem(h2, p)
						.col-md-6.col-lg-4
							+e.item
								if h2
									h2!= h2
								else
									+icon('check-rounded')
									p!= p
					+featuresItem(`Возможности <br> программы`)
					+featuresItem(``, `Индивидуальная траектория обучения: с&nbsp;учетом специализации и&nbsp;потребностей конкретной организации.`)
					+featuresItem(``, `Кураторы проектной работы сопровождают участников на&nbsp;протяжении всего периода обучения.`)
					+featuresItem(``, `Удобное сочетание очных и&nbsp;дистанционных форматов: лекции, тренинги, мастер-классы, VR-тренажеры, вебинары, индивидуальные треки развития.`)
					+featuresItem(``, `Автоматизированная образовательная платформа и&nbsp;функционал личного кабинета позволяют обучаться не&nbsp;только очно, но&nbsp;и&nbsp;удаленно, всегда иметь удобный доступ к&nbsp;учебным материалам и&nbsp;отслеживать свой прогресс.`)
					+featuresItem(``, `Стажировки в&nbsp;компаниях&nbsp;&mdash; лидерах своей отрасли, изучение лучших практик управления современной организацией.`)
					+featuresItem(``, `Преподаватели&nbsp;&mdash; эксперты в&nbsp;сфере образования, практики с&nbsp;опытом работы в&nbsp;государственном управлении и&nbsp;бизнесе.`)
					+featuresItem(``, `Сообщество единомышленников, общее профессиональное пространство для нетворкинга.`)
				
	// end sFeatures