mixin sAlerts(data)
	// start sAlerts
	+b.sAlerts.section#sAlerts&attributes(attributes)
		.container-fluid
			+e.wrapper
				+e.row.row
					mixin sAlertsItem(date, text, btn)
						.col-md-6
							+e.item&attributes(attributes)
								+e.item-head
									span.text-secondary!= date
									+icon('letter')
									+icon('letter-read')
								p!= text
								+e.btn(href="#")!= btn
					+sAlertsItem(`15.11.2022 12:49:17`, `Агадуллина Елена добавила Вас в Избранное`, `Посмотреть профиль`)
					+sAlertsItem(`15.11.2022 12:49:17`, `Агадуллина Елена сделала запрос на обмен контактами`, `Рассмотреть заявку`)
					+sAlertsItem(`15.11.2022 12:49:17`, `Васин Сергей  одобрил ваш запрос на обмен контактами`, `Посмотреть профиль`)
					+sAlertsItem(`14.11.2022 13:00:56`, `На портале добавлено новое событие «Встреча с академическим руководителем и студентами» , дата проведения 16.11.2022 в 18:00`, `Посмотреть событие`)
					+sAlertsItem(`15.11.2022 12:49:17`, `Васин Сергей  отклонил ваш запрос на обмен контактами`, `Посмотреть профиль`)
					+sAlertsItem(`15.11.2022 11:00:00`, `Завтра 16.11.2022. запланировано событие «Встреча с академическим руководителем и студентами» , на которое Вы приглашены`, `Посмотреть событие`)
					+sAlertsItem(`15.11.2022 12:49:17`, `Васин Сергей  одобрил ваш запрос на обмен контактами`, `Посмотреть профиль`)
					+sAlertsItem(`15.11.2022 12:49:17`, `Васин Сергей  отклонил ваш запрос на обмен контактами`, `Посмотреть профиль`)
					+sAlertsItem(`14.11.2022 13:00:56`, `На портале добавлено новое событие «Встреча с академическим руководителем и студентами» , дата проведения 16.11.2022 в 18:00`, `Посмотреть событие`)
					+sAlertsItem(`15.11.2022 11:00:00`, `Завтра 16.11.2022. запланировано событие «Встреча с академическим руководителем и студентами» , на которое Вы приглашены`, `Посмотреть событие`)
					+sAlertsItem(`14.11.2022 13:00:56`, `На портале добавлено новое событие «Встреча с академическим руководителем и студентами» , дата проведения 16.11.2022 в 18:00`, `Посмотреть событие`)
					+sAlertsItem(`15.11.2022 11:00:00`, `Завтра 16.11.2022. запланировано событие «Встреча с академическим руководителем и студентами» , на которое Вы приглашены`, `Посмотреть событие`)
					+sAlertsItem(`15.11.2022 12:49:17`, `Агадуллина Елена добавила Вас в Избранное`, `Посмотреть профиль`)
					+sAlertsItem(`15.11.2022 12:49:17`, `Агадуллина Елена сделала запрос на обмен контактами`, `Рассмотреть заявку`)
					+sAlertsItem(`15.11.2022 12:49:17`, `Васин Сергей  одобрил ваш запрос на обмен контактами`, `Посмотреть профиль`)
					+sAlertsItem(`15.11.2022 12:49:17`, `Васин Сергей  отклонил ваш запрос на обмен контактами`, `Посмотреть профиль`)
					+sAlertsItem(`14.11.2022 13:00:56`, `На портале добавлено новое событие «Встреча с академическим руководителем и студентами» , дата проведения 16.11.2022 в 18:00`, `Посмотреть событие`).read
					+sAlertsItem(`15.11.2022 11:00:00`, `Завтра 16.11.2022. запланировано событие «Встреча с академическим руководителем и студентами» , на которое Вы приглашены`, `Посмотреть событие`).read

			+pagin()
	// end sAlerts


mixin sAlertsEmpty(data)
	// start sAlerts
	+b.sAlerts--empty.section#sAlerts&attributes(attributes)
		.container-fluid
			+e.wrapper
				+e.icon-empty
					+icon('alerts')
				p У&nbsp;вас нет оповещений
	// end sAlerts