// start .sAlerts
.sAlerts {
	--sPT: 0;
	--sPB: 52px;
	@include media-breakpoint-up(md) {
		// --sPT: 24px;
		--sPB: 56px;
	}
	@include media-breakpoint-up(xl) {
		// --sPT: #{rem(24)};
		--sPB: #{rem(56)};
	}
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
	}
	&__col {
	}
	&__item {
		@include mt;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		background-color: $white;
		border-radius: $border-radius-sm;
		border: 1px solid $white;
		filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
		padding: 16px;
		@include media-breakpoint-up(xl) {
			padding: rem(16);
		}
		p {
			margin-bottom: 8px;
			flex-grow: 1;
			width: 100%;
			@include media-breakpoint-up(md) {
				margin-bottom: 16px;
			}
			@include media-breakpoint-up(xl) {
				margin-bottom: rem(16);
			}
		}
		&.read {
			background-color: transparent;
			filter: none;
			border-color: $border-color;
			.sAlerts__item-head {
				.icon {
					color: $secondary;
					
					&-letter-read {
						opacity: 1;
					}
					&-letter {
						opacity: 0;
					}
				}
			}
		}
	}
	&__item-head {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		& span {
			display: inline-block;
			color: $secondary;
			font-size: 14px;
			line-height: calc(24 / 14);
			// margin-right: auto;
			@include media-breakpoint-up(xl) {
				font-size: rem(14);
			}
		}
		.icon {
			position: absolute;
			right: 0;
			font-size: 24px;
			pointer-events: none;
			@include mt;
			@include media-breakpoint-up(xl) {
				font-size: rem(24);
			}
			&-letter-read {
				opacity: 0;
			}
		}
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	& > .container-fluid {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&__btn {
		@extend .btn, .btn-primary;
		--bs-btn-padding-x: 7px;
		--bs-btn-padding-y: 4px;
		font-size: 18px;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		@include media-breakpoint-up(xl) {
			--bs-btn-padding-x: #{rem(7)};
			--bs-btn-padding-y: #{rem(4)};
		}
	}

	&--empty {
		// --sPT: 0;
		// --sPB: 24px;
		// @include media-breakpoint-up(md) {
		// 	--sPT: 24px;
		// 	--sPB: 72px;
		// }
		// @include media-breakpoint-up(xl) {
		// 	--sPT: #{rem(24)};
		// 	--sPB: #{rem(72)};
		// }
		// & > .container {
		// 	display: flex;
		// 	flex-direction: column;
		// 	flex-grow: 1;
		// }
		.sAlerts__wrapper {
			align-items: center;
			justify-content: center;
			background-color: $white;
			padding: 16px 16px 56px;
			border-radius: $border-radius-sm;
			@include media-breakpoint-up(xl) {
				padding: rem(16) rem(16) rem(56);
			}
			p {
				@extend .h4;
				margin-bottom: 0;
				text-align: center;
				font-weight: 400;
				@include media-breakpoint-down(md) {
					font-size: 19px;
				}
			}
		}
		.sAlerts__icon-empty {
			width: 100px;
			height: 100px;
			position: relative;
			border-radius: 50%;
			background-color: var(--bs-primary-light, #dcf6f4);
			margin-bottom: 46px;
			@include media-breakpoint-up(md) {
				margin-bottom: 28px;
			}
			@include media-breakpoint-up(xl) {
				margin-bottom: rem(28);
				margin-bottom: rem(46);
				width: rem(100);
				height: rem(100);
			}
			.icon {
				color: var(--bs-primary);
				@include a-cent1;
				font-size: 96px;
				@include media-breakpoint-up(xl) {
					font-size: rem(96);
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAlerts
