// start .sTraining
.sTraining {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	--sPT: 16px;
	--sPB: 52px;
	@include media-breakpoint-up(md) {
		--sPT: 16px;
		--sPB: 58px;
	}
	@include media-breakpoint-up(xl) {
		--sPT: #{rem(16)};
		--sPB: #{rem(58)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__aside-col {
		width: 100%;
		@include media-breakpoint-up(md) {
			width: rem(370);
		}
	}
	&__content {
		@include media-breakpoint-up(md) {
			width: calc(100% - rem(370));
		}
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	& > .container-fluid {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	// &__item {
	// }

	.aside-head {
		padding: 16px;
		background-color: var(--bs-white);
		border-radius: $border-radius-sm;
		margin-bottom: 16px;
		@include media-breakpoint-up(xl) {
			padding: rem(16);
			margin-bottom: rem(16);
		}
		&__title-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			@include roww(10px, m);
			margin-bottom: 10px;
			margin-top: calc(-1 * var(--bs-gutter-x) / 2);
			@include media-breakpoint-up(xl) {
				margin-bottom: rem(10);
			}
			& > * {
				margin-top: calc(var(--bs-gutter-x) / 2);
			}
		}
		&__title {
			font-weight: 800;
			font-size: 12px;
			line-height: 1;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			@include media-breakpoint-up(xl) {
				font-size: rem(12);
			}
		}
		&__progress {
			font-size: 14px;
			line-height: calc(16 / 14);
			color: $dark-teal;
			@include media-breakpoint-up(xl) {
				font-size: rem(14);
			}
		}
		.progress {
			display: flex;
			height: 2px;
			overflow: hidden;
			background-color: var(--bs-light);
			margin-bottom: 14px;
			@include media-breakpoint-up(xl) {
				margin-bottom: rem(14);
			}
		}
		.progress-bar {
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: hidden;
			text-align: center;
			white-space: nowrap;
			background-color: var(--bs-primary);
			transition: width 0.6s ease;
		}
		&__download-btn {
			width: 100%;
			padding: 3px 16px;
			font-size: 14px;
			line-height: calc(16 / 14);
			display: flex;
			align-items: center;
			justify-content: center;
			@include media-breakpoint-up(xl) {
				padding: rem(3) rem(16);
				font-size: rem(14);
			}
			.icon {
				font-size: 16px;
				margin-left: 8px;
				@include media-breakpoint-up(xl) {
					font-size: rem(16);
					margin-left: rem(8);
				}
			}
		}
	}
	&__modules-wrap {
		background-color: var(--bs-white);
		border-radius: $border-radius-sm;
	}
	.topicModule {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: calc(100% - 32px);
			height: 2px;
			bottom: -1px;
			left: 16px;
			bottom: 0;
			background-color: var(--bs-light);
			@include media-breakpoint-up(xl) {
				left: rem(16);
				width: calc(100% - rem(32));
			}
		}
		&.topicModule--main {
			& > .topicModule__head {
				.topicModule__title {
					color: $dark-teal;
				}
			}

			&:last-child {
				&::after {
					content: none;
				}
			}
		}
		&__head {
			position: relative;
			display: flex;
			align-items: flex-start;
			padding: 16px;
			padding-right: 48px;
			@include media-breakpoint-up(xl) {
				padding: rem(16);
				padding-right: rem(48);
			}

			.icon {
				position: absolute;
				right: 16px;
				top: 16px;
				font-size: 24px;
				@include media-breakpoint-up(xl) {
					font-size: rem(24);
					right: rem(16);
					top: rem(16);
				}
			}
		}
		&__title {
			flex-grow: 1;
			margin-right: 12px;
			font-weight: 700;
			font-size: 18px;
			line-height: calc(20 / 18);
			padding-top: 2px;
			@include media-breakpoint-up(xl) {
				font-size: rem(18);
				margin-right: rem(12);
			}
		}
		&__count {
			text-align: right;
			font-size: 14px;
			line-height: calc(24 / 14);
			color: var(--bs-secondary);
			@include media-breakpoint-up(xl) {
				font-size: rem(14);
			}
		}
		&__content {
			position: relative;
			// padding: 16px;
			// @include media-breakpoint-up(xl) {
			// 	padding: rem(16);
			// }
			// &:not(.active) {
			// 	display: none;
			// }

			&::before {
				content: "";
				position: absolute;
				width: calc(100% - 32px);
				height: 2px;
				top: -1px;
				left: 16px;
				bottom: 0;
				background-color: var(--bs-light);
				@include media-breakpoint-up(xl) {
					left: rem(16);
					width: calc(100% - rem(32));
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sTraining
