// start .sAbout
.sAbout {
	--sPT: 4px;
	--sPB: 4px;
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(12)};
		--sPB: #{rem(12)};
	}
	// --sTPB: #{rem()};
	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
		@include media-breakpoint-down(md) {
			--bs-gutter-y: #{rem(24)};
		}
		@include media-breakpoint-down(sm) {
			--bs-gutter-y: #{rem(8)};
		}
	}
	// .section-title {
	// }
	// &__col {
	// }
	&__item {
		padding: 1.5rem 1rem;
		height: 100%;
		background-color: var(--bs-white);
		border-radius: rem(24);
		position: relative;
		z-index: 2;
		font-size: rem(16);
		@include media-breakpoint-up(sm) {
			// padding: 1.5rem;
			min-height: rem(200);
			// font-size: rem(16);
		}
		@include media-breakpoint-only(md) {
			font-size: 13px;
		}
		@include media-breakpoint-up(md) {
			min-height: calc(((100vw / 3) - 3rem) * 1.38);
		}
		@include media-breakpoint-up(lg) {
			font-size: 1rem;
		}
		@include media-breakpoint-up(xl) {
			padding: 2rem;
		}
		@include media-breakpoint-up(xxl) {
			min-height: 552px;
		}
		@media (min-width: 1536.98px) {
			min-height: rem(552);
		}
		img {
			position: absolute;
			right: rem(8);
			bottom: rem(8);
			max-width: rem(165);
			height: auto;
			max-height: calc(100% - rem(16));
			z-index: -1;
			@include media-breakpoint-up(lg) {
				max-width: rem(220);
			}
			@include media-breakpoint-up(xl) {
				max-width: rem(267);
			}
		}
		h4 {
			color: var(--bs-primary);
			margin-bottom: 1rem;
		}
		p {
			line-height: calc(19 / 16);
			&:last-child {
				margin-bottom: 0;
			}
		}
		ul {
			list-style: none;
			&:last-child {
				margin-bottom: 0;
			}
			li {
				position: relative;
				line-height: calc(19 / 16);
				margin-bottom: 1em;
				padding-left: 1.7em;
				&:last-child {
					margin-bottom: 0;
				}
				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 1.1875em;
					height: 1.1875em;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.9995 7.99999L11.3238 3L7.56558 3L11.0727 6.59875H1V9.73774H10.7448L7.56568 13L11.3238 12.9998L15.9995 7.99999Z' fill='%235184FA'/%3e%3c/svg%3e ");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 90%;
				}
			}
		}
	}

	&.sAbout--mpa {
		.sAbout__item {
			min-height: unset;
			h4 {
				max-width: rem(510);
			}
			p {
				font-size: 16px;
				max-width: em(510);
				@include media-breakpoint-up(lg) {
					font-size: rem(18);
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAbout
