extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContent/_sContent.pug

//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sTask/_sTask.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Задание'
	title= title
block pagecontent
	//- +mob-mnu()


	+header()
		+top-nav()
	main
		+headerBlock('Задание').headerBlock--task
		+sTask('tag')
			+e.answer
				+e.wrap
					h3 Ваш ответ
					+form-wrap
						.form-wrap__input-wrap.form-group
							textarea.form-wrap__input.form-control(name='textarea' placeholder='Введите ваш ответ')
							+e.LABEL.file-btn
								input(type="file")
								+icon('clip')
								span Прикрепить файл
						+btn('Отправить', 'submit').btn.btn-primary
			
		//- +e.answer
		//- 	.alert Ваш ответ находится на&nbsp;проверке у&nbsp;преподавателя.
		//- 	h3 Ваш ответ
		//- +e.answer
		//- 	.alert Вы&nbsp;получили &laquo;Незачет&raquo;
		//- 	h3 Ваш ответ
		//- +e.answer
		//- 	.alert Вы&nbsp;получили &laquo;Зачет&raquo;
		//- 	h3 Ваш ответ
			
	+footer()
	//- +chat




