extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContent/_sContent.pug

//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sTask/_sTask.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Задание'
	title= title
block pagecontent
	//- +mob-mnu()


	+header()
		+top-nav()
	main
		+headerBlock('Задание').headerBlock--task
		+sTask('tag')
			+e.answer--failed
				+e.alert Вы&nbsp;получили &laquo;Незачет&raquo;
				+e.wrap
					p Все руководители хотели повысить эффективность своих команд, но&nbsp;каждый пришел с&nbsp;конкретной задачей. Например, один из&nbsp;участников отметил, что среди его сотрудников снижается проактивность. Все руководители хотели повысить эффективность своих команд, но&nbsp;каждый пришел с&nbsp;конкретной задачей. Например, один из&nbsp;участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и&nbsp;слабой мотивации. Как повысить вовлеченность и&nbsp;ответственность каждого за&nbsp;общий результат, выработать в&nbsp;коллективе новые общие ценности?
					h3 Ваш ответ
					+form-wrap
						.form-wrap__input-wrap.form-group
							textarea.form-wrap__input.form-control(name='textarea' placeholder='Введите ваш ответ')
							+e.LABEL.file-btn
								input(type="file")
								+icon('clip')
								span Прикрепить файл
						+btn('Отправить', 'submit').btn.btn-primary
			
	+footer()
	//- +chat




