// start .sStructure
.sStructure {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	--sTPB: #{rem(32)};
	--sPT: 4px;
	--sPB: 4px;
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(16)};
		--sPB: #{rem(16)};
	}
	@include media-breakpoint-up(sm) {
		--sTPB: #{rem(36)};
	}
	b,
	strong {
		display: inline-block;
		font-weight: bold;
	}
	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(32)};
		}
	}
	.section-title {
		h2 {
			@extend .h3;
			@include media-breakpoint-down(sm) {
				font-size: 19px;
			}
		}
	}
	&__hours {
		display: flex;
		font-weight: 700;
		font-size: rem(36);
		line-height: 1;
		b {
			margin-right: rem(8);
		}
		span {
			font-weight: 400;
			font-size: 0.44em;
		}
	}
	&__base {
		color: var(--bs-white);
		background-color: var(--bs-primary);
		border-radius: rem(16);
		padding: 2rem;
		@include media-breakpoint-up(sm) {
			padding: 2.5rem;
		}
		.row {
			align-items: center;
			--bs-gutter-y: calc(var(--bs-gutter-x) / 2);
		}
	}
	&__action {
		@include media-breakpoint-up(md) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: rem(65);
			line-height: 1;
			& > b {
				font-weight: 500;
			}
			& > span {
				font-weight: 700;
				line-height: calc(20 / 16);
				font-size: 0.28em;
			}
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: 2px solid var(--bs-primary);
		background-color: var(--bs-primary);
		border-radius: rem(16);
		height: 100%;
		overflow: hidden;
		.sStructure__title {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			flex-grow: 1;
			padding: rem(16) rem(24);
			background-color: var(--bs-white);
			b {
				font-size: rem(36);
				line-height: 1;
				color: var(--bs-primary);
				margin-bottom: rem(4);
			}
		}
		.sStructure__hours {
			color: var(--bs-white);
			padding: rem(14);
			justify-content: center;
		}
	}

	&__inner {
		position: relative;
		border-radius: rem(16);
		// padding: 2rem 1rem;
		@include media-breakpoint-up(md) {
			margin: rem(18) 0;
			border: 1px solid var(--bs-border-color);
			padding: rem(22) rem(22) rem(52) rem(22);
		}
		.sStructure__action {
			@include media-breakpoint-up(md) {
				margin-bottom: rem(27);
				margin-top: rem(16);
			}
		}
		.braces {
			@include a-cent1(x);
			position: absolute;
			bottom: 100%;
			&--bottom {
				transform: scale(-1) translateX(50%);
				bottom: auto;
				top: 100%;
			}
		}
		& + .sStructure__action {
			.sStructure__hours {
				font-size: rem(45);
				span {
					font-weight: 700;
				}
			}
		}
	}
	&__wrapper {
		background-color: var(--bs-white);
		border-radius: rem(24);
		padding: 2rem 1rem;
		@include media-breakpoint-up(sm) {
			padding: 2.5rem;
		}
		@include media-breakpoint-up(xl) {
			padding: 2.5rem 8.5rem;
		}
	}

	.sStructure__item-wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	@include media-breakpoint-down(md) {
		.sStructure__item {
			background-color: var(--bs-light);
			border: none;
		}
		.sStructure__item-wrap {
			position: relative;
			border-radius: 16px;
			background-color: var(--bs-white);
			border: 2px solid var(--bs-primary);
			display: flex;
			flex-direction: column;
			& > .sStructure__hours {
				padding-top: 4px;
			}
			& > .sStructure__title {
				padding-bottom: 4px;
			}
			& + .sStructure__hours {
				span {
					font-weight: 700;
				}
			}
		}
		.sStructure__hours {
			padding: 20px 16px;
			justify-content: flex-start;
			color: var(--bs-primary);
		}
		.sStructure__title {
			padding: 20px 16px;
			align-items: flex-start;
			text-align: left;
		}
		.sStructure__base {
			position: relative;
			border-radius: 0 0 16px 16px;
			& > b {
				font-size: 24px;
				line-height: calc(32 / 24);
				margin-bottom: 10px;
			}
			padding: 20px 16px;
			.sStructure__hours {
				padding: 0;
				color: var(--bs-white);
			}
		}
		.sStructure__action {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			left: 16px;
			bottom: 0;
			background-color: var(--bs-white);
			color: var(--bs-primary);
			border: 3px solid var(--bs-primary);
			border-radius: 50%;
			font-weight: 700;
			font-size: 24px;
			line-height: calc(16 / 24);
			transform: translateY(50%);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sStructure

.braces {
	position: relative;
	width: rem(44);
	height: rem(18);
	background-color: var(--bs-white);
	&:after,
	&::before {
		content: "";
		position: absolute;
		width: calc(50% + 0.5px);
		height: 100%;
		top: 0;
		border-bottom: 1px solid var(--bs-border-color);
	}
	&::before {
		left: 0;
		border-radius: 0 0 rem(18) 0;
		border-right: 1px solid var(--bs-border-color);
	}
	&::after {
		right: 0;
		border-radius: 0 0 0 rem(18);
		border-left: 1px solid var(--bs-border-color);
	}
}
