.form-wrap{
 	&__input-wrap{
		// @extend .form-group;
		
	}
	&__input{
		// @extend .form-control;
		//  outline: 0 !important;
		resize: none;
		&.is-invalid,
		&.is-valid {
			background-image: none;
		}
 	}
 	&__btn{
 		cursor: pointer;
 	}
 	label{
 		width: 100%;
 		display: block;
 	}
	.invalid-feedback,
	.valid-feedback {
		// position: absolute;
		top: 100%;
		left: rem(8);
		order: -1;
		font-size: rem(12);
		line-height: 1.33;
		margin-left: rem(8);
	}
	.invalid-feedback {
		color: $red;
	}
	.valid-feedback {
		color: $success;
	}
}


.parsley-error{
	border-image: none;
	border: 2px solid  red !important;
	color: red;
	outline: 0 !important;
	 
}
.parsley-success{
	border: 2px solid  #00d600 !important;

}
.parsley-errors-list{
	color: red;
}

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
.events-filter__radio-wrap--text{
	--in-sp-x: 24px;
}
.radio-wrap {
	display: flex;
	align-items: center;
	padding: 4px 5px;
	background-color: $white;
	border-radius: 32px;

	@include media-breakpoint-down(md) {
		justify-content: space-between;
		border: 1px solid $gray-300;
	}
	
	.custom-input {
		position: relative;
		flex-grow: 1;
		margin: 0;
		padding-left: 0;
		padding: 4px var(--in-sp-x, 4px);
		text-align: center;
		@include media-breakpoint-down(md) {
			flex-grow: 1;
			padding: 4px;
			text-align: center;
		}
		&:not(:last-child) {
			margin-right: 10px;
			@include media-breakpoint-down(md) {
				margin-right: 5px
			}
		}
		&__input {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			margin: 0;
			border-radius: 24px;
			border: 1px solid transparent;;
			transform: translateX(-50%) translateY(-50%);
			&:checked[type=radio] {
				box-shadow: none;	
				background-image: none;
				& + .custom-input__text {
					color: $white;
				}
			}
		}
		&__text {
			position: relative;
		}
	}
}
.form-check{

}
.form-check-input:not([type="radio"]){
	width: 24px;
	height: 24px;
	margin-right: 8px;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	&:checked {
		background-image: url('../img/svg/checked.svg') !important;
	}
	// @include media-breakpoint-down(md) {
	// 	width: 18px;
	// 	height: 18px;
	// }
}
.form-check-label{
	
}

.choices__inner {
	min-height: 0;
}

.choices__list--dropdown {
	.choices__item {
		position: relative;
		padding-left: 44px !important;
		&:not(.has-no-choices)::before {
			position: absolute;
			content: '';
			left: 10px;
			top: 50%;
			width: 24px;
			height: 24px;
			border: 1px solid #C9CAD1;
			border-radius: 4px;
			transform: translateY(-50%);
			@include media-breakpoint-down(md) {
				width: 18px;
				height: 18px;
			}
		}
	}
}



// .custom-input{
// 	display: block;
// 	margin: auto;
	 
// 	margin-bottom: rem(20);
// 	cursor: pointer;
// 	position: relative;
// 	padding-left: rem(35px);
// 	display: inline-block;
// 	&__input{
// 		position: absolute;
// 		// opacity: 0;
// 		width: 1px;
// 		height: 1px;
// 		margin: -1px;
// 		border: 0;
// 		padding: 0;
// 		clip: rect(0 0 0 0 );
// 		overflow: hidden;
// 	}

// 	&__input[type="checkbox"] + &__lab{
// 		&::after{ 
// 			content:   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='8' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z' class='st0'/%3E%3C/svg%3E");
// 			position: absolute;
// 			@include a-cent; 
// 			opacity: 0;
// 		}
// 	}

// 	&__input[type="radio"] + &__lab{ 
// 		border-radius: 50%;
// 		&::after{ 
// 			border-radius: 50%;
// 		}
// 	}

// 	&__input:checked + &__lab{
// 		background-color: $success;
		 
// 		&::after{
	
// 			opacity: 1;
// 		}
// 	}
 
// }



// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}



// .jq-selectbox{
// 	max-width: 100%;
// 	margin: auto;
// 	display: block !important;
//  // height: auto;
// 	&__select{
// 		// background-color: transparent;
		 
// 		box-shadow: none !important; 
// 		background-image: none !important;
// 		text-shadow: none;
// 		font-family: $default-font;
// 		font-size: rem(14); 
// 		text-align: left;
// 		border: 1px solid #dadada;
// 		background-color: #fff;
// 		padding-top: rem(12);
// 		padding-bottom: rem(12);
// 		height: auto;
// 		border-radius: rem(6);
// 		@include mt;
// 		&:hover{
		 
// 		}
// 		&-text{
// 			// width: 100% !important;
// 			line-height: 1;
// 		}
// 	}	
// 	&__select:hover &__trigger{
		 
// 	}
// 	&__trigger{
// 		border: none;
// 		background-color: #dadada; 
// 		height: 100%;
// 		width: 40px;
// 		border-radius: rem(6);
// 		text-align: center;
// 		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAYAAAAVibZIAAAA40lEQVRIS9XVXRXCMAwF4HsVgARQABLAATgAZeAAHIAEJIADUFBOdtqdwdKk7OeBPa7pl61JW8J5QghLAKcYtiV58+bQCojgBcA0xj0BrD04iypgyu/CKmqARXALLQBd+AP9ATThGg0h7AAcvMoq4601rtAeYDPHnuRRXnAgMOEVLKg086LDb2tTHiRnZvN3TfRH6MBreic5H6f6o/RpqnCPfn0B2JC8Jkvb+zI4KWwnAVff52vulCqBVbDaptoXxdPKgrNgFo3Fk7tJg03QRDOwC7poAz7HZZIq97tNCzugFfYGUK5wGWWE5JYAAAAASUVORK5CYII=);
// 		background-position: center;
// 		background-repeat: no-repeat;
// 		@include mt;
// 		&:hover{
			

// 		}
// 	}
// 	&__trigger-arrow { 
// 		border: none;
    
// }
// li{
// 	font-size: rem(16);
// 	padding: em(10px) 10px em(10px);
// 	&:hover {
     
//     color: #fff;
// }
// }
// }


.select2-container--default {
	.select2-search__field{

	}
	.select2-selection--single ,
	.select2-selection--multiple{

		@extend .form-select;
		height: auto !important;
		padding-left: rem(10);
		border-radius: 24px!important;
		border: 1px solid #757B8A !important;
		padding-bottom: rem(5.6);
	}
	.select2-selection--multiple{
		padding-top: rem(2);
	}
}

.select2-container--default .select2-selection--single  {
	.select2-selection--single ,
	.select2-selection--multiple{
		.select2-selection__rendered{
			padding: 0;
		}
	}
}
.select2-dropdown{
	border-radius: 4px !important;
	border: 1px solid #C9CAD1 !important;
}

.select2-container--default .select2-results__option{
	font-size: rem(14);
	padding: rem(13) rem(16) rem(13) rem(45);
	position: relative;
	&::after,
	&::before{
		content: '';
		position: absolute;
		left: rem(12);
		top: rem(10);
		width: rem(24);
		height: rem(24);
		border-radius: 4px;
	}
	&::after{
		border: 1px solid #C9CAD1;	
	}
	&::before{
		background-image: var(--check-white);
		background-size: contain;
		background-position: center center;
	}
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:not(.select2-results__option--selected){
	background: var(--bs-primary-light,#DCF6F4);
	color: var(--bs-body-color, #{$body-color});
	&::before{
		background-color: #fff;
		border: 1px solid var(--bs-primary);
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	}
}
.select2-container--default .select2-results__option--selected{
	background-color: var(--bs-primary) !important;
	color: var(--bs-body-color, #{$body-color});
	&::after{
		border: 1px solid #fff;	
	}
	
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	// display: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
	padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background: none !important;
	border: none !important;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	
	&:not(:last-child) {
		&::after{
			content: ', ';
		}
	}
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
	font-size: rem(18);
}
.select2-container .select2-search--inline .select2-search__field{
	height: rem(26);
	position: relative;
	top: rem(1);
	// margin-top: rem(10);
	font-size: rem(17);
	padding-top: rem(2);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	display: none !important;
}


.selection{
	// text-overflow: ellipsis;
	// overflow: hidden;
	display: inline;
	width: 100%;
}
.headerBlock .select2-container--default .select2-selection--multiple, .headerBlock .select2-container--default .select2-selection--single{
	text-overflow: ellipsis;
	overflow: hidden;
	// display: inline;
	// display: flex;
}
.air-datepicker {
	--adp-nav-arrow-color: var(--bs-primary-hover);	
	@media (min-width: 430px) {
		width: 400px;
	}
	font-family: $default-font;
	.air-datepicker-nav {
		justify-content: center;
	}
	.air-datepicker-nav--title {
		line-height: 1;
		& i {
			color: var(--bs-body-color, #{$body-color});
		}
	}
	&--content {
		@media (min-width: 430px) {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
	&-body--day-name {
		color: $gray-300;
	}
	&-cell.-current- {
		color: $white;
		background-color: var(--bs-primary);
	}
	&-cell.-focus- {
		color: var(--bs-primary);
		border: 1px solid var(--bs-primary);
		background-color: transparent;
		&.-selected- {
			color: $white;
			background-color: var(--bs-primary);
		}
	}
	&-cell.-selected-{
		color: $white;
		background-color: var(--bs-primary);
	}
}

.select2-search--dropdown{
	display: none !important;
}
.select2-container{
	max-width: 100%;
}

.select2-container .select2-search--inline .select2-search__field{
	font-family: inherit;
}

.select2-container .select2-search--inline .select2-search__field{
	font-size: 1rem;
}