mixin product-item(i, t, p ,pr)
	+b.ARTICLE.product-item
		+e.img-wrap(href="#")
			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
			.img-wrap-center 
				+img(`img/prod-${i}.jpg`)
		+e.caption
			+e.title!= t
			+e.text!= p
			+e.price!= pr
			+e.btn(href='#')
	// /.product-item

mixin networkFilter
	// start filter
	+b.network-filter
		.row
			.col-auto
				+e.dropdown-item
					+e.dropdown-btn.BUTTON Все интересы
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','Интерес 1','interest')
							+in-c('checkbox','Интерес 2','interest')
							+in-c('checkbox','Интерес 3','interest')
			.col-auto
				+input("Все ОИВ",'select', '')
			.col-auto
				+input("Все области экспертизы",'select', '')
			.col-auto
				+e.dropdown-item
					+e.dropdown-btn.BUTTON Все годы стажировки
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','годы 1','years')
							+in-c('checkbox','годы 2','years')
							+in-c('checkbox','годы 3','years')
			.col-auto
				+e.radio-wrap
					+in-c('radio','Трудоустроен','status')
					+in-c('radio','В поиске работы','status')
	// end filter



mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCatalog
				p Выкупаем проблемные автомобили в день обращения

			+e.row.row
				- const wrapClass="col-3"
				+e.col(class= wrapClass)
					+product-item(`1`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`2`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`3`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`4`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`5`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`6`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`7`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`8`,``,``,``) 

	// end sCatalog