// start .sCatalog
.sCatalog {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	@include media-breakpoint-down(md) {
		--sPT: #{rem(24)};
	}
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

.img-wrap-center {
	@include a-cent;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		max-width: 100%;
		height: auto;
	}
}

.profile-item{
	display: flex;
	position: relative;
	flex-direction: column;
	min-height: 100%;
	padding: 16px;
	background: #FFFFFF; 
	border: 1px solid transparent;
	border-radius: $border-radius-sm;
	overflow: hidden;
	@include mt;
	&:hover {
		border: 1px solid #4ED0C8;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		h2 {
			color: #00A89E;
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 16px;
	}
	&__header-text {
		max-width: 70%;
		h2 {
			margin-bottom: 0;
			font-weight: 700;
			font-size: rem(24);
			line-height: 133%;
			@include mt;
			@include media-breakpoint-down(md) {
				font-size: rem(19);
				line-height: 126%;
			}
		}
	}
	&__age {
		font-size: 14px;
		line-height: 16px;
		color: $gray-600;
	}
	&__header-img {
		width: 24%;
		min-width: 88px;
		@include media-breakpoint-down(md) {
			min-width: 68px;
		}
	}
	&__img-wrap {
		display: block;
		width: 88px;
		height: 88px;
		border-radius: 50%;
		overflow: hidden;
		@include media-breakpoint-down(md) {
			width: 68px;
			height: 68px;
		}
		img {
			width: 100%;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding-top: 16px;
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-top: 1px solid $gray-100;
		border-bottom: 1px solid $gray-100;
	}
	&__position {
		margin-bottom: 7px;
		font-weight: 700;
		font-size: rem(18);
		line-height: 111%;
		@include media-breakpoint-down(md) {
			font-size: rem(16);
			line-height: 125%;
		}
	}
	&__company {
		margin-bottom: 7px;
		font-size: rem(18);
		line-height: 133%;
		@include media-breakpoint-down(md) {
			font-size: rem(16);
			line-height: 125%;
		}
	}
	&__interest-list {
		display: flex;
		list-style-type: none;
		flex-wrap: wrap;
		margin-bottom: 7px;
		li {
			font-size: rem(18);
			line-height: 136%;
			color: $gray-600;
			@include media-breakpoint-down(md) {
				font-size: rem(16);
				line-height: 125%;
			}
			&:not(:last-child) {
				position: relative;
				margin-right: 5px;
				&::after {
					content: ',';
				}
			}
		}
	}
	&__groups-list {
		display: flex;
		list-style-type: none;
		flex-wrap: wrap;
		margin-bottom: 7px;
		li {
			font-weight: 700;
			font-size: rem(18);
			line-height: 111%;
			@include media-breakpoint-down(md) {
				font-size: rem(16);
				line-height: 125%;
			}
			&:not(:last-child) {
				position: relative;
				margin-right: 5px;
				&::after {
					content: ',';
				}
			}
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
	}
}
.network-filter-container {
	@include media-breakpoint-down(md) {
		position: relative;
		padding-bottom: 24px;
		background-color: #d2f3f0;
		box-shadow: 0px 2.99128px 2.99128px -2.99128px rgba(0, 0, 0, 0.2);
	}
}
.filter-wrap.active {
	background-color: $white;
	border-radius: $border-radius;
}
.filter-btn {
	display: flex;
	position: relative;
	align-items: center;
	padding: 8px 40px 8px 15px;
	width: 100%;
	font-size: rem(16);
	line-height: 125%;
	background-color: $white;
	border: 1px solid transparent;
	border-radius: $border-radius;
	&::after {
		position: absolute;
		content: '';
		right: 15px;
		top: 50%;
		width: 16px;
		height: 16px;
		background-image: url('../img/svg/filter.svg');
		background-size: cover;
		transform: translateY(-50%);
	}
	&.active::after {
		background-image: url('../img/svg/filter.svg');
	}
	.icon {
		margin-left: auto;
		width: 16px;
		height: 16px;
	}
}
.network-filter {
	width: 100%;
	padding: 24px 0;
	@include media-breakpoint-down(md) {
		// position: absolute;
		padding: 17px 9px;
		// left: calc(var(--bs-gutter-x)*.5);
		// top: 0;
		// width: calc(100% - var(--bs-gutter-x));
		background-color: $white;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
		z-index: 1;
		display: none;
		@include mt;
		&.active {
			display: block;
		}
	}
	.choices__inner {
		@include media-breakpoint-down(md) {
			border: 1px solid $gray-300!important;
			min-height: 0;
		}
	}
	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
	}
	&__dropdown-item {
		position: relative;
		.form-check {
			margin-bottom: 0;
		}
		.custom-input {
			display: flex;
			align-items: center;
			padding: 8px 12px;
			&__input {
				&:not(:checked):hover {
					background: $gray-100;
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
					background-image: none !important;
					& + .custom-input__text {
						background-color: #DCF6F4;
						z-index: -1;
					}
				}
			}
			&:not(:last-child) {
				border-bottom: 1px solid $gray-300;
			}
			&:checked[type=checkbox] {
				background: $primary;
			}
			&__input {
				width: 24px;
				height: 24px;
				margin-left: 0;
				margin-right: 8px;
				background-image: url('../img/svg/checked.svg') !important;
				@include media-breakpoint-down(md) {
					width: 18px;
					height: 18px;
				}
			}
		}
	}
	&__dropdown-btn {
		position: relative;
		padding: 7px;
		padding-right: 40px;
		min-width: 216px;
		width: 100%;
		background: #FFFFFF;
		border-radius: 44px;
		border: 1px solid transparent;
		text-align: left;
		@include media-breakpoint-down(md) {
			width: 100%;
			text-align: left;
			border: 1px solid $gray-300;
		}
		&.active::after {
			border-color:$dark transparent transparent $dark;
			border-width: 2px 0 0 2px;
			border-style: solid none none solid;
		}		
		&::after {
			position: absolute;
			right: 17px;
			top: 50%;
			content: '';
			display: inline-block;
      height: 7px;
      width: 7px;
      border-bottom: 2px solid $dark;
      border-right: 2px solid $dark;
      transform: rotate(45deg) translateY(calc(-50% - 3px));
		}
	}
	&__dropdown-body {
		position: absolute;
		top: rem(40);
		width: 100%;
		opacity: 0;
		visibility: hidden;
		background-color: $white;
		border-radius: $border-radius-sm;
		border: 1px solid $gray-300;
		z-index: 10;
		// box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
		overflow: hidden;
		@include mt;
		&.active {
			opacity: 1;
			visibility: visible;
		}
		.custom-input {
			position: relative;
			&__text {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				padding-left: 44px;
				display: flex;
				align-items: center;
				z-index: 1;
			}
			&__input:checked {
				z-index: 5;
				border: 1px solid $white;
				& + .custom-input__text {
					background-color: $primary;
				}
			}
		}
	}
	&__input {
		border: 1px solid transparent;
		@include media-breakpoint-down(md) {
			border: 1px solid $gray-300;
		}
	}
	&__radio-wrap {
		display: flex;
		align-items: center;
		padding: 4px 5px;
		background-color: $white;
		border-radius: 32px;
		@include media-breakpoint-down(md) {
			justify-content: space-between;
			border: 1px solid $gray-300;
		}
		
		.custom-input {
			position: relative;
			margin: 0;
			padding-left: 0;
			padding: 4px 8px;
			@include media-breakpoint-down(md) {
				flex-grow: 1;
				padding: 4px;
				text-align: center;
			}
			&:not(:last-child) {
				margin-right: 10px;
				@include media-breakpoint-down(md) {
					margin-right: 5px
				}
			}
			&__input {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				margin: 0;
				border-radius: 24px;
				border: 1px solid transparent;;
				transform: translateX(-50%) translateY(-50%);
				&:checked[type=radio] {
					box-shadow: none;	
					background-image: none;
					& + .custom-input__text {
						color: $white;
					}
				}
			}
			&__text {
				position: relative;
			}
		}
	}
	
}