mixin profile-item(name, img, age, position, company, interests=[], groups=[])
	+b.ARTICLE.profile-item
		+e.header
			+e.header-text
				h2= name
				+e.age= age
			+e.header-img
				+e.img-wrap(href="#")
					+img(`img/profile-${img}.jpg`)
		+e.body
			+e.position= position
			+e.company!= company
			+e.text!= p
			+e.interest-list.UL
				each interest in interests
					li= interest
			+e.groups-list.UL
				each group in groups
					li= group
		+e.btn(href='#') Посмотреть профиль
	// /.product-item

mixin networkFilter
	// start filter
	.filter-wrap
		button.filter-btn.d-md-none Фильтр
			//- +icon('filter')
		+b.network-filter
			+e.row.row
				.col-12.d-md-none.flex-grow-1
					+input("Все участники",'select', '')
				.col-12.col-md-auto.flex-grow-1
					+e.dropdown-item
						+e.dropdown-btn.BUTTON(data-toggle="interest") Все интересы
						+e.dropdown-body(id = "interest")
							+e.dropdown-content
								+in-c('checkbox','Интерес 1','interest')
								+in-c('checkbox','Интерес 2','interest')
								+in-c('checkbox','Интерес 3','interest')
				.col-12.col-md-auto.flex-grow-1
					+input("Все ОИВ",'select', '')
				.col-12.col-md-auto.flex-grow-1
					+input("Все области экспертизы",'select', '')
				.col-12.col-md-auto.flex-grow-1
					+e.dropdown-item
						+e.dropdown-btn.BUTTON Все годы стажировки
						+e.dropdown-body
							+e.dropdown-content
								+in-c('checkbox','годы 1','years')
								+in-c('checkbox','годы 2','years')
								+in-c('checkbox','годы 3','years')
				.col-12.col-md-auto
					+e.radio-wrap
						+in-c('radio','Трудоустроен','status')(checked)
						+in-c('radio','В поиске работы','status')
	// end filter



mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container-fluid
			+e.row.row
				- const wrapClass="col-sm-6 col-lg-4"
					+e.col(class= wrapClass)
						+profile-item('Летунова Александра Петровна', '1', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Группа 2'])
					+e.col(class= wrapClass)
						+profile-item('Агадуллина Елена', '2', '41 год', '', '', [''], ['Название группы 1',  'Название группы 2'])
					+e.col(class= wrapClass)
						+profile-item('Анашкина Елена Владимировна', '3', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Группа 2'])
					+e.col(class= wrapClass)
						+profile-item('Афанасьева Ольга Валентиновна', '4', '41 год', '', '', ['Спорт','Интерес 2'], ['Название группы'])
					+e.col(class= wrapClass)
						+profile-item('Барановская Татьяна Артуровна', '5', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Название группы'])
					+e.col(class= wrapClass)
						+profile-item('Андрощук Виктор Владимирович', '6', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Группа 2'])
					+e.col(class= wrapClass)
						+profile-item('Бек Надежда Николаевна', '7', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Название группы 1', 'Название группы 2'])
					+e.col(class= wrapClass)
						+profile-item('Богатая Светлана Ивановна', '8', '41 год', 'Директор по развитию', '', ['Спорт','Интерес 2'], ['Название группы'])
					+e.col(class= wrapClass)
						+profile-item('Васин Сергей ', '9', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»',  ['Спорт','Интерес 2'], ['Название группы'])
					+e.col(class= wrapClass)
						+profile-item('Великая Елена Васильевна', '10', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»',  ['Спорт','Интерес 2'], ['Название группы'])
					+e.col(class= wrapClass)
						+profile-item('Вернигорова Валентина Анатольевна', '11', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»',  ['Спорт','Интерес 2'], ['Название группы 1', 'Название группы 2'])
					+e.col(class= wrapClass)
						+profile-item('Вишневский Александр Александрович', '12', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»',  ['Спорт','Интерес 2'], ['Название группы'])
					+e.col(class= wrapClass)
						+profile-item('Володин Сергей Николаевич', '13', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»',  ['Спорт','Интерес 2'], ['Название группы 1', 'Название группы 2'])
					+e.col(class= wrapClass)
						+profile-item('Гайдукова Тамара Михайловна', '14', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»',  ['Спорт','Интерес 2'], ['Название группы'])
					+e.col(class= wrapClass)
						+profile-item('Гасанова Сабина Эльмировна', '15', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»',  ['Спорт','Интерес 2'], ['Название группы 1', 'Название группы 2'])
			+pagin()

	// end sCatalog