// start .sCatalog
.sCatalog {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	@include media-breakpoint-down(md) {
		--sPT: #{rem(24)};
	}
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

	.select2-container--default .select2-selection--multiple, .headerBlock .select2-container--default .select2-selection--single {
    border-color: #fff!important;
}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

.img-wrap-center {
	@include a-cent;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		max-width: 100%;
		height: auto;
	}
}

.profile-item{
	display: flex;
	position: relative;
	flex-direction: column;
	min-height: 100%;
	padding: 16px;
	background: #FFFFFF; 
	border: 1px solid transparent;
	border-radius: $border-radius-sm;
	overflow: hidden;
	@include mt;
	&:hover {
		border: 1px solid var(--bs-primary-hover, #4ED0C8);
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		h2 {
			color: var(--bs-primary-hover, #{$dark-teal});
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 16px;
	}
	&__header-text {
		max-width: 70%;
		h2 {
			margin-bottom: 0;
			font-weight: 700;
			font-size: rem(24);
			line-height: 133%;
			@include mt;
			@include media-breakpoint-down(md) {
				font-size: rem(19);
				line-height: 126%;
			}
		}
	}
	&__age {
		font-size: 14px;
		line-height: 16px;
		color: $gray-600;
	}
	&__header-img {
		width: 24%;
		min-width: 88px;
		@include media-breakpoint-down(md) {
			min-width: 68px;
			width: 68px;
		}
	}
	&__img-wrap {
		display: block;
		width: 88px;
		height: 88px;
		border-radius: 50%;
		overflow: hidden;
		// background-color: rgba(var(--bs-primary-rgb), .5);
		background-image: var(--user);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		@include media-breakpoint-down(md) {
			width: 68px;
			height: 68px;
		}
		img {
			width: 100%;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding-top: 16px;
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-top: 1px solid $gray-100;
		border-bottom: 1px solid $gray-100;
		@include media-breakpoint-down(sm) {
			padding-bottom: 0px;
			margin-bottom: 0px;
			border-bottom: 1px solid transparent;
		}
	}
	&__position {
		margin-bottom: 7px;
		font-weight: 700;
		font-size: rem(18);
		line-height: 111%;
		@include media-breakpoint-down(md) {
			font-size: rem(16);
			line-height: 125%;
		}
	}
	&__company {
		margin-bottom: 7px;
		font-size: rem(18);
		line-height: 133%;
		@include media-breakpoint-down(md) {
			font-size: rem(16);
			line-height: 125%;
		}
	}
	&__interest-list {
		display: flex;
		list-style-type: none;
		flex-wrap: wrap;
		margin-bottom: 7px;
		li {
			font-size: rem(18);
			line-height: 136%;
			color: $gray-600;
			@include media-breakpoint-down(md) {
				font-size: rem(16);
				line-height: 125%;
			}
			&:not(:last-child) {
				position: relative;
				margin-right: 5px;
				&::after {
					content: ',';
				}
			}
		}
	}
	&__groups-list {
		display: flex;
		list-style-type: none;
		flex-wrap: wrap;
		margin-bottom: 7px;
		li {
			font-weight: 700;
			font-size: rem(18);
			line-height: 111%;
			@include media-breakpoint-down(md) {
				font-size: rem(16);
				line-height: 125%;
			}
			&:not(:last-child) {
				position: relative;
				margin-right: 5px;
				&::after {
					content: ',';
				}
			}
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
	}
	&--second {
		@include media-breakpoint-down(sm) {
			min-height: 240px;
			@include block(400, 272);
		}
		.profile-item {
			&__block {
				@include media-breakpoint-down(sm) {
					display: flex;
					flex-direction: column;
					position: absolute;
					top: 16px;
					left: 16px;
					width: calc(100% - 32px);
					height: calc(100% - 32px);
				}
			}
			&__body {
				margin-top: auto;
			}
			&__header {
				flex-direction: row-reverse;
				justify-content: flex-end;
				align-items: center;
				padding-right: rem(28);
				h2 {
					font-size: 19px;
					margin-bottom: rem(4);
					@include media-breakpoint-up(lg) {
						font-size: 24px;
					}
				}
				.outlook-img {
					position: absolute;
					width: 100%;
					max-width: rem(24);
					top: 0;
					right: 0;
					@include media-breakpoint-up(sm) {
						top: rem(16);
						right: rem(16);
					}
				}
			}
			&__header-img {
				width: auto;
				min-width: none;
			}
			&__img-wrap {
				width: 64px;
				height: 64px;
				margin-right: rem(20);
			}
			&__company,
			&__position {
				font-size: 16px;
				@include media-breakpoint-up(md) {
					font-size: 18px;
				}
			}
			&__age {
				display: flex;
				align-items: center;
				&:before {
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 5C10.925 5 11.6667 4.25 11.6667 3.33333C11.6667 3.01667 11.5833 2.725 11.425 2.475L10 0L8.575 2.475C8.41667 2.725 8.33333 3.01667 8.33333 3.33333C8.33333 4.25 9.08333 5 10 5ZM13.8333 13.325L12.9417 12.4333L12.0417 13.325C10.9583 14.4083 9.05833 14.4167 7.96667 13.325L7.075 12.4333L6.16667 13.325C5.625 13.8667 4.9 14.1667 4.13333 14.1667C3.525 14.1667 2.96667 13.975 2.5 13.6583V17.5C2.5 17.9583 2.875 18.3333 3.33333 18.3333H16.6667C17.125 18.3333 17.5 17.9583 17.5 17.5V13.6583C17.0333 13.975 16.475 14.1667 15.8667 14.1667C15.1 14.1667 14.375 13.8667 13.8333 13.325ZM10.8333 7.5H15C16.3833 7.5 17.5 8.61667 17.4917 10V11.2833C17.4917 12.1833 16.7583 12.9167 15.8583 12.9167C15.425 12.9167 15.0167 12.75 14.7083 12.4417L12.9333 10.6667L11.15 12.4417C10.5333 13.0583 9.45833 13.0583 8.84167 12.4417L7.06667 10.6667L5.28333 12.4417C4.98333 12.75 4.56667 12.9167 4.13333 12.9167C3.23333 12.9167 2.5 12.1833 2.5 11.2833V10C2.5 8.61667 3.61667 7.5 5 7.5H9.16667V5.83333H10.8333V7.5Z' fill='%23999EAB'/%3E%3C/svg%3E%0A");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					flex: 0 0 auto;
					margin-right: rem(4);
				}
			}
		}
	}
}
.network-filter-container {
	@include media-breakpoint-down(md) {
		position: relative;
		padding-bottom: 24px;
		background-color: #d2f3f0;
		box-shadow: 0px 2.99128px 2.99128px -2.99128px rgba(0, 0, 0, 0.2);
	}
}
.filter-wrap.active {
	background-color: $white;
	border-radius: $border-radius;
}
.filter-btn {
	display: flex;
	position: relative;
	align-items: center;
	padding: 8px 40px 8px 15px;
	width: 100%;
	font-size: rem(16);
	line-height: 125%;
	background-color: $white;
	border: 1px solid transparent;
	border-radius: $border-radius;
	color: var(--bs-body-color);
	&.active::after {
		background-image: url('../img/svg/close.svg') !important;
		background-size: 14px 14px;
	}
	&::after {
		position: absolute;
		content: '';
		right: 15px;
		top: 50%;
		width: 16px;
		height: 16px;
		background-image: url('../img/svg/filter.svg');
		background-size: cover;
		background-repeat: no-repeat;
		transform: translateY(-50%);
	}
	&.active::after {
		background-image: url('../img/svg/filter.svg');
	}
	.icon {
		margin-left: auto;
		width: 16px;
		height: 16px;
	}
}
.network-filter {
	.select2-container--default .select2-selection--multiple .select2-selection__choice{
	display: inline;
}
	@include media-breakpoint-down(lg) {
		.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single{

			border: 1px solid #c9cad1 !important;
		}
		.select2-container{
				width: 100% !important;
		}
	}
	.select2-container--default .select2-selection--multiple, .headerBlock .select2-container--default .select2-selection--single {
		@include media-breakpoint-up(lg) {

			border-color: #fff!important;
		}
}
	width: 100%;
	padding: 24px 0;
	@include media-breakpoint-down(md) {
		// position: absolute;
		padding: 17px 9px;
		// left: calc(var(--bs-gutter-x)*.5);
		// top: 0;
		// width: calc(100% - var(--bs-gutter-x));
		background-color: $white;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
		z-index: 1;
		display: none;
		@include mt;
		&.active {
			display: block;
		}
	}
	.choices__inner {
		@include media-breakpoint-down(md) {
			border: 1px solid $gray-300!important;
			min-height: 0;
		}
	}
	&__row {
		--bs-gutter-x: 4px;
		--bs-gutter-y: var(--bs-gutter-x);
		& > * {
			// width: auto;
			// min-width: 216px;
			white-space: nowrap;
			&:not(.radio-wrap) {
				// max-width: 300px ;
				// flex-grow: 1;
				// @include media-breakpoint-down(md) {
				// 	width: 100%;
				// 	max-width: none;
				// }
			}
			@include media-breakpoint-down(md) {
				width: 100%;
				max-width: none;
			}
		}
		.choices__list--dropdown {
			border-radius: $border-radius-sm;
			.choices__item {
				white-space: normal;
			}
		}
	}
	&__dropdown-item {
		position: relative;
		.form-check {
			margin-bottom: 0;
		}
		.custom-input {
			display: flex;
			align-items: center;
			padding: 8px 12px;
			&__input {
				&:not(:checked):hover {
					background: $gray-100;
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
					background-image: none !important;
					& + .custom-input__text {
						background-color: #DCF6F4;
						z-index: -1;
					}
				}
			}
			&:not(:last-child) {
				border-bottom: 1px solid $gray-300;
			}
			&:checked[type=checkbox] {
				background: var(--bs-primary);
			}
			&__input {
				width: 24px;
				height: 24px;
				margin-left: 0;
				margin-right: 8px;
				background-image: url('../img/svg/checked.svg') !important;
				@include media-breakpoint-down(md) {
					width: 18px;
					height: 18px;
				}
			}
		}
	}
	&__dropdown-btn {
		position: relative;
		padding: 7px;
		padding-right: 40px;
		min-width: 216px;
		width: 100%;
		background: #FFFFFF;
		border-radius: 44px;
		border: 1px solid transparent;
		text-align: left;
		color: var(--bs-body-color, #{$body-color});
		@include media-breakpoint-down(md) {
			width: 100%;
			text-align: left;
			border: 1px solid $gray-300;
		}
		&.active::after {
			border-color:$dark transparent transparent $dark;
			border-width: 2px 0 0 2px;
			border-style: solid none none solid;
		}		
		&::after {
			position: absolute;
			right: 17px;
			top: 50%;
			content: '';
			display: inline-block;
      height: 7px;
      width: 7px;
      border-bottom: 2px solid $dark;
      border-right: 2px solid $dark;
      transform: rotate(45deg) translateY(calc(-50% - 3px));
		}
	}
	&__dropdown-body {
		position: absolute;
		top: rem(40);
		width: 100%;
		opacity: 0;
		visibility: hidden;
		background-color: $white;
		border-radius: $border-radius-sm;
		border: 1px solid $gray-300;
		z-index: 10;
		// box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
		overflow: hidden;
		@include mt;
		&.active {
			opacity: 1;
			visibility: visible;
		}
		.custom-input {
			position: relative;
			&__text {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				padding-left: 44px;
				display: flex;
				align-items: center;
				z-index: 1;
			}
			&__input:checked {
				z-index: 5;
				border: 1px solid $white;
				& + .custom-input__text {
					background-color: var(--bs-primary);
				}
			}
		}
	}
	&__input {
		border: 1px solid transparent;
		@include media-breakpoint-down(md) {
			border: 1px solid $gray-300;
		}
	}
	.choices__inner {
		position: relative;
		&::after {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			height: 100%;
			width: 66px;
			background: linear-gradient(269.7deg, #FFFFFF 27.46%, rgba(255, 255, 255, 0) 63.41%);
		}
	}
	// &__radio-wrap {
	// 	display: flex;
	// 	align-items: center;
	// 	padding: 4px 5px;
	// 	background-color: $white;
	// 	border-radius: 32px;
	// 	flex-grow: 1;
	// 	@include media-breakpoint-down(md) {
	// 		justify-content: space-between;
	// 		border: 1px solid $gray-300;
	// 	}
		
	// 	.custom-input {
	// 		position: relative;
	// 		margin: 0;
	// 		padding-left: 0;
	// 		padding: 4px 8px;
	// 		@include media-breakpoint-down(md) {
	// 			flex-grow: 1;
	// 			padding: 4px;
	// 			text-align: center;
	// 		}
	// 		&:not(:last-child) {
	// 			margin-right: 10px;
	// 			@include media-breakpoint-down(md) {
	// 				margin-right: 5px
	// 			}
	// 		}
	// 		&__input {
	// 			position: absolute;
	// 			top: 50%;
	// 			left: 50%;
	// 			width: 100%;
	// 			height: 100%;
	// 			margin: 0;
	// 			border-radius: 24px;
	// 			border: 1px solid transparent;;
	// 			transform: translateX(-50%) translateY(-50%);
	// 			&:checked[type=radio] {
	// 				box-shadow: none;	
	// 				background-image: none;
	// 				& + .custom-input__text {
	// 					color: $white;
	// 				}
	// 			}
	// 		}
	// 		&__text {
	// 			position: relative;
	// 		}
	// 	}
	// }
	
}
.network-filter, .network{
	.select2-search__field{
		// display: none !important;
	}
	 .select2-container--default .select2-selection--multiple,
	 .headerBlock .select2-container--default .select2-selection--single{

		 width: 100%;
		 max-width: 100%;
		 white-space: nowrap;
		 text-overflow: ellipsis;
		 overflow: hidden;
		}
}
.select2-results__options{
	@extend .custom-scroll;
}