mixin profile-item(name, img, age, position, company, interests, groups)
	+b.ARTICLE.profile-item
		+e.header
			+e.header-text
				h2= name
				+e.age= age
			+e.img-wrap(href="#")
				+img(`img/profile-${img}.jpg`)
		+e.body
			+e.position= position
			+e.company!= company
			+e.text!= p
			+e.inteterst-list.UL
				each interest in interests
					li= interest
			+e.groups-list.UL
				each group in groups
					li= group
		+e.btn(href='#') Посмотреть профиль
	// /.product-item

mixin networkFilter
	// start filter
	+b.network-filter
		.row
			.col-auto
				+e.dropdown-item
					+e.dropdown-btn.BUTTON(data-toggle="interest") Все интересы
					+e.dropdown-body(id = "interest")
						+e.dropdown-content
							+in-c('checkbox','Интерес 1','interest')
							+in-c('checkbox','Интерес 2','interest')
							+in-c('checkbox','Интерес 3','interest')
			.col-auto
				+input("Все ОИВ",'select', '')
			.col-auto
				+input("Все области экспертизы",'select', '')
			.col-auto
				+e.dropdown-item
					+e.dropdown-btn.BUTTON Все годы стажировки
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','годы 1','years')
							+in-c('checkbox','годы 2','years')
							+in-c('checkbox','годы 3','years')
			.col-auto
				+e.radio-wrap
					+in-c('radio','Трудоустроен','status')(checked)
					+in-c('radio','В поиске работы','status')
	// end filter



mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		//- .container
			+e.row.row
				- const wrapClass="col-3"
				+e.col(class= wrapClass)
					+product-item(`1`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`2`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`3`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`4`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`5`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`6`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`7`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`8`,``,``,``) 

	// end sCatalog