// start .sForum
.sForum {
	--sPT: #{rem(16)};
	--sPB: #{rem(32)};
	// --sTPB: #{rem()};
	&__container {
		padding: 8px;
		background: $white;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
		border-radius: $border-radius-sm;
	}
	&__header {
		position: relative;
		// margin: 4px;
		margin-bottom: 8px;
		padding: 8px 16px;
		background-color: #d2f3f0;
		border-radius: 4px;
		overflow: hidden;
		// @include media-breakpoint-down(md) {
		// }
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-image: url("../img/svg/forum-bg.svg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			opacity: 0.2;
			pointer-events: none;
			// z-index: -1;
		}
		h1,
		.h1 {
			margin-bottom: 0;
			font-weight: 700;
			font-size: $h4-font-size;
			line-height: calc(32 / 24);
			color: var(--bs-primary-hover, #{$dark-teal});
			@include media-breakpoint-down(md) {
				text-align: center;
			}
		}
		&.text-left {
			h1 {
				@include media-breakpoint-down(md) {
					text-align: left;
				}
			}
		}
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__themes-item {
		display: grid;
		grid-template-columns: auto 170px 354px;
		padding: 20px 16px;
		border-bottom: 1px solid #edeff3;
		@include media-breakpoint-down(xl) {
			grid-template-columns: auto 170px 255px;
		}
		@include media-breakpoint-down(lg) {
			grid-template-columns: auto 122px 235px;
		}
		@include media-breakpoint-down(md) {
			display: flex;
			flex-direction: column;
			margin-bottom: 8px;
			padding: 8px;
			border: 1px solid rgba(201, 202, 209, 0.7);
			border-radius: 4px;
			border-bottom: 1px solid rgba(201, 202, 209, 0.7);
			.sForum__theme {
				display: block;
				margin-bottom: 8px;
			}
		}
		& > *:not(:last-child) {
			border-right: 1px solid $gray-100;
			@include media-breakpoint-down(md) {
				border: none;
			}
		}
		.sForum__img-wrap {
			@include media-breakpoint-down(md) {
				margin-right: 0;
			}
		}
		.sForum__theme {
			margin-bottom: 4px;
		}
		.sForum__counter {
			@include media-breakpoint-down(md) {
				order: 3;
			}
		}
		.sForum__branch {
			@include media-breakpoint-down(md) {
				order: 1;
				align-items: flex-start;
				margin-bottom: 10px;
			}
		}
		.sForum__updating {
			@include media-breakpoint-down(md) {
				order: 2;
			}
		}
	}
	&__text {
		@include media-breakpoint-down(md) {
			order: -1;
			padding-right: 10px;
		}
	}
	&__descr {
		font-size: 14px;
		line-height: 114%;
	}
	&__item {
		display: grid;
		grid-template-columns: 37% 121px 170px auto;
		padding: 20px 16px;
		@include media-breakpoint-down(lg) {
			grid-template-columns: 37% 90px 140px auto;
			padding: 8px;
		}
		@include media-breakpoint-down(md) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, auto);
			column-gap: 16px;
			border: 1px solid rgba(201, 202, 209, 0.7);
			border-radius: 4px;
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		@include media-breakpoint-down(sm) {
			column-gap: 4px;
		}
		&:not(:last-child) {
			border-bottom: 1px solid #edeff3;
			@include media-breakpoint-down(md) {
				border-bottom: 1px solid rgba(201, 202, 209, 0.7);
			}
		}
		& > *:not(:last-child) {
			border-right: 1px solid $gray-100;
			@include media-breakpoint-down(md) {
				border: none;
			}
		}
	}
	&__branch {
		display: flex;
		align-items: center;
		padding-left: 16px;
		padding-right: 24px;
		@include media-breakpoint-down(lg) {
			padding: 0 12px;
			font-size: 16px;
		}
		@include media-breakpoint-down(md) {
			grid-column: span 2;
			justify-content: space-between;
			margin-bottom: 4px;
			padding: 0;
			font-size: rem(18);
		}
	}
	&__img-wrap {
		position: relative;
		margin-right: 34px;
		min-width: 56px;
		width: 56px;
		height: 56px;
		border: 1px solid $gray-100;
		border-radius: 50%;
		&::after {
			position: absolute;
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url("../img/letter.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
		&.inactive {
			&::after {
				background-image: url("../img/letter-inactive.png");
			}
		}
		&.closed {
			&::after {
				background-image: url("../img/letter-close.png");
			}
		}
		@include media-breakpoint-down(lg) {
			width: 32px;
			height: 32px;
			min-width: 32px;
			margin-right: 10px;
		}
		// img {
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translateY(-50%) translateX(-50%);
		// 	width: 20px;
		// 	height: 20px;
		// }
	}
	&__theme {
		font-weight: 700;
		color: var(--bs-primary-hover, #{$dark-teal});
		&:hover {
			color: var(--bs-primary);
		}
		@include media-breakpoint-down(md) {
			order: -1;
			line-height: 133%;
		}
	}
	&__counter {
		display: flex;
		align-items: center;
		padding-left: 24px;
		padding-right: 24px;
		@include media-breakpoint-down(lg) {
			padding-left: 12px;
			padding-right: 12px;
		}
		@include media-breakpoint-down(md) {
			justify-content: space-between;
			padding: 8px;
			background-color: #c0efeb;
			border-radius: 4px;
		}
	}
	&__counter-img {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		width: 40px;
		height: 40px;
		min-width: 40px;
		border-radius: 50%;
		background: rgba(var(--bs-primary-rgb, #{78, 208, 200}), 0.2);
		@include media-breakpoint-down(lg) {
			width: 32px;
			min-width: 32px;
			height: 32px;
		}
		@include media-breakpoint-down(md) {
			margin-right: 0;
			background-color: $white;
		}
		.icon {
			width: 24px;
			height: 24px;
			color: var(--bs-primary-hover, #{$dark-teal});
			@include media-breakpoint-down(lg) {
				width: 16px;
				height: 16px;
			}
		}
	}
	&__amount {
		font-size: rem(20);
		line-height: 1;
		@include media-breakpoint-down(lg) {
			font-size: 14px;
		}
		@include media-breakpoint-down(md) {
			order: -1;
			font-weight: 700;
			line-height: 140%;
		}
		span {
			display: block;
			font-size: 14px;
			line-height: 1;
			@include media-breakpoint-down(md) {
				font-weight: 400;
			}
		}
	}
	&__updating {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 24px;
		font-size: 14px;
		line-height: 16px;
		@include media-breakpoint-down(lg) {
			padding: 0 12px;
		}
		@include media-breakpoint-down(md) {
			grid-column: span 2;
			grid-row: 2 / 3;
			margin-bottom: 12px;
			padding: 0;
		}
	}
	&__updating-link {
		display: block;
		margin-bottom: 4px;
		color: var(--bs-primary-hover, #{$dark-teal});
	}
	&__pagination-row {
		align-items: center;
		--bs-gutter-y: 16px;
		margin-top: -8px;
		margin-bottom: 24px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 16px;
		}
		&--bottom {
			margin-top: 0;
			margin-bottom: 8px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 8px;
			}
		}
		.sForum__btn {
			padding: 2px 26px;
			font-size: 18px;
			line-height: calc(26 / 18);
			width: 100%;
			@include media-breakpoint-up(xl) {
				font-size: rem(18);
			}
		}
	}
	&__pagination-col {
		// @media (max-width: 420px) {
		// 	width: 100%;
		// }
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	&--answer {
		h2 {
			margin-bottom: 0;
			font-weight: 700;
			font-size: $h4-font-size;
			line-height: calc(32 / 24);
			color: var(--bs-primary-hover, #{$dark-teal});
			@include media-breakpoint-down(md) {
				text-align: center;
			}
		}
		.form-wrap {
			textarea {
				min-height: 195px;
				border-radius: 4px;
				border-color: $border-color;
				@include media-breakpoint-up(xl) {
					min-height: rem(195);
				}
			}
			&__btn {
				padding-left: 21px;
				padding-right: 21px;
				font-size: 17px;
				line-height: calc(24 / 17);
				font-weight: 700;
				margin-top: 16px;
				margin-bottom: 8px;
				@include media-breakpoint-up(xl) {
					font-size: rem(18);
				}
				@include media-breakpoint-down(sm) {
					width: 100%;
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sForum

.forum-pagination {
	display: flex;
	align-items: center;
	padding: 20px 16px;
	font-weight: 400;
	font-size: 18px;
	@include media-breakpoint-down(md) {
		padding: 16px;
	}
	.pagination-nav {
		padding: 0;
	}
	.page-item {
		margin-right: 0;
		padding: 0 10px;
		&:not(:last-child) {
			border-right: 1px solid $gray-100;
		}
	}
	.page-item.active {
		.page-link {
			color: var(--bs-body-color, #{$body-color});
		}
	}
	.page-link {
		height: 24px;
		background-color: transparent;
		color: var(--bs-primary);
		border: none;
		min-width: 0;
	}
}

.discussion {
	// font-size: 18px;
	--paddingW: 16px;
	@include media-breakpoint-only(sm) {
		--paddingW: 12px;
	}
	// @include media-breakpoint-up(xl) {
	// 	--paddingW: #{rem(16)};
	// }
	&__item {
		border: 1px solid $border-color;
		border-radius: 8px;
		overflow: hidden;
		@include media-breakpoint-up(sm) {
			border-radius: 0;
		}
		&:not(:last-child) {
			margin-bottom: var(--paddingW);
			@include media-breakpoint-up(sm) {
				border-bottom: none;
				margin-bottom: 0;
			}
		}
		&:first-child {
			@include media-breakpoint-up(sm) {
				border-radius: 8px 8px 0 0;
			}
		}
		&:last-child {
			@include media-breakpoint-up(sm) {
				border-radius: 0 0 8px 8px;
			}
		}
	}

	&__row {
		--bs-gutter-x: 0;
	}
	&__col {
		@include media-breakpoint-up(sm) {
			width: 190px;
		}
		@include media-breakpoint-up(md) {
			width: 220px;
		}
		@include media-breakpoint-up(lg) {
			width: rem(230);
		}
	}
	&__item-head {
		padding: var(--paddingW);
		background-color: $light;
		height: 100%;
		.row {
			--bs-gutter-y: var(--paddingW);
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__item-content {
		display: flex;
		flex-direction: column;
		padding: var(--paddingW);
		height: 100%;
		.discussion__item-content {
			border: 1px solid $border-color;
			border-radius: 8px;
			margin-bottom: var(--paddingW);
		}
		.text-secondary {
			margin-bottom: var(--paddingW);
		}
		p {
			margin-bottom: var(--paddingW);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__btn {
		padding: 2px 15px;
		font-size: 18px;
		line-height: calc(26 / 18);
		margin-left: auto;
		margin-top: auto;
		@include media-breakpoint-up(xl) {
			font-size: rem(18);
		}
		// @media (max-width: 420px) {
		// 	width: 100%;
		// }
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	&__img-wrap {
		@include block;
		background-image: url("../img/svg/avatar-bg.svg");
		background-size: 100%;
		background-repeat: no-repeat;
		border-radius: 50%;
		background-color: $white;
		overflow: hidden;
		width: calc((var(--paddingW) * 2) + 4.5vw);
		max-width: 100%;
		@include media-breakpoint-up(sm) {
			width: calc(var(--paddingW) * 4.5);
		}
		// &--gradient {
		// 	&::after {
		// 		content: "";
		// 		position: absolute;
		// 		width: 100%;
		// 		height: 100%;
		// 		left: 0;
		// 		top: 0;
		// 		background-image: linear-gradient(
		// 			180deg,
		// 			rgba(3, 20, 19, 0.6) 14.89%,
		// 			rgba(6, 58, 55, 0.3) 35.07%,
		// 			rgba(8, 71, 67, 0.3) 42.43%,
		// 			rgba(3, 24, 23, 0.6) 71.92%
		// 		);
		// 		background-size: 100%;
		// 		background-repeat: no-repeat;
		// 	}
		// }
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
