// start .sAccount
.account-page {
	main {
		display: flex;
		flex-direction: column;
	}
}
.sAccount {
	background-image: url("../img/svg/account-bg.svg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
	z-index: 2;
	// min-height: 100%;
	flex-grow: 1;
	--sPT: #{rem(24)};
	--sPB: #{rem(60)};
	--sTPB: #{rem(24)};
	padding-left: 16px;
	padding-right: 16px;
	&__container {
		padding: 24px 0 42px;
		max-width: 608px !important;
		background: $white;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
		border-radius: $border-radius-sm;
	}
	&__top {
		padding: 0 min(rem(100), 100px);
		@include media-breakpoint-down(sm) {
			padding: 0 16px;
		}
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
		h1 {
			font-size: rem(40);
			@include media-breakpoint-down(sm) {
				font-size: rem(25);
				line-height: 96%;
			}
		}
	}
	&__body {
		position: relative;
		padding: 0 min(rem(100), 100px);
		@include media-breakpoint-down(sm) {
			padding: 0 16px;
		}
		&::after {
			position: absolute;
			content: "";
			display: block;
			top: rem(24);
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $gray-300;
		}
	}
	.tabs {
		&__slider {
			position: relative;
			margin-bottom: 33px;
		}
		&__caption {
		}
		&__btn {
			width: auto;
			&:not(:last-child) {
				margin-right: 24px;
			}
			&.active {
				position: relative;
				color: var(--bs-primary);
				&::after {
					position: absolute;
					content: "";
					width: 100%;
					left: 0;
					bottom: rem(5);
					height: 2px;
					background-color: var(--bs-primary);
				}
			}
			h2 {
				font-weight: 400;
				font-size: rem(15);
				line-height: 133%;
			}
		}
		&__content {
			&--personal {
				.upload-field {
					@include media-breakpoint-down(sm) {
						margin-bottom: 37px;
					}
				}
			}
			&--info {
				.upload-field__wrap {
					padding: 10px;
					margin-bottom: 32px;
					width: 100%;
					height: 60px;
					background: $gray-100;
					border: 1px solid $gray-300;
					border-radius: 4px;
				}
			}
		}
	}
	.form-wrap {
		&__input-wrap {
			margin-bottom: 16px;
		}
		&__form-caption,
		&__input-title {
			padding-left: 8px;
			margin-bottom: 8px;
			font-size: 14px;
			line-height: 114%;
		}
		&__form-caption--photo {
			text-align: center;
			padding-left: 0;
		}
		&__input.social {
			padding-left: 40px;
			background-repeat: no-repeat;
			background-position: 12px;
			&--vk {
				background-image: var(--vk);
				background-size: 18px 11px;
			}
			&--ok {
				background-image: var(--ok);
				background-size: 12px 20px;
			}
			&--telegram {
				background-image: var(--telegram);
				background-size: 18px 15px;
			}
			&--whatsapp {
				background-image: var(--whatsapp);
				background-size: 20px 20px;
			}
		}
		&__input[required] + .form-wrap__input-title {
			position: relative;
			&::after {
				position: absolute;
				content: "";
				display: inline-block;
				left: 0;
				bottom: -12px;
				width: 5px;
				height: 5px;
				background-image: url("../img/svg/required.svg");
				background-repeat: no-repeat;
			}
		}
		&__button {
			margin: 16px 0;
			width: 100%;
			font-weight: 700;
			@include media-breakpoint-down(sm) {
				margin: 7px 0;
			}
		}
	}
	.form-group {
		label {
			display: flex;
			flex-direction: column-reverse;
		}
	}
	.form-check {
		margin-bottom: 16px;
	}

	legend {
		font-size: 24px;
		line-height: 133%;
	}
	label {
		position: relative;
	}
	.icon-calendar {
		position: absolute;
		right: 10px;
		// top: 55%;
		top: 37px;
		font-size: 18px;
	}

	.upload-field {
		&__wrap {
			position: relative;
			width: 128px;
			height: 128px;
			margin: 0 auto;
			background-color: $gray-100;
			border: 1px solid #c9cad1;
			border-radius: 100%;
			overflow: hidden;
		}
		&__file-name {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			width: 100%;
			height: 100%;
			font-size: 14px;
			line-height: 114%;
			text-align: center;
		}
		&__input-wrap,
		&__btn,
		.input-upload {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
	}
	.choices {
		margin-bottom: 0;
	}
	.radio-wrap {
		margin-bottom: 16px;
		border: 1px solid $gray-600;
		.form-check {
			margin-bottom: 0;
			text-align: center;
		}
	}
	.choices__inner {
		padding-left: 7px !important;
		border: 1px solid $gray-600 !important;
		min-height: 0;
	}
	.choices__input {
		padding-left: 0 !important;
		background-color: transparent;
		margin-bottom: 0;
		width: 100% !important;
		&::placeholder {
			font-size: rem(18);
			width: auto;
			color: $gray-600;
		}
	}
	.choices__list--multiple .choices__item {
		margin-bottom: 2px;
		background-color: var(--bs-primary);
		border: 1px solid transparent;
	}
	.choices__list--dropdown,
	.choices__list[aria-expanded] {
		z-index: 50;
	}

	.choices[data-type*="select-multiple"] .choices__button,
	.choices[data-type*="text"] .choices__button {
		border-left: none;
	}
	.choices__input .choices__input--cloned {
		margin-bottom: 0;
	}
	textarea {
		height: 142px;
		border-radius: 24px;
	}
	.filepond-round {
		margin: 0 auto 16px;
		width: 128px;
		max-height: 128px;
		.filepond--drop-label {
			font-size: 14px;
			label {
				line-height: 114%;
			}
		}
	}

	.filepond--root {
		// max-height: rem(60);
		margin-bottom: 32px;
		font-family: $default-font;
	}
	.filepond--root .filepond--credits {
		display: none;
	}
	.filepond--drop-label {
		color: $dark;
		font-size: 16px;
		line-height: 125%;
		label {
			max-width: 250px;
		}
	}
	.filepond--panel-root {
		background-color: $gray-100;
		border-radius: 4px;
		border: 1px solid $gray-300;
	}
	.icon-calendar {
		@include mt;
	}
	.icon-calendar.active {
		color: var(--bs-primary);
	}

	.data-picker-wrap .air-datepicker {
		@include media-breakpoint-up(sm) {
			width: calc(100% - #{rem(100)} * 2);
		}
	}
	&__warning {
		position: relative;
		padding: 20px 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: calc(100% + 20px);
			left: 0;
			top: 0;
			background-color: rgba($color: #fff, $alpha: 0.600000023841857);
			border-radius: 8px 8px 0 0;
			z-index: -1;
		}
		img {
			width: 100%;
			max-width: 20px;
			margin-right: 8px;
		}
		p {
			font-size: 16px;
			margin-bottom: 0;
			line-height: 1.25;
			@include media-breakpoint-up(md) {
				font-size: 18px;
			}
		}
	}
	&--create-activity {
		.tabs {
			&__slider {
				max-width: max-content;
				@include media-breakpoint-down(md) {
					margin-bottom: 24px;
				}
			}
		}
		.sAccount {
			&__container {
				max-width: 1024px !important;
			}
			&__top {
				padding: 24px 16px 16px;
				@include media-breakpoint-up(md) {
					padding: 40px 16px 32px;
				} 
			}
			&__body {
				padding: 0 min(5.5555555556rem,16px);
				z-index: 2;
				@include media-breakpoint-up(md) {
					padding: 0 min(5.5555555556rem,48px);
				}
				&:after {
					@include media-breakpoint-up(md) {
						width: calc(100% - (48px * 2));
						left: 48px;
					}
				}
			}
			&__footer-btn {
				.row {
					--bs-gutter-x: #{rem(8)};
					--bs-gutter-y: #{rem(8)};
		
					justify-content: center;
				}
			}
			&__btn {
				width: 100%;
				&.btn-dark {
					--bs-btn-bg: #C9CAD1;
					--bs-btn-border-color: #C9CAD1;
					--bs-btn-hover-bg: #babbbe;
					--bs-btn-hover-border-color: #babbbe;
					--bs-btn-focus-shadow-rgb: 75,65,56;
					--bs-btn-active-color: #fff;
					--bs-btn-active-bg: #babbbe;
					--bs-btn-active-border-color: #babbbe;
					--bs-btn-disabled-color: #fff;
					--bs-btn-disabled-bg: #C9CAD1;
					--bs-btn-disabled-border-color: #C9CAD1;
				}
			}
			&__col {
				width: 100%;
				@include media-breakpoint-up(md) {
					max-width: rem(204);
				}
			}
			&__filter {
				position: relative;
				z-index: 10;
				margin-bottom: 26px;
			}
			&__filter-dropdown {
				@include mt;
				@extend .custom-scroll;
				position: absolute;
				top: calc(100% + 3px);
				left: 0;
				width: 100%;
				max-height: 202px;
				overflow-x: hidden;
				overflow-y: auto;
				border: 1px solid #999EAB;
				box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.20);
				background-color: #fff;
				border-radius: 16px;
				opacity: 0;
				pointer-events: none;
				&.active {
					opacity: 1;
					pointer-events: all;
				}
			}
			&__filter-item {
				font-size: 16px;
				line-height: 1.33;
				color: $gray-900;
				padding: 8px;
				cursor: pointer;
				@include mt;
				@include media-breakpoint-up(md) {
					font-size: 18px;
				}
				&:hover {
					background-color: #EDEFF3;
				}
			}
			&__projects-group-wrap {
				@extend .custom-scroll;
				max-height: 650px;
				overflow-x: hidden;
				overflow-y: auto;
				margin-bottom: 24px;
				@include media-breakpoint-up(md) {
					margin-bottom: 40px;
				}
				.custom-input {
					position: relative;
					margin-bottom: 0;
					max-width: max-content;
					padding-left: 28px;
					input {
						position: absolute;
						top: 2px;
						left: 0;
						margin-top: 0;
						margin-left: 0;
						&:focus {
							box-shadow: none;
						}
						&.delete {
							&:focus {
								border-color: #2B2015;
							}
							&:checked {
								background-color: #fff;
								border-color: #2B2015;
								background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.99702 11.003V12.997H19.802V11.003H3.99702Z' fill='%232B2015'/%3E%3C/svg%3E%0A")!important;
								& ~ .icon {
									color: #2B2015;
								}
							}
						}
					}
				}
				.icon {
					font-size: 16px;
					color: #DADADA;
					@include media-breakpoint-up(md) {
						font-size: 21px;
					}
				}
			}
			&__projects-group-row {
				--bs-gutter-y: 30px;
				display: flex;
				flex-direction: column;
				margin-top: calc(var(--bs-gutter-y) * -1);
				@include media-breakpoint-up(md)  {
					--bs-gutter-y: 40px;
				}
				& > * {
					margin-top: var(--bs-gutter-y);
				}
			}
			&__projects-group-item {
				position: relative;
				padding-left: rem(32);
				display: flex;
				align-items: center;
				padding-top: 16px;
				padding-bottom: 16px;
				gap: 8px;
				&:not(:last-child) {
					border-bottom: 1px solid #EDEFF3;
				}
				@include media-breakpoint-down(md) {
					flex-wrap: wrap;
				}
				.custom-input {
					// position: relative;
					position: static;
					display: flex;
					flex-direction: column;
					margin-bottom: 0;
					// padding-top: 16px;
					// padding-bottom: 8;
					// padding-left: rem(32);
					margin-right: auto;
					padding-left: 0;
					
					@include media-breakpoint-down(md) {
						width: 100%;
						max-width: max-content;
					}
					@include media-breakpoint-up(md) {
						align-items: center;
						flex-direction: row;
					}
					&:last-of-type,
					&:first-child {
						border-bottom: none;
					}
					input {
						position: absolute;
						top: 16px;
						left: 0;
						margin-top: 0;
						margin-left: 0;

						@include media-breakpoint-up(md) {
							top: 50%;
							transform: translateY(-50%);
						}
						&:focus {
							box-shadow: none;
						}
					}
					.h4 {
						margin-bottom: 0;
						line-height: 1;
					}
					p {
						margin-bottom: 0;
						font-size: 14px;
						color: #000;
					}
				}
				.link-wrap {
					@include media-breakpoint-down(md) {
						width: 100%;
						// margin-bottom: 8px;
					}
				}
				a {
					font-size: 14px;
					color: #000;
					// @include media-breakpoint-down(md) {
					// 	width: 100%;
					// 	margin-bottom: 8px;
					// }
					@include media-breakpoint-up(md) {
						margin-left: auto;
					}
					&:hover {
						color: $primary;
					}
				}
				.sAccount__input {
					font-size: 14px;
					&:disabled {
						background-color: #EDEFF3;
						border-color: #999EAB;
						&::placeholder {
							color: #999EAB;
						}
					}
				}
				.sAccount__input-wrap {
					width: 100%;
					max-width: 80px;
					input {
						text-align: center;
					}
					&--select {
						max-width: 160px;
						margin-right: 16px;
						input {
							text-align: left;
						}
						@include media-breakpoint-up(md) {
							margin-left: 39px;
						}
					}
				}
			}
			&__btn-save {
				display: block;
				width: 100%;
				max-width: 168px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.form-wrap {
			&__row {
				--bs-gutter-x: 16px;
				--bs-gutter-y: 8px;

				margin-bottom: 24px;
				@include media-breakpoint-up(lg) {
					--bs-gutter-y: 32px;
					margin-bottom: 40px;
				}
			}
			&__input-wrap {
				--bs-border-color: #999EAB;

				margin-bottom: 0;
				.icon-calendar {
					color: $primary;
				}
			}
			&__input {
				&::placeholder {
					color: #999EAB;
				}
			}
			&__footer-btn {
				--bs-gutter-x: #{rem(8)};
				--bs-gutter-y: #{rem(8)};

				justify-content: center;
			}
			&__btn {
				width: 100%;
				&.btn-dark {
					--bs-btn-bg: #C9CAD1;
					--bs-btn-border-color: #C9CAD1;
					--bs-btn-hover-bg: #babbbe;
					--bs-btn-hover-border-color: #babbbe;
					--bs-btn-focus-shadow-rgb: 75,65,56;
					--bs-btn-active-color: #fff;
					--bs-btn-active-bg: #babbbe;
					--bs-btn-active-border-color: #babbbe;
					--bs-btn-disabled-color: #fff;
					--bs-btn-disabled-bg: #C9CAD1;
					--bs-btn-disabled-border-color: #C9CAD1;
				}
			}
			&__col {
				width: 100%;
				@include media-breakpoint-up(md) {
					max-width: rem(204);
				}
			}
			&__btn-save {
				display: block;
				width: 100%;
				max-width: 168px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.select2 {
			@include media-breakpoint-down(lg) {
				width: 100% !important;
			}
		}
		.select2-container .select2-selection--single .select2-selection__rendered {
			padding-left: 0;
			padding-right: 0;
		}
		.select2-selection.select2-selection--single {
			border-color: #999EAB !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			color: #2B2015;
		}
		.select2-container--default .select2-selection--multiple .select2-selection__choice {
			color: #fff;
			background-color: #C9CAD1 !important;
			padding: 4px 28px 4px 8px;
			border-radius: 16px;
			line-height: 1;
			&:after {
				content: unset !important;
			}
			span {
				font-size: 14px;
			}
		}
		.select2-container--default .select2-selection--multiple {
			padding-left: 3px;
		}
		.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
			display: block !important;
			left: unset;
			right: 4px;
			top: 50%;
			transform: translateY(-50%);
			border-right: none;
			&:hover {
				background-color: transparent;
				color: inherit;
			}
			width: 20px;
			height: 20px;
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 4.27337L11.7267 3.33337L8.00004 7.06004L4.27337 3.33337L3.33337 4.27337L7.06004 8.00004L3.33337 11.7267L4.27337 12.6667L8.00004 8.94004L11.7267 12.6667L12.6667 11.7267L8.94004 8.00004L12.6667 4.27337Z' fill='white'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			span {
				display: none;
			}
		}
		&-2 {
			.events-filter {
				margin-bottom: 32px;
				@include media-breakpoint-up(lg) {
					margin-bottom: 40px;
				}
				.custom-input {
					border-radius: 24px;
					&.active {
						background-color: $primary;
						color: #fff;
					}
				}
			}
			.sAccount {
				&__container {
					padding-bottom: 0;
					background-color: transparent;
					box-shadow: none;
				}
				&__top {
					padding: 24px 16px 16px;
					background-color: #fff;
					border-radius: 8px 8px 0 0;
					@include media-breakpoint-up(md) {
						padding: rem(40) 0 rem(32);
					}
					.section-title {
						margin-bottom: 0;
					}
				}
				&__body {
					border-radius: 0 0 8px 8px;
					background-color: #fff;
				}
				&__footer-btn {
					padding: 24px 16px;
					border-radius: 8px;
					// background-color: rgba($color: #fff, $alpha: .5);
					position: relative;
					z-index: 1;
					&:before {
						content: '';
						position: absolute;
						display: block;
						width: 100%;
						height: calc(100% + 20px);
						top: -20px;
						left: 0;
						background-color: rgba($color: #fff, $alpha: .5);
						z-index: -1;
						border-radius: 0 0 8px 8px;
					}
				}
				&__body {
					padding-bottom: 24px !important;
				}
			}
			.form-wrap {
				&__row {
					// padding-bottom: 24px;
					margin-bottom: 0;
					@include media-breakpoint-up(lg) {
						// padding-bottom: 24px;
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.events-filter__input {
		border: 1px solid #999EAB !important;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAccount
.account-title {
	text-align: center;
	&.validated {
		.custom-input {
			border: 1px solid $red;
		}
		.account-title__caption {
			color: $red;
		}
	}
	.custom-input {
		position: relative;
		display: flex;
		justify-content: center;
		padding: 8px 30px;
		margin-bottom: 10px;
		border: 1px solid var(--bs-primary, #{$teal});
		border-radius: 48px;
		background-repeat: no-repeat;
		background-size: contain;
		overflow: hidden;
		@include media-breakpoint-down(sm) {
			padding: 8px 5px;
			input {
				float: none;
				margin-right: 3px;
			}
		}
		&.active {
			background-color: rgba(var(--bs-primary-rgb, #{78, 208, 200}), 0.2);
		}
		&__text {
			font-size: rem(18);
			line-height: 133%;
		}
		&__input {
			margin-left: 0;
			margin-top: 0;
			width: 24px;
			height: 24px;
			background: rgba(var(--bs-primary-rgb, #{78, 208, 200}), 0.2);
			border: 1px solid var(--bs-primary, #{$teal});
			border-radius: 4px;
			&:checked[type="checkbox"] {
				background-image: url("../img/svg/checked.svg");
				background-repeat: no-repeat;
				background-position: 50%;
				background-color: var(--bs-primary, #{$teal});
				& + .custom-input__text::after {
					position: absolute;
					display: block;
					content: "";
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: rgba(var(--bs-primary-rgb, #{78, 208, 200}), 0.2);
				}
			}
		}
	}
	&__caption {
		margin-bottom: 24px;
		font-size: 14px;
		line-height: 114%;
		color: #757b8a;
	}
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none !important;
}

@include media-breakpoint-down(sm) {
	.data-picker-wrap .air-datepicker {
		width: calc(100% - 16px * 2);
	}
}
