mixin sAccount(validated)
	// start sAccount
	+b.SECTION.sAccount.section#sAccount&attributes(attributes)
		+e.container.container
			+e.top
				+b.section-title.text-center
					h1 Мои настройки
				//- +form-wrap
				//- 	if validated
				//- 		+b.account-title.validated
				//- 			+in-c('checkbox','Опубликовать анкету на сайте','published')
				//- 			+e.caption Заполните обязательные поля, отмеченные звездочкой
				//- 	else
				//- 		+b.account-title
				//- 			+in-c('checkbox','Опубликовать анкету на сайте','published')
				//- 			+e.caption Для публикации вашей анкеты на сайте, необходимо заполнить все поля, отмеченные звездочкой
			+e.body
				.tabs
					.tabs__slider.tabs__slider--js.swiper
						.tabs__caption.swiper-wrapper
							.tabs__btn.swiper-slide.active
								h2 Персональные данные
							.tabs__btn.swiper-slide
								h2 Информация
							.tabs__btn.swiper-slide
								h2 Контакты
					.tabs__content.tabs__content--personal.active
						+form-wrap
							fieldset
								+e.form-caption.--photo Фото
								//- +upload-field('Перетащиетe свой файл или загрузите с компьютера')
								<input type="file" class="filepond-round" name="filepond" accept="image/png, image/jpeg, image/gif"/>
								+input("ivanov@yandex.ru",'', 'Электронная почта')(disabled)
								+in-c('checkbox','Не отображать почту для других пользователей','email')
								+input("Введите Вашу фамилию",'', 'Фамилия')(required class="required")
								+input("Введите Вашу имя",'', 'Имя')(required)
								+input("Введите Вашу отчество",'', 'Отчество')
								.data-picker-wrap
									+input("чч. мм. гг.",'text', 'Дата рождения','datettime')(required readonly autocomplete="off"  class="date-input").data-picker--js
										+icon('calendar')
							fieldset
								legend Смена пароля
								+input("Введите старый пароль",'password', 'Старый пароль')
								+input("Введите новый пароль",'password', 'Новый пароль')
								+input("Введите пароль ещё раз",'password', 'Повторите пароль')
								+e.button.BUTTON(type="submit").btn.btn-primary Сохранить
					.tabs__content.tabs__content--info
						+form-wrap
							+e.form-caption Статус
							.radio-wrap
								+in-c('radio','Трудоустроен','status')(checked)
								+in-c('radio','В поиске работы','status')
							//- +input('2011-2012','select', 'Год стажировки').js-choice

							+input('2011-2012','select', 'Год стажировки')(data-placeholder="placeholder 1" class="сustom-select-js")

							+input("Введите Вашу должность",'', 'Должность')
							+input('ОИВ','text', 'ОИВ/Подведомственная организация')
							//- +input('', 'text', 'Область экспертизы')(value="Область 1,Область 2" placeholder="sdfsdf").remove-btn--js
							+input('','select', 'Область экспертизы')(multiple data-placeholder="Область экспертизы" class="сustom-select-js")
							+input('Введите Ваш текст', 'textarea','Чем могу быть полезен')
							+input('','select', 'О себе')(multiple data-placeholder="Интересы" class="сustom-select-js")
							+e.form-caption Эссе
							//- +upload-field('Перетащите свой файл или загрузите с компьютера')
							<input type="file"  class="filepond" name="filepond" multiple  data-allow-reorder="true" data-max-file-size="3MB" data-max-files="3">
							+e.button.BUTTON(type="submit").btn.btn-primary Сохранить
					.tabs__content.tabs__content--contacts
						+form-wrap
							+input('+7 (ХХХ) ХХХ-ХХ-ХХ', 'tel', 'Телефон')
							+in-c('checkbox','Не отображать телефон для других пользователей')
							+input('https://vk.com/your_name').social--vk
							+input('https://ok.ru/profile/your_id').social--ok
							+input('@your_name').social--telegram
							+input('Телефон от аккаунта WhatsApp').social--whatsapp
							+in-c('checkbox','Требуется одобрение для показа контактов')
							+e.button.BUTTON(type="submit").btn.btn-primary Сохранить
	// end sAccount

mixin sAccount(validated)
	// start sAccount
	+b.SECTION.sAccount--create-activity.section#sAccount&attributes(attributes)
		+e.container.container
			+e.top
				+b.section-title.text-center
					h1 Создание занятия
				//- +form-wrap
				//- 	if validated
				//- 		+b.account-title.validated
				//- 			+in-c('checkbox','Опубликовать анкету на сайте','published')
				//- 			+e.caption Заполните обязательные поля, отмеченные звездочкой
				//- 	else
				//- 		+b.account-title
				//- 			+in-c('checkbox','Опубликовать анкету на сайте','published')
				//- 			+e.caption Для публикации вашей анкеты на сайте, необходимо заполнить все поля, отмеченные звездочкой
			+e.body
				.tabs
					.tabs__slider.tabs__slider--js.swiper
						.tabs__caption.swiper-wrapper
							.tabs__btn.swiper-slide.active
								h2 Информация
							.tabs__btn.swiper-slide
								h2 Ученики
					.tabs__content.tabs__content--personal.active
						+form-wrap()
							+e.row.row
								.col-md-6
									.data-picker-wrap
										+input("чч. мм. гг.",'text', 'Дата рождения','datettime')(readonly autocomplete="off"  class="date-input").data-picker--js.is-invalid
											+icon('calendar')
											span.invalid-feedback Заполните поле
								.col-md-6
									+input("00:00 – 00:00", 'text', 'Время проведения')
								.col-md-6.col-lg-4
									+input('Модуль','select', 'Тип занятия')(data-placeholder="Модуль" class="сustom-select-js")
								.col-md-6.col-lg-4
									+input("Укажите аудиторию", 'text', 'Аудитория')
								.col-md-6.col-lg-4
									+input("Введите название", 'text', 'Предмет')
								.col-lg-12
									+input('Введите Ваш текст', 'textarea', 'Комментарии')
							+e.footer-btn.row
								+e.col.col-md-auto: +e.btn.btn.btn-primary(href='#') Продолжить
								+e.col.col-md-auto: +e.btn.btn.btn-dark(href='#') Отмена
					.tabs__content.tabs__content
						+e.filter--js
							+input('Введите название группы или фамилию ученика', 'text', '')
							+e.filter-dropdown
								+e.filter-item Проектная группа №6
								+e.filter-item Проектная группа №1
								+e.filter-item Проектная группа №2
								+e.filter-item Прохоров Илья Сергеевич,  prohorov@mail.ru,  проектная группа №6
								+e.filter-item Прохоров Игорь Юрьевич,  prohorov.i@mail.ru,  проектная группа №6
								+e.filter-item Проектная группа №6
								+e.filter-item Проектная группа №1
								+e.filter-item Проектная группа №2
								+e.filter-item Прохоров Илья Сергеевич,  prohorov@mail.ru,  проектная группа №6
								+e.filter-item Прохоров Игорь Юрьевич,  prohorov.i@mail.ru,  проектная группа №6
						mixin groupItem(title, text, email)
							+in-c('checkbox', 'Проектная группа №3', name= typ, title, text, email)
								if title
									.h4!= title
								else
									p!= text
								if email
									a(href=`mailto:${email}`)!= email 
						+e.projects-group-wrap
							+e.projects-group-row
								+e.projects-group
									+in-c('checkbox')
										+icon('delete')
									+groupItem('Проектная группа №3', '', '')
									+groupItem('', 'Еркова Дарья Валерьевна', 'erkova@yandex.ru')
									+groupItem('', 'Летунова Александра Петровна', 'ivanov@yandex.ru')
									+groupItem('', 'Артюхова Светлана Владимировна', 'svetlana@yandex.ru')
									+groupItem('', 'Прохоров Илья Сергеевич', 'ivanpetrov@yandex.ru')
									+groupItem('', 'Петров Никита Александрович', 'erkova@yandex.ru')
									+groupItem('', 'Иванова Ольга Николаевна', 'olyaivanova@yandex.ru')
									+groupItem('', 'Егорова Нина Федоровна', 'nina@yandex.ru')
								+e.projects-group
									+groupItem('Проектная группа №4', '', '')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
								+e.projects-group
									+groupItem('Проектная группа №3', '', '')
									+groupItem('', 'Еркова Дарья Валерьевна', 'erkova@yandex.ru')
									+groupItem('', 'Летунова Александра Петровна', 'ivanov@yandex.ru')
									+groupItem('', 'Артюхова Светлана Владимировна', 'svetlana@yandex.ru')
									+groupItem('', 'Прохоров Илья Сергеевич', 'ivanpetrov@yandex.ru')
									+groupItem('', 'Петров Никита Александрович', 'erkova@yandex.ru')
									+groupItem('', 'Иванова Ольга Николаевна', 'olyaivanova@yandex.ru')
									+groupItem('', 'Егорова Нина Федоровна', 'nina@yandex.ru')
								+e.projects-group
									+groupItem('Проектная группа №4', '', '')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
								+e.projects-group
									+groupItem('Проектная группа №3', '', '')
									+groupItem('', 'Еркова Дарья Валерьевна', 'erkova@yandex.ru')
									+groupItem('', 'Летунова Александра Петровна', 'ivanov@yandex.ru')
									+groupItem('', 'Артюхова Светлана Владимировна', 'svetlana@yandex.ru')
									+groupItem('', 'Прохоров Илья Сергеевич', 'ivanpetrov@yandex.ru')
									+groupItem('', 'Петров Никита Александрович', 'erkova@yandex.ru')
									+groupItem('', 'Иванова Ольга Николаевна', 'olyaivanova@yandex.ru')
									+groupItem('', 'Егорова Нина Федоровна', 'nina@yandex.ru')
								+e.projects-group
									+groupItem('Проектная группа №4', '', '')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
									+groupItem('', 'Комаров Алексей Андеевич', 'komarovalex@yandex.ru')
									+groupItem('', 'Дрозд Арина Даниловна', 'arina@yandex.ru')
						+e.footer-btn.row
							+e.col.col-md-auto: +e.btn.btn.btn-primary(href='#') Продолжить
							+e.col.col-md-auto: +e.btn.btn.btn-dark(href='#') Отмена