.menu {
	@include media-breakpoint-up(lg) {
		display: flex;
		text-align: center;
		@include roww(20px);
		flex-wrap: wrap;
	}
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: #{rem(24)};
	}

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li {
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a {
		display: block;
		padding: 20px calc(var(--bs-gutter-x) / 2.3);
		text-transform: uppercase;
		font-size: 13px;
		line-height: 24px;
		letter-spacing: 1px;
		font-weight: bold;
		@include media-breakpoint-up(xl) {
			padding: rem(20) calc(var(--bs-gutter-x) / 2);
			font-size: rem(13);
			line-height: rem(24);
		}
		&:not(:hover) {
			color: var(--bs-body-color, #{$body-color});
		}
	}
}

.toggle-menu-mobile {
	--h: 2px;
	--color: #{var(--bs-body-color, #{$body-color})};
	--position: calc(var(--h) * 2.5);
	z-index: 9999;
	&::before {
		content: "";
		position: absolute;
		left: -7px;
		top: 0;
		width: 32px;
		height: 100%;
	}
	&.on span {
		--color: transparent;
	}

	&.on {
		--position: 0;
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h) * 20);
	position: relative;
	font-size: 18px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span {
		@include a-cent(y);
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden;
		transform-origin: 50% 50%;
	}
	span:before {
		top: var(--position);
		transform: rotate3d(0, 0, 1, var(--rotate, 0));
		background-color: #{var(--bs-body-color, #{$body-color})};
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
		background-color: #{var(--bs-body-color, #{$body-color})};
	}
}
@include media-breakpoint-down(lg) {
	.menu-mobile {
		position: fixed !important;
		// z-index: 999;
		z-index: -1;
		max-width: 100%;
		// height: calc(var(--vh, 1vh) * 100);
		// height: 100vh;
		width: 100%;
		bottom: 64px;
		// left: 0;
		right: 0;
		background-color: $body-bg;
		border-radius: 8px 8px 0 0;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.3;
			left: 0;
			top: 0;
			background-image: url("../img/svg/menu-bg.svg");
			background-repeat: no-repeat;
			background-position: right 32px center;
			background-size: auto 100%;
			@media (min-width: 500px) {
				background-position: left center;
			}
		}
		&:not(.active) {
			transform: translate3d(0, 120%, 0);
			--opacity: 0;
			.toggle-menu-mobile {
				opacity: 0;
			}
		}
		@include mt(0.6s);
		will-change: transform;

		// .toggle-menu-mobile {
		// 	margin-left: -15%;
		// 	position: absolute;
		// 	left: 0;
		// 	right: auto;
		// 	color: #fff;
		// 	top: 10px;
		// 	z-index: 9999;
		// 	span:after,
		// 	span:before {
		// 		--color: #ffffff;
		// 	}
		// }
		&__inner {
			padding: calc(env(safe-area-inset-top, 0px) + 20px) 0 calc(env(safe-area-inset-bottom, 0px) + 16px);
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			max-height: 100vh;
			// @include mt(.3s);
			// transition-delay: .4s;
			// opacity: var(--opacity);
		}

		&.active {
			.toggle-menu-mobile {
				opacity: 1;
			}
		}

		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0;
			// border-top: 1px solid rgba(255, 255, 255, 0.13);

			a {
				// font-size: 16px;

				padding: 12px 32px;
				display: block;
			}
		}
	}
}


