mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			+e.row.row
				.col-auto
					+e.logo(href='/')
						+img('img/svg/logotype.svg')
				.col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							//- +menu-toggle()
							+mnu()
				.col-auto
					+e.controls
						+e.btn(href="#").d-lg-none
							+icon('help')
						+e.btn
							+icon('notifications')
							+e.btn-count 86
								//- span 1860
						+e.btn--person(href="#")
							+icon('person')
							+e.SPAN.btn-text 
								span Алексей А.
								span Участник
							+e.btn-count
								span 3
				.col-auto.d-lg-none
					+menu-toggle()
	// end top-nav