.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	position: fixed;
	width: 100%;
	background-color: $white;
	z-index: 1000;
	bottom: 0;
	top: auto;
	@include media-breakpoint-up(lg) {
		top: 0;
		bottom: auto;
	}
	& > .container-fluid {
		position: relative;
	}
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: $white;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: var(--bs-gutter-x);
		align-items: center;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	// .section-title {
	// }
	// &__col {
	// }
	// &__item {
	// }
	&__slide {
		height: auto;
	}
	&__logo {
		position: relative;
		height: 100%;
		padding: 20px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		@include media-breakpoint-up(xl) {
			padding: rem(20) 0;
		}
		img {
			@include media-breakpoint-up(xl) {
				height: rem(24);
			}
		}
	}
	&__controls {
		@include mt;
		@include roww(12px, m);
		display: flex;
		align-items: center;
		@include media-breakpoint-up(sm) {
			--bs-gutter-x: 16px;
		}
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: 12px;
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(12)};
		}
		& > * {
			pointer-events: all;
		}
		a {
			color: var(--bs-body-color, #{$body-color});
		}
	}
	&__col-menu {
		@include media-breakpoint-down(lg) {
			position: absolute;
			top: 100%;
		}
	}
	// &__btn {
	// 	// @extend .btn;
	// 	@include mt;
	// 	position: relative;
	// 	border: none !important;
	// 	outline: none !important;
	// 	background-color: transparent;
	// 	color: var(--bs-body-color, #{$body-color});
	// 	padding: 0;
	// 	display: flex;
	// 	align-items: center;
	// 	height: 40px;
	// 	padding: 0;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	cursor: pointer;
	// 	@include media-breakpoint-up(lg) {
	// 		min-width: 28px;
	// 		border-radius: 32px;
	// 	}
	// 	@include media-breakpoint-up(xl) {
	// 		height: rem(40);
	// 		min-width: rem(32);
	// 	}
	// 	.icon {
	// 		// @include mt;
	// 		font-size: 24px;
	// 		@include media-breakpoint-up(xl) {
	// 			font-size: rem(24);
	// 		}
	// 	}

	// 	&:hover {
	// 		color: var(--bs-primary-hover, #{$link-hover-color});
	// 	}
	// 	&--person {
	// 		@include media-breakpoint-up(lg) {
	// 			background-color: $light;
	// 			padding: 8px 12px 8px 8px;
	// 		}
	// 		@include media-breakpoint-up(xl) {
	// 			padding: rem(8) rem(12) rem(8) rem(8);
	// 		}
	// 	}
	// }
	// &__btn-content {
	// 	a {
	// 		display: flex;

	// 	}
	// }
	// &__btn-count {
	// 	position: absolute;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	top: -2px;
	// 	right: -2px;
	// 	min-width: 18px;
	// 	height: 18px;
	// 	color: $white;
	// 	background-color: var(--bs-primary);
	// 	border-radius: 18px;
	// 	border: 2px solid $white;
	// 	font-size: 10px;
	// 	line-height: 18px;

	// 	@include media-breakpoint-up(xl) {
	// 		line-height: rem(18);
	// 		top: -2px;
	// 		right: -2px;
	// 		min-width: rem(18);
	// 		height: rem(18);
	// 		border-radius: rem(18);
	// 		font-size: rem(10);
	// 	}
	// 	// span {
	// 	// 	font-size: 10px;
	// 	// 	line-height: 1;
	// 	// 	@include media-breakpoint-up(xl) {
	// 	// 		font-size: rem(10);
	// 	// 	}
	// 	// }
	// }

	// &__btn-text {
	// 	display: none;
	// 	margin-left: 8px;
	// 	font-size: 14px;
	// 	line-height: 16px;
	// 	text-align: start;
	// 	@include media-breakpoint-up(lg) {
	// 		display: flex;
	// 		flex-direction: column;
	// 	}
	// 	@include media-breakpoint-up(xl) {
	// 		margin-left: rem(8);
	// 		font-size: rem(14);
	// 		line-height: rem(16);
	// 	}
	// 	span {
	// 		&:last-child {
	// 			font-size: 10px;
	// 			line-height: 1;
	// 			margin-left: 5px;
	// 			letter-spacing: 0.5px;
	// 			font-weight: bold;
	// 			@include media-breakpoint-up(xl) {
	// 				font-size: rem(10);
	// 				margin-left: rem(5);
	// 			}
	// 		}
	// 	}
	// }

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
