mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	//- -
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			+e.row.row
				+e.col-logo.col-auto.order-first
					+e.logo(href='/')
						+img('img/svg/logotype.svg')
				+e.col-menu.col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							//- +menu-toggle()
							+mnu()
				+e.controls-col.col-auto
					+e.controls
						+b.topNav-btnWrap
							+e.btn--rating
								+img('img/svg/good.svg')
								// <img src="img/svg/normal.svg" alt="" loading="lazy">
								// <img src="img/svg/poorly.svg" alt="" loading="lazy">
						+b.topNav-btnWrap--help.d-lg-none
							+e.btn.toggle-contact-js(data-id= "#ddHelp")
								+icon('help')
							//- +e.btn-content
							//- 	a(href="#")
							//- 		+icon('telegram-2')
							//- 		span Канал в телеграме
							//- 	a(href="#")
							//- 		+icon('question')
							//- 		span Вопрос админу
							//- 	a(href="#")
							//- 		+icon('pen')
							//- 		span Вопрос преподавателю
							//- 	a(href="#")
							//- 		+icon('help')
							//- 		span FAQ
						
						
						+b.topNav-btnWrap
							+e.btn(href="#")
								+icon('notifications')
								+e.btn-count 86
									//- span 1860
						+b.topNav-btnWrap--person
							+e.btn.toggle-contact-js(data-id= "#ddPerson")
								+icon('person')
								+e.SPAN.btn-text 
									span Алексей А.
									span Участник
								+e.btn-count
									span 3
							+e.btn-content.dropdown-contact-js#ddPerson
								a(href="#")
									+icon('change-contact')
									span Обмен контактами 
									+e.btn-count 3
								a(href="#")
									+icon('tune')
									span Настройки
								a(href="#")
									+icon('exit')
									span Выход
						+menu-toggle()
	// end top-nav


mixin top-navLanding() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			+e.row.row
				+e.col-logo.col-auto.order-first
					+e.logo(href='/')
						+img('img/svg/logotype.svg')
				+e.col-menu.col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							//- +menu-toggle()
							+landingMnu()
				+e.controls-col.col-auto
					+e.controls
						+b.topNav-btnWrap--person
							+e.btn.toggle-contact-js(data-id= "#ddPerson")
								+icon('person')
							+e.btn-content.dropdown-contact-js#ddPerson
								a(href="#")
									+icon('change-contact')
									span Обмен контактами 
									+e.btn-count 3
								a(href="#")
									+icon('tune')
									span Настройки
								a(href="#")
									+icon('exit')
									span Выход
						+menu-toggle()
	// end top-nav


mixin top-navMPA() 
	// start top-nav
	+b.top-nav--mpa.block-with-lazy
		.container-fluid
			+e.row.row
				//- +e.col-logo.col-auto.order-first
				//- 	+e.logo(href='/')
				//- 		+img('img/svg/logotype.svg')
				+e.col-menu.col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							//- +menu-toggle()
							+MnuMPA()
				+e.controls-col.col-auto
					+e.controls
						+b.topNav-btnWrap--help.d-lg-none
							+e.btn.toggle-contact-js(data-id= "#ddHelp")
								+icon('help')
						+b.topNav-btnWrap--person
							+e.btn.toggle-contact-js(data-id= "#ddPerson")
								+icon('person')
							+e.btn-content.dropdown-contact-js#ddPerson
								a(href="#")
									+icon('change-contact')
									span Обмен контактами 
									+e.btn-count 3
								a(href="#")
									+icon('tune')
									span Настройки
								a(href="#")
									+icon('exit')
									span Выход
						+menu-toggle()
	// end top-nav

mixin top-navTrainees() 
	// start top-nav
	+b.top-nav--trainees.block-with-lazy
		.container-fluid
			+e.row.row
				+e.col-logo.d-none.d-lg-block.col-auto
					+e.logo(href='/')
						+img('img/svg/logo-trainees.svg')
				+e.col-menu.col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							//- +menu-toggle()
							+traineesMnu()
				+e.controls-col.col-auto
					+e.controls
						+e.logo.d-lg-none(href='/')
							+img('img/svg/logo-trainees.svg')
						+b.topNav-btnWrap--help.d-lg-none
							+e.btn.toggle-contact-js(data-id= "#ddHelp")
								+icon('help')
						+menu-toggle()
						+b.topNav-btnWrap--person
							+e.btn.toggle-contact-js(data-id= "#ddPerson")
								+icon('person')
							+e.btn-content.dropdown-contact-js#ddPerson
								a(href="#")
									+icon('change-contact')
									span Обмен контактами 
									+e.btn-count 3
								a(href="#")
									+icon('tune')
									span Настройки
								a(href="#")
									+icon('exit')
									span Выход
	// end top-nav