mixin sFaq(data)
	// start sFaq
	+b.SECTION.sFaq.section#sFaq&attributes(attributes)
		.container
			+e.container
				+ddGroup
					+ddGroupItem('Что будет на завершающей сессии? ','')
						.sNewsItem
							p а&nbsp;завершающей сессии участники представляли решения своих управленческих задач на&nbsp;основе полученных во&nbsp;время обучения инструментов, рассказывали, как внедряли нововведения в&nbsp;своей команде. Выступления оценивали тьюторы и&nbsp;эксперты, в&nbsp;том числе непосредственные руководители участников программы, и&nbsp;сразу&nbsp;же давали обратную связь. Такой формат позволил руководителям посмотреть на&nbsp;прошедших обучение сотрудников с&nbsp;новой стороны, оценить рост их&nbsp;управленческих навыков.

					+ddGroupItem('Как проходит процесс обучения?','active')
						.sNewsItem
							p Все руководители хотели повысить эффективность своих команд, но&nbsp;каждый пришел с&nbsp;конкретной задачей. Например, один из&nbsp;участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и&nbsp;слабой мотивации. Как повысить вовлеченность и&nbsp;ответственность каждого за&nbsp;общий результат, выработать в&nbsp;коллективе новые общие ценности?
							ul
								li Участники в&nbsp;группах по&nbsp;семь человек в&nbsp;формате &laquo;равный&nbsp;&mdash; равному&raquo; обменивались лучшими практиками из&nbsp;личного управленческого опыта.
								li Частью обучения стал индивидуальный план развития с&nbsp;поддержкой тьютора на&nbsp;каждом этапе.
								li Эксперты оказывали персональную помощь участникам в&nbsp;решении конкретной управленческой задачи
							figure
								+img('img/news-1.jpg')
								figcaption Участники отмечают, что такой &laquo;гибридный&raquo; формат обучения дал высокие результаты. &quot;Меня поразило соотношение объема контентаи. 

					+ddGroupItem('Как подать заявку?','')
						.sNewsItem
							p Все руководители хотели повысить эффективность своих команд, но каждый пришел с конкретной задачей. Например, один из участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и слабой мотивации. Как повысить вовлеченность и ответственность каждого за общий результат, выработать в коллективе новые общие ценности?
					+ddGroupItem('Как проходит процесс обучения?','')
						.sNewsItem
							ol
								li Подать заявку на сайте
								li Заполнить анкету
								li Пройти онлайн-оценку
					+ddGroupItem('Как подать заявку?','')
						.sNewsItem
							figure
								+img('img/news-2.jpg')
								figcaption «Urban Лидер» — полноценный 6-месячный образовательный курс без отрыва участников от работы. 
	// end sFaq