.soc {
	@include roww(24px);
	display: flex;
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: #{rem(24)};
	}
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		// height: 20px;
		font-size: 20px;
		@include media-breakpoint-up(xl) {
			font-size: rem(20);
		}
		&-vk {
			font-size: 12px;
			@include media-breakpoint-up(xl) {
				font-size: rem(12);
			}
			// height: 12px;
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}
.container.breadcrumb-container {
	max-width: 1050px;
}
.breadcrumb {
	padding: rem(16) 0;
	font-family: $caption-font;
	font-size: rem(12);
	line-height: rem(16);
	list-style: none;
}

.breadcrumb-item {
	width: auto;
	&:not(:first-child) {
		& a::before {
			display: inline-block;
			background-image: url(../img/svg/breadcrums.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			content: "";
			height: 16px;
			margin: 0 5px;
			width: 16px;
		}
	}
	& a {
		display: flex;
		align-items: center;
		&:not(:hover) {
			color: $gray-900;
		}
	}
	&.active a {
		color: $gray-600;
		pointer-events: none;
	}
}

.pagination-nav {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}
.pagination {
	margin-bottom: 0;
}
.page-item {
	&:not(:last-child) {
		margin-right: 10px;
	}
}
.page-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	height: 32px;
	width: auto;
	min-width: 32px;
	border-radius: 4px;
	font-size: 16px;
	line-height: 1;
}
.pagination--conrols {
	.page-item {
		margin-right: 0;
		.page-link {
			background-color: $white;
		}
		&.disabled {
			.page-link {
				background-color: transparent !important;
				&::after {
					border-color: $gray-600;
				}
			}
		}
	}
}
.page-link--prev {
	position: relative;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	&::after {
		position: absolute;
		right: 50%;
		top: 50%;
		content: "";
		display: inline-block;
		height: 7px;
		width: 7px;
		border-top: 2px solid $dark;
		border-left: 2px solid $dark;
		transform-origin: center;
		transform: translateX(50%) translateY(-50%) rotate(-45deg);
	}
}
.page-link--next {
	position: relative;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	&::after {
		position: absolute;
		right: 17px;
		top: 50%;
		content: "";
		display: inline-block;
		height: 7px;
		width: 7px;
		border-bottom: 2px solid $dark;
		border-right: 2px solid $dark;
		transform: translateX(50%) translateY(-50%) rotate(-45deg);
	}
}

.chat {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 24px;
	right: 8px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: #4ed0c8;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
	z-index: 100;
	@include media-breakpoint-down(lg) {
		display: none;
	}
	.icon {
		color: $white;
		font-size: 24px;
	}
}

.useful-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 16px;
	color: $body-color;
	background: $white;
	border-radius: $border-radius-sm;
	border: 1px solid transparent;
	@include media-breakpoint-up(lg) {
		padding: rem(20);
	}
	&:hover {
		color: $link-hover-color;
		border-color: $primary;
		box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
		cursor: pointer;
	}
	&__content {
		position: relative;
		padding-bottom: 16px;
		border-bottom: 1px solid $gray-300;
		flex-grow: 1;
		@include media-breakpoint-up(lg) {
			padding-bottom: 21px;
		}
	}
	&__head {
		display: flex;
		@include roww(12px, m);
		--bs-gutter-y: 5px;
		padding-bottom: 16px;
		margin-top: calc(-1 * var(--bs-gutter-y));
		border-bottom: 1px solid $gray-300;
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(8);
			margin-right: calc(21% + 8px + var(--bs-gutter-x));
			border: none;
		}
		& > * {
			margin-top: var(--bs-gutter-y);
		}
	}
	&__footer {
		@include roww(8px, m);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		--bs-gutter-y: 8px;
		margin-top: calc((-1 * var(--bs-gutter-y)) + 17px);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
	}
	&__body {
		padding-top: 16px;
		@include media-breakpoint-up(lg) {
			padding-top: 0;
		}
		p {
			font-size: 16px;
			line-height: 1.25;
			font-weight: bold;
			&:last-child {
				margin-bottom: 0;
			}
			@include media-breakpoint-only(sm) {
				font-size: 20px;
			}
			@include media-breakpoint-up(md) {
				font-size: rem(18);
			}
		}
		.row {
			--bs-gutter-x: 12px;
			@include media-breakpoint-up(sm) {
				--bs-gutter-x: 24px;
			}
			@include media-breakpoint-up(xl) {
				--bs-gutter-x: #{rem(40)};
			}
		}
	}
	&__col {
		width: calc(18.3% + var(--bs-gutter-x));
		@include media-breakpoint-up(sm) {
			width: calc(21% + var(--bs-gutter-x));
		}
		// width: calc(21% + var(--bs-gutter-x));
	}

	&__img-wrap {
		@include block;
		background-image: url(../img/svg/useful-item-bg.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		border-radius: 50%;
		overflow: hidden;
		@include media-breakpoint-up(lg) {
			margin-top: -34px;
		}
		&--gradient {
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-image: linear-gradient(
					180deg,
					rgba(3, 20, 19, 0.6) 14.89%,
					rgba(6, 58, 55, 0.3) 35.07%,
					rgba(8, 71, 67, 0.3) 42.43%,
					rgba(3, 24, 23, 0.6) 71.92%
				);
				background-size: 100%;
				background-repeat: no-repeat;
			}
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.useful-label {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 24px;
	padding: 2.5px 15px 3.5px;
	font-size: 13px;
	font-weight: bold;
	line-height: calc(16 / 13);
	border: 1px solid transparent;
	background-color: var(--label-bg, transparent);
	color: var(--label-c, inherit);
	border-color: var(--label-bdc, transparent);
	@include media-breakpoint-up(xl) {
		font-size: rem(13);
		line-height: 18px;
		border-radius: rem(24);
		padding: rem(3) rem(15);
	}
	&--icon {
		padding-left: 4px;
		@include media-breakpoint-up(xl) {
			padding-left: rem(4);
		}
	}
	.icon {
		font-size: 16px;
		margin-right: 4px;
		@include media-breakpoint-up(xl) {
			font-size: rem(16);
			margin-right: rem(4);
		}
	}
}

.thanx {
	@include mt;
	padding: 12px;
	position: fixed;
	right: 8px;
	bottom: 72px;
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	z-index: 1051;
	opacity: 1;
	pointer-events: all;
	max-width: 372px;
	width: calc(100% - 16px);
	@include media-breakpoint-up(lg) {
		bottom: auto;
		top: 72px;
		transform: none;
		width: auto;
	}
	@include media-breakpoint-up(xl) {
		right: rem(8);
		top: rem(72);
	}
	&:not(.active) {
		opacity: 0;
		pointer-events: none;
		// display: none;
	}
	h5 {
		font-size: 18px;
		line-height: calc(24 / 18);
		margin-bottom: 4px;
		padding-right: 40px;
	}
	p {
		font-size: 14px;
		margin-bottom: 0;
	}
	&__btn {
		@include mt;
		cursor: pointer;
		position: absolute;
		top: 12px;
		right: 12px;
		width: 24px;
		height: 24px;
		&:before,
		&:after {
			content: "";
			@include a-cent();
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 4px;
			background-color: $primary;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
		&:hover {
			opacity: 0.5;
		}
	}
}
