.soc {
	@include roww(24px);
	display: flex;
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: #{rem(24)};
	}
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		// height: 20px;
		font-size: 20px;
		@include media-breakpoint-up(xl) {
			font-size: rem(20);
		}
		&-vk {
			font-size: 12px;
			@include media-breakpoint-up(xl) {
				font-size: rem(12);
			}
			// height: 12px;
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{var(--bs-primary)});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}
.container.breadcrumb-container {
	max-width: 1050px;
}
.breadcrumb {
	padding: 16px 0;
	font-family: $caption-font;
	font-size: 12px;
	line-height: calc(16 / 12);
	list-style: none;
	@include media-breakpoint-up(xl) {
		padding: rem(16) 0;
		font-size: rem(12);
	}
}

.breadcrumb-item {
	width: auto;
	&:not(:first-child) {
		& a::before {
			display: inline-block;
			background-image: url(../img/svg/breadcrums.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			content: "";
			height: 16px;
			margin: 0 5px;
			width: 16px;
			@include media-breakpoint-up(xl) {
				height: rem(16);
				margin: 0 rem(5);
				width: rem(16);
			}
		}
	}
	& a {
		display: flex;
		align-items: center;
		&:not(:hover) {
			color: $gray-900;
		}
	}
	&.active a {
		color: $gray-600;
		pointer-events: none;
	}
}

.pagination-nav {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}
.pagination {
	margin-bottom: 0;
	--bs-border-radius: 4px;
}
.page-item {
	&:not(:last-child) {
		margin-right: 10px;
	}
}
.page-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	height: 32px;
	width: auto;
	min-width: 32px;
	border-radius: var(--bs-pagination-border-radius);
	font-size: 16px;
	line-height: calc(24 / 16);
}
.pagination--conrols {
	.page-item {
		margin-right: 0;
		.page-link {
			background-color: $white;
		}
		&.disabled {
			.page-link {
				background-color: transparent !important;
				&::after {
					border-color: $gray-600;
				}
			}
		}
	}
}
.page-link--prev {
	position: relative;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	&::after {
		position: absolute;
		right: 50%;
		top: 50%;
		content: "";
		display: inline-block;
		height: 7px;
		width: 7px;
		border-top: 2px solid $dark;
		border-left: 2px solid $dark;
		transform-origin: center;
		transform: translateX(50%) translateY(-50%) rotate(-45deg);
	}
}
.page-link--next {
	position: relative;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	&::after {
		position: absolute;
		right: 17px;
		top: 50%;
		content: "";
		display: inline-block;
		height: 7px;
		width: 7px;
		border-bottom: 2px solid $dark;
		border-right: 2px solid $dark;
		transform: translateX(50%) translateY(-50%) rotate(-45deg);
	}
}

// .chat {
// 	position: fixed;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	bottom: 24px;
// 	right: 8px;
// 	width: 56px;
// 	height: 56px;
// 	border-radius: 50%;
// 	background: var(--bs-primary-hover);
// 	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
// 	z-index: 100;
// 	@include media-breakpoint-down(lg) {
// 		display: none;
// 	}
// 	.icon {
// 		color: $white;
// 		font-size: 24px;
// 	}
// }

.useful-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 16px;
	color: var(--bs-body-color, #{$body-color});
	background: $white;
	border-radius: $border-radius-sm;
	border: 1px solid transparent;
	@include media-breakpoint-up(lg) {
		padding: rem(20);
	}
	&:hover {
		color: var(--bs-primary-hover, #{$link-hover-color});
		border-color: var(--bs-primary);
		box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
		cursor: pointer;
	}
	&__content {
		position: relative;
		padding-bottom: 16px;
		border-bottom: 1px solid $gray-300;
		flex-grow: 1;
		@include media-breakpoint-up(lg) {
			padding-bottom: 21px;
		}
	}
	&__head {
		display: flex;
		@include roww(12px, m);
		--bs-gutter-y: 5px;
		padding-bottom: 16px;
		margin-top: calc(-1 * var(--bs-gutter-y));
		border-bottom: 1px solid $gray-300;
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(8);
			margin-right: calc(21% + 8px + var(--bs-gutter-x));
			border: none;
		}
		& > * {
			margin-top: var(--bs-gutter-y);
		}
	}
	&__footer {
		@include roww(8px, m);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		--bs-gutter-y: 8px;
		margin-top: calc((-1 * var(--bs-gutter-y)) + 17px);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
	}
	&__body {
		padding-top: 16px;
		@include media-breakpoint-up(lg) {
			padding-top: 0;
		}
		p {
			font-size: 16px;
			line-height: 1.25;
			font-weight: bold;
			&:last-child {
				margin-bottom: 0;
			}
			@include media-breakpoint-only(sm) {
				font-size: 20px;
			}
			@include media-breakpoint-up(md) {
				font-size: rem(18);
			}
		}
		.row {
			--bs-gutter-x: 12px;
			@include media-breakpoint-up(sm) {
				--bs-gutter-x: 24px;
			}
			@include media-breakpoint-up(xl) {
				--bs-gutter-x: #{rem(40)};
			}
		}
	}
	&__col {
		width: calc(18.3% + var(--bs-gutter-x));
		@include media-breakpoint-up(sm) {
			width: calc(21% + var(--bs-gutter-x));
		}
		// width: calc(21% + var(--bs-gutter-x));
	}

	&__img-wrap {
		@include block;
		background-image: url(../img/svg/useful-item-bg.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		border-radius: 50%;
		overflow: hidden;
		@include media-breakpoint-up(lg) {
			margin-top: -34px;
		}
		&--gradient {
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-image: linear-gradient(
					180deg,
					rgba(3, 20, 19, 0.6) 14.89%,
					rgba(6, 58, 55, 0.3) 35.07%,
					rgba(8, 71, 67, 0.3) 42.43%,
					rgba(3, 24, 23, 0.6) 71.92%
				);
				background-size: 100%;
				background-repeat: no-repeat;
			}
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.useful-label {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 24px;
	padding: 2.5px 15px 3.5px;
	font-size: 13px;
	font-weight: bold;
	line-height: calc(16 / 13);
	border: 1px solid transparent;
	background-color: var(--label-bg, transparent);
	color: var(--label-c, inherit);
	border-color: var(--label-bdc, transparent);
	@include media-breakpoint-up(xl) {
		font-size: rem(13);
		line-height: 18px;
		border-radius: rem(24);
		padding: rem(3) rem(15);
	}
	&--icon {
		padding-left: 4px;
		@include media-breakpoint-up(xl) {
			padding-left: rem(4);
		}
	}
	.icon {
		font-size: 16px;
		margin-right: 4px;
		@include media-breakpoint-up(xl) {
			font-size: rem(16);
			margin-right: rem(4);
		}
	}
}

.thanx {
	@include mt;
	padding: 12px;
	position: fixed;
	right: 8px;
	bottom: 8px;
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	z-index: 1051;
	opacity: 1;
	pointer-events: all;
	width: calc(100% - 16px);
	max-width: 100%;
	@include media-breakpoint-up(sm) {
		max-width: 372px;
		bottom: auto;
		top: 72px;
		transform: none;
		width: auto;
	}
	// @include media-breakpoint-up(lg) {
	// 	bottom: auto;
	// 	top: 72px;
	// 	transform: none;
	// 	width: auto;
	// }
	@include media-breakpoint-up(xl) {
		right: rem(8);
		top: rem(72);
	}
	&:not(.active) {
		opacity: 0;
		pointer-events: none;
		// display: none;
	}
	h5 {
		font-size: 18px;
		line-height: calc(24 / 18);
		margin-bottom: 4px;
		padding-right: 40px;
	}
	p {
		font-size: 14px;
		margin-bottom: 0;
	}
	&__btn {
		@include mt;
		cursor: pointer;
		position: absolute;
		top: 12px;
		right: 12px;
		width: 24px;
		height: 24px;
		&:before,
		&:after {
			content: "";
			@include a-cent();
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 4px;
			background-color: var(--bs-primary);
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
		&:hover {
			opacity: 0.5;
		}
	}
}
.topNav-btnWrap {
	// position: relative;
	@include media-breakpoint-down(lg) {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	&__btn {
		// @extend .btn;
		@include mt;
		position: relative;
		border: none !important;
		outline: none !important;
		background-color: transparent;
		color: var(--bs-body-color, #{$body-color});
		padding: 0;
		display: flex;
		align-items: center;
		height: 40px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		@include media-breakpoint-up(lg) {
			min-width: 28px;
			border-radius: 32px;
		}
		@include media-breakpoint-up(xl) {
			height: rem(40);
			min-width: rem(32);
		}
		.icon {
			// @include mt;
			font-size: 24px;
			@include media-breakpoint-up(xl) {
				font-size: rem(24);
			}
		}

		&:hover {
			color: var(--bs-primary-hover, #{$link-hover-color});
		}
		&.topNav-btnWrap__btn--rating {
			position: relative;
			z-index: 2;
			&:hover {
				&::before,
				&::after {
					visibility: visible;
				}
			}
			&::before {
				@include mt;
				content: attr(data-tooltip);
				position: absolute;
				left: 50%;
				width: auto;
				white-space: nowrap;
				transform: translateX(-50%);
				color: $body-color;
				font-weight: 400;
				font-size: 14px;
				line-height: calc(16 / 14);
				filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
				border-radius: 4px;
				padding: 4px 8px;
				background-color: var(--bs-white);
				visibility: hidden;
				bottom: 110%;
				@include media-breakpoint-up(lg) {
					bottom: auto;
					top: 110%;
				}
			}
			&:after {
				@include mt;
				content: "";
				position: absolute;
				left: 50%;
				width: auto;
				width: 12px;
				height: 6px;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='6' viewBox='0 0 13 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 6L6.5 0L0.5 6H12.5Z' fill='white'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
				background-size: 100% 100%;
				visibility: hidden;
				bottom: calc(110% + 1px);
				transform: translate(-50%, 100%) rotate(180deg);
				@include media-breakpoint-up(lg) {
					bottom: auto;
					top: calc(110% + 1px);
					transform: translate(-50%, -100%);
				}
			}
			img {
				width: 24px;
				height: auto;
				max-width: 100%;
				@include media-breakpoint-up(xl) {
					width: rem(24);
				}
			}
		}
	}
	&__btn-content {
		position: absolute;
		bottom: calc(100%);
		right: rem(16);
		background-color: $white;
		padding: 16px;
		border-radius: $border-radius-sm;
		// width: auto;
		max-width: 100%;
		min-width: 255px;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
		// z-index: 4;
		z-index: -1;
		&:not(.active) {
			display: none;
		}
		@include media-breakpoint-down(lg) {
			width: calc(100vw);
			border-end-start-radius: 0;
			border-end-end-radius: 0;
			right: 0;
		}
		@include media-breakpoint-up(xl) {
			min-width: rem(250);
			padding: rem(16);
		}
		a {
			display: flex;
			align-items: center;
			margin-bottom: 12px;
			font-size: 18px;
			color: var(--bs-body-color, #{$body-color});
			@include media-breakpoint-up(xl) {
				font-size: rem(18);
				margin-bottom: rem(12);
			}
			&:hover {
				color: var(--bs-primary-hover, #{$link-hover-color});
			}
			&:last-child {
				margin-bottom: 0;
			}
			span {
				white-space: nowrap;
			}
			.topNav-btnWrap__btn-count {
				margin-left: auto;
				position: unset;
			}
			.icon {
				font-size: 24px;
				margin-right: 8px;
				color: var(--bs-primary);
				@include media-breakpoint-up(xl) {
					font-size: rem(24);
					margin-right: rem(8);
				}
			}
		}
	}
	&__btn-count {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: -1px;
		right: -2px;
		min-width: 18px;
		height: 18px;
		color: $white;
		background-color: var(--bs-primary);
		border-radius: 18px;
		border: 2px solid $white;
		font-size: 10px;
		line-height: 18px;

		@include media-breakpoint-up(xl) {
			line-height: rem(18);
			// top:  -1px;
			// right: -2px;
			min-width: rem(18);
			height: rem(18);
			border-radius: rem(18);
			font-size: rem(10);
		}
		// span {
		// 	font-size: 10px;
		// 	line-height: 1;
		// 	@include media-breakpoint-up(xl) {
		// 		font-size: rem(10);
		// 	}
		// }
	}

	&__btn-text {
		display: none;
		margin-left: 8px;
		font-size: 14px;
		line-height: 16px;
		text-align: start;
		@include media-breakpoint-up(lg) {
			display: block;
			// flex-direction: column;
		}
		@include media-breakpoint-up(xl) {
			margin-left: rem(8);
			font-size: rem(14);
			line-height: rem(16);
		}
		span {
			display: block;
			&:last-child {
				font-size: 10px;
				line-height: 1;
				margin-left: 5px;
				letter-spacing: 0.5px;
				font-weight: bold;
				display: inline;
				@include media-breakpoint-up(xl) {
					font-size: rem(10);
					margin-left: rem(5);
				}
			}
		}
	}
	&--help {
		.topNav-btnWrap__btn-content {
			position: fixed;
			@include media-breakpoint-up(lg) {
				bottom: 75px;
			}
			bottom: 64px;
			// bottom: 100%;
		}
		@include media-breakpoint-up(lg) {
			.topNav-btnWrap__btn {
				position: fixed;
				display: flex;
				align-items: center;
				justify-content: center;
				bottom: 24px;
				right: 8px;
				width: 56px;
				height: 56px;
				border-radius: 50%;
				background-color: var(--bs-primary);
				box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
				z-index: 100;
				.icon {
					color: $white;
					font-size: 24px;
				}
				&:hover {
					background-color: var(--bs-primary-hover, #69d7d0);
				}
			}
			.topNav-btnWrap__btn-content {
				bottom: 90px;
			}
		}
	}
	&--person {
		.topNav-btnWrap__btn {
			@include media-breakpoint-up(lg) {
				background-color: $light;
				padding: 8px 12px 8px 8px;
			}
			@include media-breakpoint-up(xl) {
				padding: rem(8) rem(12) rem(8) rem(8);
			}
		}
		.topNav-btnWrap__btn-content {
			@include media-breakpoint-up(lg) {
				top: calc(100% + 4px);
				bottom: auto;
			}
		}
	}
}
.topNav-btnWrap--rating {
	order: -1;
}

.topNav-btnWrap--help .topNav-btnWrap__btn-content {
	z-index: 100;
}

.topicModule {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: calc(100% - 32px);
		height: 2px;
		bottom: -1px;
		left: 16px;
		bottom: 0;
		background-color: var(--bs-light);
		@include media-breakpoint-up(xl) {
			left: rem(16);
			width: calc(100% - rem(32));
		}
	}
	&.topicModule--main {
		& > .topicModule__head {
			.topicModule__title {
				color: $dark-teal;
			}
		}

		&:last-child {
			&::after {
				content: none;
			}
		}
	}
	&.active {
		& > .topicModule__head {
			.icon {
				transform: rotateX(180deg);
			}
		}
	}
	&__head {
		position: relative;
		display: flex;
		align-items: flex-start;
		padding: 16px;
		padding-right: 48px;
		@include media-breakpoint-up(xl) {
			padding: rem(16);
			padding-right: rem(48);
		}

		.icon {
			@include mt;
			position: absolute;
			right: 16px;
			top: 16px;
			font-size: 24px;
			@include media-breakpoint-up(xl) {
				font-size: rem(24);
				right: rem(16);
				top: rem(16);
			}
		}
	}
	&__title {
		flex-grow: 1;
		margin-right: 12px;
		font-weight: 700;
		font-size: 18px;
		line-height: calc(20 / 18);
		padding-top: 2px;
		@include media-breakpoint-up(xl) {
			font-size: rem(18);
			margin-right: rem(12);
		}
	}
	&__count {
		text-align: right;
		font-size: 14px;
		line-height: calc(24 / 14);
		color: var(--bs-secondary);
		@include media-breakpoint-up(xl) {
			font-size: rem(14);
		}
	}
	&__content {
		position: relative;
		// padding: 16px;
		// @include media-breakpoint-up(xl) {
		// 	padding: rem(16);
		// }
		&:not(.active) {
			display: none;
		}

		&::before {
			content: "";
			position: absolute;
			width: calc(100% - 32px);
			height: 2px;
			top: -1px;
			left: 16px;
			bottom: 0;
			background-color: var(--bs-light);
			@include media-breakpoint-up(xl) {
				left: rem(16);
				width: calc(100% - rem(32));
			}
		}
	}
}

.topicItem {
	position: relative;
	z-index: 2;
	padding: 16px;
	padding-right: 50px;
	@include media-breakpoint-up(xl) {
		padding: rem(16);
		padding-right: rem(50);
	}
	&.topicItem--complete {
		.topicItem__date-time {
			color: var(--bs-secondary);
		}
	}
	&::before {
		@include mt;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: transparent;
		z-index: -1;
		pointer-events: none;
	}
	&:hover,
	&.active {
		h6 {
			color: $dark-teal;
		}
		&::before {
			background-color: var(--bs-light);
			opacity: 0.3;
		}
	}
	&__date-time {
		font-size: 14px;
		line-height: calc(16 / 14);
		@include media-breakpoint-up(xl) {
			font-size: rem(14);
		}
	}
	&__date {
		font-size: 25px;
		line-height: 1;
		@include media-breakpoint-up(xl) {
			font-size: rem(25);
		}
	}
	h6 {
		@include mt;
	}
	&__rating {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $dark-teal;
		right: 6px;
		top: 16px;
		@include media-breakpoint-up(xl) {
			right: rem(6);
			top: rem(16);
		}
		span {
			font-size: 25px;
			line-height: 1;
			@include media-breakpoint-up(xl) {
				font-size: rem(25);
			}
		}
		small {
			font-size: 12px;
			line-height: calc(16 / 12);
			@include media-breakpoint-up(xl) {
				font-size: rem(12);
			}
		}
	}
	&__links {
		margin-bottom: 4px;
	}
	&__tag {
		color: $success;
		background-color: #d0f4d1;
		border-radius: 24px;
		font-weight: 700;
		font-size: 13px;
		line-height: calc(16 / 13);
		padding: 1px 16px 1px;
	}
	&__task {
		display: flex;
		align-items: center;
		color: #757b8a;
		font-size: 14px;
		line-height: calc(16 / 14);
		&:hover {
			color: var(--bs-primary);
		}
		.icon {
			font-size: 18px;
			margin-right: 3px;
			fill: currentColor;
		}
	}
	ul {
		list-style: none;
		&:last-child {
			margin-bottom: 0;
		}
		li {
			display: flex;
			// align-items: center;
			font-size: 14px;
			line-height: calc(18 / 14);
			margin-bottom: 4px;
			&:last-child {
				margin-bottom: 0;
			}
			.icon {
				font-size: 18px;
				flex-shrink: 0;
				margin-right: 3px;
			}
			span {
				display: block;
			}
		}
	}
}

.courseItem {
	--itemPaddingX: 16px;
	--itemPaddingY: 12px;
	margin-bottom: rem(24);
	// overflow: hidden;
	@include media-breakpoint-up(sm) {
		--itemPaddingY: 16px;
		--itemPaddingX: 24px;
	}
	// @include media-breakpoint-up(lg) {
	// 	margin-bottom: 0;
	// }
	@include media-breakpoint-up(md) {
		--itemPaddingX: 24px;
	}
	@include media-breakpoint-up(xl) {
		--itemPaddingX: #{rem(32)};
		--itemPaddingY: #{rem(16)};
	}
	background-color: var(--bs-white);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: $border-radius-sm;
	&__title {
		margin-bottom: 12px;
		@include media-breakpoint-up(md) {
			margin-bottom: 16px;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(18);
		}
		&:last-child {
			margin-bottom: 0;
		}
		h3 {
			margin-bottom: rem(8);
		}
		p {
			font-size: 14px;
			line-height: calc(16 / 14);
			@include media-breakpoint-up(xl) {
				font-size: rem(14);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__row {
		--bs-gutter-y: #{rem(20)};
	}
	&__head {
		position: relative;
		border-radius: $border-radius-sm $border-radius-sm 0 0;
		overflow: hidden;
		z-index: 2;
		padding-top: var(--itemPaddingY);
		padding-bottom: var(--itemPaddingY);
		padding-left: var(--itemPaddingX);
		padding-right: var(--itemPaddingX);
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: var(--bs-primary);
			opacity: 0.2;
			z-index: -1;
		}
	}
	&__links-row {
		--bs-gutter-y: #{rem(8)};
		a {
			display: flex;
			align-items: center;
			color: $dark-teal;
			font-size: 14px;
			line-height: calc(16 / 14);
			@include media-breakpoint-up(xl) {
				font-size: rem(14);
			}
			&:hover {
				color: var(--bs-primary);
			}
			.icon {
				font-size: 16px;
				margin-right: 3px;
				@include media-breakpoint-up(xl) {
					font-size: rem(16);
				}
				&.icon-doc {
					fill: none;
					stroke: currentColor;
				}
				&.icon-pen {
					fill: currentColor;
				}
			}
		}
	}
	&__description {
		padding-top: var(--itemPaddingY);
		padding-bottom: var(--itemPaddingY);
		padding-left: var(--itemPaddingX);
		padding-right: var(--itemPaddingX);
		ul {
			list-style: none;
			&:last-child {
				margin-bottom: 0;
			}
			li {
				display: flex;
				// align-items: center;
				font-size: 14px;
				line-height: calc(18 / 14);
				margin-bottom: 4px;
				&:last-child {
					margin-bottom: 0;
				}
				.icon {
					font-size: 18px;
					flex-shrink: 0;
					margin-right: 3px;
				}
				span {
					display: block;
				}
			}
		}
	}
	&__content {
		padding-top: var(--itemPaddingY);
		padding-bottom: calc(var(--itemPaddingY) * 2);
		padding-left: var(--itemPaddingX);
		padding-right: var(--itemPaddingX);
		&.courseItem__content--empty {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: rem(407);
			overflow: hidden;
			z-index: 2;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: var(--bs-light);
				border-radius: $border-radius-sm;
				opacity: 0.3;
				z-index: -1;
			}
			p {
				font-size: rem(20);
				line-height: calc(32 / 24);
				margin-bottom: 0;
				text-align: center;
				color: var(--bs-border-color);
				@include media-breakpoint-up(sm) {
					font-size: rem(24);
				}
			}
		}
		h6 {
			margin-bottom: 16px;
			font-size: 18px;
			@include media-breakpoint-up(xl) {
				margin-bottom: rem(16);
				font-size: rem(18);
			}
		}
		ul {
			margin-bottom: rem(24);
			&:last-child {
				margin-bottom: 0;
			}
			li {
				position: relative;
				list-style: none;
				font-size: rem(18);
				line-height: calc(24 / 18);
				padding-left: calc(1em * (24 / 18) + #{rem(8)});
				margin-bottom: rem(16);
				&:last-child {
					margin-bottom: 0;
				}
				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: calc(1em * (24 / 18));
					height: calc(1em * (24 / 18));
					background-image: url(../img/svg/list-dot.svg);
					background-size: 100% 100%;
					background-repeat: no-repeat;
				}
			}
		}
	}
	&__date-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: rem(18);
		line-height: calc(20 / 18);
		@include media-breakpoint-up(sm) {
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
	&__date-time {
		font-weight: 700;
	}
	&__rating {
		color: $dark-teal;
	}
}
