.soc {
	@include roww(24px);
	display: flex;
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: #{rem(24)};
	}
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		// height: 20px;
		font-size: 20px;
		@include media-breakpoint-up(xl) {
			font-size: rem(20);
		}
		&-vk {
			font-size: 12px;
			@include media-breakpoint-up(xl) {
				font-size: rem(12);
			}
			// height: 12px;
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}
.container.breadcrumb-container {
	max-width: 1050px;
}
.breadcrumb {
	padding: rem(16) 0;
	font-family: $caption-font;
	font-size: rem(12);
	line-height: rem(16);
	list-style: none;
}

.breadcrumb-item {
	width: auto;
	&:not(:first-child) {
		& a::before {
			display: inline-block;
			background-image: url(../img/svg/breadcrums.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			content: "";
			height: 16px;
			margin: 0 5px;
			width: 16px;
		}
	}
	& a {
		display: flex;
		align-items: center;
		&:not(:hover) {
			color: $gray-900;
		}
	}
	&.active a {
		color: $gray-600;
		pointer-events: none;
	}
}

.pagination-nav {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}
.pagination {
	margin-bottom: 0;
}
.page-item {
	&:not(:last-child) {
		margin-right: 10px;
	}
}
.page-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	height: 32px;
	width: auto;
	min-width: 32px;
	border-radius: 4px;
	font-size: 16px;
	line-height: 1;
}
.pagination--conrols {
	.page-item {
		margin-right: 0;
		.page-link {
			background-color: $white;
		}
		&.disabled {
			.page-link {
				background-color: transparent !important;
				&::after {
					border-color: $gray-600;
				}
			}
		}
	}
}
.page-link--prev {
	position: relative;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	&::after {
		position: absolute;
		right: 50%;
		top: 50%;
		content: "";
		display: inline-block;
		height: 7px;
		width: 7px;
		border-top: 2px solid $dark;
		border-left: 2px solid $dark;
		transform-origin: center;
		transform: translateX(50%) translateY(-50%) rotate(-45deg);
	}
}
.page-link--next {
	position: relative;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	&::after {
		position: absolute;
		right: 17px;
		top: 50%;
		content: "";
		display: inline-block;
		height: 7px;
		width: 7px;
		border-bottom: 2px solid $dark;
		border-right: 2px solid $dark;
		transform: translateX(50%) translateY(-50%) rotate(-45deg);
	}
}

.chat {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 24px;
	right: 8px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: #4ed0c8;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
	z-index: 100;
	@include media-breakpoint-down(lg) {
		display: none;
	}
	.icon {
		color: $white;
		font-size: 24px;
	}
}
