// start .sExperts
.sExperts {
	--sPT: #{rem(24)};
	--sPB: #{rem(24)};
	--sTPB: #{rem(24)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(48)};
		--sPB: #{rem(48)};
		--sTPB: #{rem(52)};
	}
	&__row {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(24)};
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: #{rem(65)};
		}
	}
	.section-title {
		h2 {
			@extend .h3;
			@include media-breakpoint-down(sm) {
				font-size: 19px;
			}
		}
	}
	// &__col{

	// }
	&__card {
		@include media-breakpoint-down(md) {
			font-size: rem(16);
		}
		&:hover {
			.sExperts__text {
				opacity: 1;
			}
		}
	}
	&__img-wrap {
		@include block(1, 1);
		border-radius: rem(16);
		overflow: hidden;
		margin-bottom: rem(8);
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__text {
		@include mt;
		display: flex;
		align-items: flex-end;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		padding: 5%;
		font-size: rem(16);
		font-weight: 700;
		color: var(--bs-white);
		z-index: 1;
		opacity: 0;
		pointer-events: none;
		@include media-breakpoint-down(md) {
			font-size: 13px;
			// font-weight: 500;
		}
		@include media-breakpoint-down(sm) {
			font-size: 12px;
			// font-weight: 500;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: var(--bs-primary);
			z-index: -1;
			opacity: 0.75;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__caption {
		display: flex;
		flex-direction: column;
	}

	&__wrapper {
		@include media-breakpoint-up(lg) {
			padding: 0 2rem;
		}
		@include media-breakpoint-up(xl) {
			padding: 0 3.5rem;
		}
	}

	&.sExperts--mpa {
		--sPT: 4px;
		--sPB: 4px;
		@include media-breakpoint-up(sm) {
			--sPT: 16px;
			--sPB: 16px;
		}
		.sExperts__wrapper {
			background-color: var(--bs-white);
			border-radius: rem(24);
			padding: 1.333rem 1rem 2.222rem;
			background-image: url(../img/svg/sExperts-bg-mpa-sm.svg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			@include media-breakpoint-up(md) {
				padding: 2.68rem 3.33rem;
				background-image: url(../img/svg/sExperts-bg-mpa.svg);
				background-position: 100% 0;
				background-size: auto 100%;
			}
		}
		.sExperts__row {
			@include media-breakpoint-down(md) {
				--bs-gutter-y: var(--bs-gutter-x);
				--bs-gutter-x: 32px;
			}
		}
		.sExperts__card {
			max-width: 262px;
			margin-left: auto;
			margin-right: auto;
		}
		.sExperts__text {
			font-weight: 300;
			font-size: 14px;
			line-height: calc(16 / 14);
			@include media-breakpoint-up(md) {
				&::before {
					background-color: transparent;
					background-image: linear-gradient(0deg, rgba(50, 42, 42, 0.6), rgba(50, 42, 42, 0.6)),
						linear-gradient(193.84deg, rgba(79, 79, 79, 0.07) -5%, rgba(0, 0, 0, 0) 23.86%),
						linear-gradient(127.8deg, rgba(72, 72, 72, 0.07) -1.69%, rgba(0, 0, 0, 0) 43.55%);
				}
			}
		}
		.sExperts__caption {
			font-size: 18px;
			padding-left: 5%;
			@include media-breakpoint-up(xl) {
				font-size: rem(18);
			}
			strong {
				display: block;
				font-weight: 600;
				font-size: inherit;
				margin-bottom: rem(8);
				line-height: calc(20 / 18);
			}
			span {
				display: block;
				@include media-breakpoint-only(md) {
					font-size: 0.85em;
				}
			}
			p {
				@include media-breakpoint-down(md) {
					margin-top: 2px;
				}
			}
			.sExperts__text {
				position: static;
				padding: 0;
				opacity: 1;
				height: auto;
				pointer-events: all;
				color: var(--bs-body-color);
				&::before {
					content: none;
				}
			}
		}
	}
	&.sExperts--trainees {
		.section-title {
			h2 {
				position: relative;
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				&::before {
					content: "";
					position: absolute;
					width: calc(100% + em(45));
					height: calc(100% + em(20));
					left: calc(-1 * em(45) / 2);
					top: calc(-1 * em(20) / 2);
					background-image: url("data:image/svg+xml,%3Csvg width='445' height='100' viewBox='0 0 445 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.4007 88.283C52.1439 87.8493 35.4275 81.2978 23.2735 74.1465C13.5027 68.3975 -0.00264108 59.282 1.05894 49.7252C2.66076 35.305 30.5992 27.1827 47.3921 22.3835C88.2246 10.714 136.646 2.42177 181.06 1.51743C235.158 0.415919 289.632 0.926709 343.48 4.48015C364.075 5.83923 384.665 7.75484 404.919 10.5749C412.993 11.6991 413.784 12.8633 416.852 17.6008C418.596 20.2941 422.924 22.8906 425.991 25.0499C429.369 27.4275 429.736 30.6778 430.307 33.7688C431.718 41.4008 433.989 49.1793 433.989 56.8781C433.989 61.9342 430.248 66.338 427.388 70.9298C424.025 76.3283 422.521 79.2335 415.709 82.9501C404.962 88.814 387.477 89.9396 374.327 91.2457C344.313 94.2265 313.19 93.1468 282.93 94.7163C262.412 95.7805 241.346 97.0072 220.792 97.3828C201.545 97.7344 182.027 97.7659 162.781 97.3828C150.931 97.1469 139.007 95.9014 127.174 95.9014C104.335 95.9014 82.6031 90.3793 60.9113 86.3783C48.5796 84.1038 35.5998 80.5753 24.4159 76.4321C17.1905 73.7553 8.64892 71.2174 7.91371 65.0891C6.47641 53.1084 8.32696 40.7576 20.4173 31.2293C35.9023 19.0258 58.5774 9.18479 82.8084 7.52753C105.445 5.97935 128.464 6.76569 151.229 6.76569C197.937 6.76569 246.084 6.99406 292.577 9.98236C322.295 11.8924 352.851 10.5749 382.705 10.5749C394.961 10.5749 407.231 10.2121 418.248 14.5534C431.951 19.9531 435.08 27.1349 440.209 36.7739C445.783 47.2505 445.313 54.9915 438.114 64.9621C432.597 72.6035 418.182 81.0488 406.443 84.4737C397.039 87.2173 386.706 87.8058 376.675 88.7062C364.563 89.7935 352.519 91.9163 340.434 92.8117C334.201 93.2735 328.295 95.3327 321.773 95.7321C309.391 96.4904 296.99 96.8185 284.58 97.5944C265.342 98.797 246.594 98.9488 227.203 98.9488C200.593 98.9488 173.668 99.4595 147.231 97.2558C132.45 96.0237 118.383 94.0602 103.817 92.2615C75.2279 88.731 44.0215 83.9899 24.7333 68.1364C8.75075 55 15.5542 44.3438 24.7333 28.021' stroke='%23FFBE55' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
					z-index: -1;
					background-size: 100% 100%;
				}
			}
		}
		.sExperts__row {
			--bs-gutter-x: 16px;
			--bs-gutter-y: 24px;
			@include media-breakpoint-up(md) {
				--bs-gutter-y: 32px;
			}
			@include media-breakpoint-up(xl) {
				--bs-gutter-y: 54px;
			}
		}
		.sExperts__img-wrap {
			border-radius: var(--bd-radius-main);
			margin-bottom: 8px;
		}
		.sExperts__caption {
			margin-left: 8px;
			@include media-breakpoint-up(xl) {
				font-size: 18px;
				line-height: calc(24 / 18);
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sExperts
