// start .sExperts
.sExperts {
	--sPT: #{rem(24)};
	--sPB: #{rem(24)};
	--sTPB: #{rem(24)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(48)};
		--sPB: #{rem(48)};
		--sTPB: #{rem(52)};
	}
	&__row {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(24)};
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: #{rem(65)};
		}
	}
	.section-title {
		h2 {
			@extend .h3;
			@include media-breakpoint-down(sm) {
				font-size: 19px;
			}
		}
	}
	// &__col{

	// }
	&__card {
		@include media-breakpoint-down(md) {
			font-size: rem(16);
		}
	}
	&__img-wrap {
		@include block(1, 1);
		border-radius: rem(16);
		overflow: hidden;
		margin-bottom: rem(8);
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__caption {
		display: flex;
		flex-direction: column;
	}

	&__wrapper {
		@include media-breakpoint-up(lg) {
			padding: 0 2rem;
		}
		@include media-breakpoint-up(xl) {
			padding: 0 3.5rem;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sExperts
