// start .sExperts
.sExperts {
	--sPT: #{rem(24)};
	--sPB: #{rem(24)};
	--sTPB: #{rem(24)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(48)};
		--sPB: #{rem(48)};
		--sTPB: #{rem(52)};
	}
	&__row {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(24)};
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: #{rem(65)};
		}
	}
	.section-title {
		h2 {
			@extend .h3;
			@include media-breakpoint-down(sm) {
				font-size: 19px;
			}
		}
	}
	// &__col{

	// }
	&__card {
		@include media-breakpoint-down(md) {
			font-size: rem(16);
		}
		&:hover {
			.sExperts__text {
				opacity: 1;
			}
		}
	}
	&__img-wrap {
		@include block(1, 1);
		border-radius: rem(16);
		overflow: hidden;
		margin-bottom: rem(8);
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__text {
		@include mt;
		display: flex;
		align-items: flex-end;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		padding: 5%;
		font-size: rem(16);
		font-weight: 700;
		color: var(--bs-white);
		z-index: 1;
		opacity: 0;
		pointer-events: none;
		@include media-breakpoint-down(md) {
			font-size: 13px;
			// font-weight: 500;
		}
		@include media-breakpoint-down(sm) {
			font-size: 12px;
			// font-weight: 500;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: var(--bs-primary);
			z-index: -1;
			opacity: 0.75;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__caption {
		display: flex;
		flex-direction: column;
	}

	&__wrapper {
		@include media-breakpoint-up(lg) {
			padding: 0 2rem;
		}
		@include media-breakpoint-up(xl) {
			padding: 0 3.5rem;
		}
	}

	&.sExperts--mpa {
		.sExperts__wrapper {
			background-color: var(--bs-white);
			border-radius: rem(24);
			padding: 1.333rem 1rem 2.222rem;
			background-image: url(../img/svg/sExperts-bg-mpa-sm.svg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			@include media-breakpoint-up(md) {
				padding: 2.68rem 3.33rem;
				background-image: url(../img/svg/sExperts-bg-mpa.svg);
				background-position: 100% 0;
				background-size: auto 100%;
			}
		}
		.sExperts__row {
			@include media-breakpoint-down(md) {
				--bs-gutter-y: 32px;
			}
		}
		.sExperts__card {
			max-width: 262px;
			margin-left: auto;
			margin-right: auto;
		}
		.sExperts__text {
			font-weight: 300;
			font-size: 14px;
			line-height: calc(16 / 14);
			@include media-breakpoint-up(md) {
				&::before {
					background-color: transparent;
					background-image: linear-gradient(0deg, rgba(50, 42, 42, 0.6), rgba(50, 42, 42, 0.6)),
						linear-gradient(193.84deg, rgba(79, 79, 79, 0.07) -5%, rgba(0, 0, 0, 0) 23.86%),
						linear-gradient(127.8deg, rgba(72, 72, 72, 0.07) -1.69%, rgba(0, 0, 0, 0) 43.55%);
				}
			}
		}
		.sExperts__caption {
			font-size: 18px;
			@include media-breakpoint-up(xl) {
				font-size: rem(18);
			}
			strong {
				display: block;
				font-weight: 600;
				font-size: inherit;
				margin-bottom: rem(8);
				line-height: calc(20 / 18);
			}
			span {
				display: block;
				@include media-breakpoint-only(md) {
					font-size: 0.85em;
				}
			}
			p {
				@include media-breakpoint-down(md) {
					margin-top: 2px;
				}
			}
			.sExperts__text {
				position: static;
				padding: 0;
				opacity: 1;
				height: auto;
				pointer-events: all;
				color: var(--bs-body-color);
				&::before {
					content: none;
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sExperts
