// start .sAboutUniver
.sAboutUniver {
	--sPT: #{rem(24)};
	--sPB: #{rem(24)};
	--sTPB: #{rem(16)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(48)};
		--sPB: #{rem(48)};
		--sTPB: #{rem(24)};
	}
	@include media-breakpoint-up(lg) {
		--sTPB: #{rem(32)};
	}
	&__row {
		--bs-gutter-y: var(--bs-gutter-x);
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(32)};
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(38)};
		}
		@include media-breakpoint-up(xxl) {
			--bs-gutter-x: #{rem(56)};
		}
	}
	h2 {
		@extend .h3;
		margin-bottom: 0;
		@include media-breakpoint-down(sm) {
			font-size: 19px;
		}
	}
	// .section-title {
	// }

	// &__item {
	// }
	&__img-wrap {
		padding-left: 4%;
		padding-bottom: 4%;
		// width: 530px;
		max-width: 100%;
		@include media-breakpoint-up(xl) {
			width: 530px;
		}
		img {
			border-radius: rem(16);
			max-width: 100%;
			height: auto;
		}
		&::before {
			content: "";
			position: absolute;
			border-radius: rem(16);
			background-color: var(--bs-primary);
			left: 0;
			bottom: 0;
			width: 96%;
			height: 96%;
			z-index: -1;
		}
		&::after {
			content: "";
			position: absolute;
			border-radius: rem(16);
			top: 0;
			right: 0;
			width: 96%;
			height: 96%;

			background-image: linear-gradient(180deg, rgba(57, 117, 255, 0) 49.86%, rgba(18, 62, 164, 0.9) 100%),
				linear-gradient(180deg, rgba(0, 0, 0, 0) 65.62%, rgba(0, 0, 0, 0.5) 100%);
			@include media-breakpoint-up(md) {
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.62%, rgba(0, 0, 0, 0.5) 100%);
			}
			// background-image: linear-gradient(200.94deg, rgba(0, 0, 0, 0.064) 1.51%, rgba(0, 0, 0, 0) 86.16%);
		}
	}

	&__text {
		display: flex;
		align-items: flex-end;
		position: absolute;
		right: 0;
		top: 0;
		width: 96%;
		height: 96%;
		padding: rem(20);
		color: var(--bs-white);
		z-index: 1;
		p {
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ul {
		list-style: none;
		&:last-child {
			margin-bottom: 0;
		}
		li {
			position: relative;
			line-height: calc(19 / 16);
			margin-bottom: 1em;
			padding-left: 1.7em;
			font-size: rem(16);
			@include media-breakpoint-up(xl) {
				font-size: 1rem;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 1.1875em;
				height: 1.1875em;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.9995 7.99999L11.3238 3L7.56558 3L11.0727 6.59875H1V9.73774H10.7448L7.56568 13L11.3238 12.9998L15.9995 7.99999Z' fill='%235184FA'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 90%;
			}
		}
	}

	.tabs {
		&__caption {
			@include roww(4px, m);
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			--bs-gutter-y: #{rem(4)};
			margin-top: calc(-1 * var(--bs-gutter-y));
			margin-bottom: 1rem;
			@include media-breakpoint-up(xxl) {
				--bs-gutter-x: #{rem(8)};
			}
		}
		&__btn {
			display: flex;
			font-weight: 600;
			line-height: 1;
			border-radius: rem(8);
			padding: rem(8) rem(10);
			background-color: var(--bs-white);
			flex: 0 0 auto;
			width: calc(100% - var(--bs-gutter-x));
			align-items: center;
			min-height: 52px;
			margin-top: var(--bs-gutter-y);
			@include media-breakpoint-up(sm) {
				font-size: rem(16);
				align-items: flex-start;
				flex: 0 0 auto;
				width: calc((100% / 3) - var(--bs-gutter-x));
			}
			@include media-breakpoint-up(md) {
				align-items: center;
				flex: 0 0 auto;
				width: calc(100% - var(--bs-gutter-x));
			}
			@include media-breakpoint-up(lg) {
				align-items: flex-start;
				flex: 0 0 auto;
				width: calc((100% / 3) - var(--bs-gutter-x));
			}
			@include media-breakpoint-up(xl) {
				font-size: 1rem;
			}
			@include media-breakpoint-up(xxl) {
				padding: rem(14);
			}
			&.active {
				background-color: var(--bs-primary);
				color: var(--bs-white);
			}
		}
		&__content {
			ol {
				li {
					line-height: calc(19 / 16);
					margin-bottom: rem(8);
					font-size: rem(16);
					@include media-breakpoint-up(xl) {
						font-size: 1rem;
					}
					&::marker {
						font-weight: 700;
					}
				}
			}
		}
	}

	.createBlock {
		display: flex;
		// align-items: center;
		background-color: var(--bs-white);
		border-radius: rem(16);
		overflow: hidden;
		margin-bottom: rem(8);
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(32);
		}
		&__title {
			position: relative;
			font-weight: 900;
			font-size: rem(80);
			line-height: 1;
			padding: rem(16);
			background-color: var(--bs-primary);
			color: var(--bs-white);
			@include media-breakpoint-only(md) {
				font-size: rem(60);
			}
			@include media-breakpoint-down(sm) {
				text-align: center;
			}
			span {
				display: block;
				font-weight: 700;
				font-size: 0.2em;
			}
		}
		&__year {
			display: flex;
			align-items: center;
			@include media-breakpoint-down(sm) {
				justify-content: center;
			}
			span {
				display: block;
				font-weight: 900;
				writing-mode: vertical-rl;
				transform: scale(-1);
				line-height: 1;
				font-size: 0.233em;
				text-transform: uppercase;
				margin-left: rem(8);
			}
		}
		p {
			padding: rem(16);
			margin-bottom: 0;
			font-weight: 700;
			line-height: calc(20 / 16);
			@include media-breakpoint-only(md) {
				font-size: rem(16);
			}
		}
	}
	&.sAboutUniver--mpa {
		--sPT: 4px;
		--sPB: 4px;
		@include media-breakpoint-up(sm) {
			--sPT: 16px;
			--sPB: 16px;
		}
		.sAboutUniver__img-wrap {
			padding: 0;
			max-width: 530px;
			&::before {
				width: 100%;
				height: 100%;
			}
			&::after {
				width: 100%;
				height: 100%;
				background-image: linear-gradient(181.04deg, rgba(0, 0, 0, 0) 12.86%, rgba(0, 0, 0, 0.644) 99.11%);
				@include media-breakpoint-up(md) {
					background-image: linear-gradient(200.94deg, rgba(0, 0, 0, 0.064) 1.51%, rgba(0, 0, 0, 0) 86.16%);
				}
			}
		}
		.sAboutUniver__text {
			text-align: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			padding: 26px 24px;
		}
		.tabs__caption {
			.tabs__btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: auto;
				flex-grow: 1;
				font-weight: 800;
				line-height: 1;
				font-size: 34px;
				padding: 8px 10px;
				@include media-breakpoint-up(lg) {
					padding: 10px;
					font-size: 40px;
				}
			}
		}
		.tabs__content {
			h4 {
				margin-bottom: 4px;
				@include media-breakpoint-down(sm) {
					font-size: 20px;
				}
				& + span {
					display: block;
					margin-bottom: 32px;
					@include media-breakpoint-up(md) {
						margin-bottom: 16px;
					}
					@include media-breakpoint-only(md) {
						font-size: rem(16);
					}
				}
			}
			h6 {
				// color: var(--bs-primary);
				margin-bottom: 4px;
				font-size: rem(16);
				@include media-breakpoint-up(md) {
					font-size: rem(18);
					// color: var(--bs-body-color);
				}
				@include media-breakpoint-only(md) {
					font-size: rem(16);
				}
				& + p {
					margin-bottom: 32px;
					@include media-breakpoint-up(md) {
						margin-bottom: 16px;
					}
				}
			}
			p {
				&:last-child {
					margin-bottom: 0;
				}
				@include media-breakpoint-only(md) {
					font-size: rem(16);
				}
			}
		}
		.sAboutUniver__wrapper {
			background-color: var(--bs-light);
			border-radius: rem(24);
			padding: 2rem 1rem;
			@include media-breakpoint-up(sm) {
				padding: 2.5rem;
			}
			@include media-breakpoint-up(xl) {
				padding: 3rem 2.5rem;
			}
		}
	}
	&.sAboutUniver--trainees {
		--sTPB: 24px;
		.sAboutUniver__row {
			@include media-breakpoint-up(md) {
				--bs-gutter-y: 0;
			}
		}
		.sAboutUniver__wrapper {
			border-radius: var(--bd-radius-main);
			@include media-breakpoint-up(md) {
				background-color: var(--bs-white);
				padding: 2rem 1.5rem;
			}
			@include media-breakpoint-up(lg) {
				padding: 2rem;
			}
			@include media-breakpoint-up(xl) {
				padding: 50px;
			}
		}
		h2 {
			line-height: calc(40 / 36);
			@include rfs(36px, font-size);
			@include media-breakpoint-up(xl) {
				font-size: 36px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 20px;
			}
		}
		.sAboutUniver__img-wrap {
			border-radius: var(--bd-radius-main);
			overflow: hidden;
			padding: 0;
			max-width: 100%;
			@include block(507, 512);
			&::before {
				width: 100%;
				height: 100%;
				background-color: transparent;
			}
			&::after {
				width: 100%;
				height: 100%;
				background-image: linear-gradient(36.67deg, rgba(84, 45, 128, 0.4) 19.63%, rgba(84, 45, 128, 0) 70.89%);
				@include media-breakpoint-up(lg) {
					background-image: linear-gradient(200.94deg, rgba(0, 0, 0, 0.064) 1.51%, rgba(0, 0, 0, 0) 86.16%);
				}
			}
			@include media-breakpoint-up(xl) {
				width: 507px;
			}
			@include media-breakpoint-up(xxl) {
				width: 530px;
			}
			img {
				border-radius: 0;
				position: absolute;
				left: 0;
				top: 0;
				object-position: 50%;
				width: 100%;
				height: 100%;
			}
		}
		.sAboutUniver__img-wrap--sm {
			@include media-breakpoint-down(md) {
				--ratio: 164/328;
			}
		}
		.sAboutUniver__text {
			// text-align: center;
			// justify-content: center;
			width: 100%;
			height: 100%;
			@include media-breakpoint-up(xl) {
				padding: 24px;
			}
			p {
				@include media-breakpoint-up(xl) {
					font-size: 18px;
				}
			}
		}
		.tabs__caption {
			--bs-gutter-y: 8px;
		}
		.tabs__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 36px;
			font-weight: 700;
			font-size: 14px;
			line-height: calc(16 / 14);
			text-align: center;
			color: #3e4260;
			@include media-breakpoint-up(md) {
				background-color: var(--bs-light);
			}
			@include media-breakpoint-up(lg) {
				font-size: 12px;
				line-height: calc(16 / 12);
			}
			&.active {
				color: var(--bs-white);
				background-color: var(--bs-primary-hover);
				@include media-breakpoint-up(md) {
					background-color: var(--bs-primary);
				}
			}
		}
		ul {
			li {
				padding-left: 26px;
				&:last-child {
					margin-bottom: 0;
				}
				@include media-breakpoint-up(xl) {
					font-size: 18px;
					line-height: calc(24 / 18);
					margin-bottom: 24px;
				}
				@include media-breakpoint-only(sm) {
					font-size: 16px;
				}
				&::before {
					width: 10px;
					height: 10px;
					background-image: none;
					border-radius: 50%;
					background-color: #ffbe55;
					left: 2px;
					top: em(5);
					@include media-breakpoint-up(xl) {
						top: em(7);
					}
				}
			}
		}
		ol {
			li {
				&:last-child {
					margin-bottom: 0;
				}
				@include media-breakpoint-up(xl) {
					font-size: 18px;
					line-height: calc(24 / 18);
					margin-bottom: 24px;
				}
				@include media-breakpoint-only(sm) {
					font-size: 16px;
				}
			}
		}
	}
	&.sAboutUniver--about {
		.sAboutUniver__row {
			--bs-gutter-y: 24px;
		}
		.sAboutUniver__wrapper {
			background-color: var(--bs-white);
			@include media-breakpoint-down(md) {
				padding: 32px 24px;
			}
			@include media-breakpoint-down(sm) {
				padding: 24px 16px;
			}
		}
		.sAboutUniver__text {
			p {
				@include media-breakpoint-only(md) {
					font-size: 14px;
				}
			}
		}
		.sAboutUniver__img-wrap {
			&::after {
				background-image: linear-gradient(180deg, rgba(102, 51, 152, 0) 13.66%, rgba(102, 51, 152, 0.5) 100%),
					linear-gradient(180deg, rgba(0, 0, 0, 0) 65.62%, rgba(0, 0, 0, 0.5) 100%);
				@include media-breakpoint-up(lg) {
					background-image: linear-gradient(180deg, rgba(84, 45, 128, 0) 63.02%, rgba(84, 45, 128, 0.5) 100%);
				}
			}
			@include media-breakpoint-down(md) {
				width: calc(100% + 48px);
				margin-left: -24px;
				margin-right: -24px;
				max-width: unset;
			}
			@include media-breakpoint-down(sm) {
				width: calc(100% + 32px);
				margin-left: -16px;
				margin-right: -16px;
			}
		}
		.createBlock {
			max-width: 584px;
			@include media-breakpoint-down(md) {
				width: calc(100% + 48px);
				margin-left: -24px;
				margin-right: -24px;
				max-width: unset;
				flex-direction: column;
			}
			@include media-breakpoint-down(sm) {
				width: calc(100% + 32px);
				margin-left: -16px;
				margin-right: -16px;
			}
			@include media-breakpoint-up(md) {
				border-radius: var(--bd-radius-main);
			}
			p {
				font-size: 16px;
				line-height: 24px;
				@include media-breakpoint-up(md) {
					background-color: var(--bs-light);
				}
				@include media-breakpoint-only(md) {
					line-height: 1.3;
				}
				@include media-breakpoint-only(sm) {
					padding-left: 24px;
					padding-right: 24px;
				}
				@include media-breakpoint-up(lg) {
					font-size: 18px;
				}
			}
			.createBlock__inner {
				@include media-breakpoint-down(md) {
					width: 264px;
					margin-left: auto;
					margin-right: auto;
					max-width: 100%;
				}
				@include media-breakpoint-down(sm) {
					width: 264px;
				}
				& > span {
					font-size: 24px;
					line-height: calc(32 / 24);
					text-align: left;
					@include media-breakpoint-up(md) {
						line-height: 1;
						font-size: 18px;
					}
				}
			}
			.createBlock__title {
				font-weight: 700;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 16px 32px;
				background-color: var(--bs-primary-hover);
				@include media-breakpoint-only(md) {
					padding: 16px 24px;
				}
				@include media-breakpoint-down(md) {
					border-radius: var(--bd-radius-main);
				}
			}
			.createBlock__year {
				font-size: 48px;
				justify-content: flex-end;
				align-items: flex-end;
				line-height: 1;
				@include media-breakpoint-up(md) {
					flex-direction: column;
				}
				span {
					font-size: 0.5em;
					font-weight: 700;
					line-height: calc(32 / 24);
					margin-left: 5px;
					text-transform: none;
					transform: none;
					writing-mode: unset;
					@include media-breakpoint-up(md) {
						line-height: 1;
						font-size: 18px;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAboutUniver
