mixin sAboutUniver(data)
	// start sAboutUniver
	+b.SECTION.sAboutUniver.section#sAboutUniver&attributes(attributes)
		.container-fluid
			+e.row.row
				+e.col.col-md-5.col-xl-auto(data-aos="fade-up" data-aos-delay="300" )
					+e.img-wrap.bg-wrap
						+img('img/sAboutUniver-1.jpg', 'bg')
						+e.text.d-md-none
							h2 Специализации
				.col-md(data-aos="fade-up" data-aos-delay="600" )
					+b.section-title.d-none.d-md-block
						h2 Специализации
					.tabs
						.tabs__caption
							.tabs__btn.active
								span Школа
							.tabs__btn
								span Среднее профессиональное образование
							.tabs__btn
								span Дополнительное образование
						.tabs__content.active
							ol
								li Развитие системы сотрудничества и&nbsp;партнерств для школ
								li Развитие клиентского опыта школы для разных целевых групп
								li Проектирование образовательного опыта и&nbsp;образовательной среды в&nbsp;школе
								li Создание образовательного опыта для разных категорий учащихся в&nbsp;школе
								li Сопровождение школьников с&nbsp;особыми образовательными потребностями
								li Развитие мотивации и&nbsp;талантов у&nbsp;разных категорий учащихся в&nbsp;школе
								li Современные образовательные технологии в&nbsp;школе
						.tabs__content
							ol
								li Среднее профессиональное образование
								li Среднее профессиональное образование
								li Среднее профессиональное образование
								li Среднее профессиональное образование
								li Среднее профессиональное образование
								li Среднее профессиональное образование
						.tabs__content
							ol
								li Дополнительное образование
								li Дополнительное образование
								li Дополнительное образование
								li Дополнительное образование
								li Дополнительное образование
								li Дополнительное образование
	// end sAboutUniver


mixin sAboutUniver2(data)
	// start sAboutUniver
	+b.SECTION.sAboutUniver.section#sAboutUniver2&attributes(attributes)
		.container-fluid
			+e.row.row
				+e.col.col-md-5.col-xl-auto.order-md-last(data-aos="fade-up" data-aos-delay="300" )
					+b.section-title.text-center.d-md-none
						h2 Об&nbsp;университете
					+b.createBlock.d-md-none
						+e.title
							span Создан&nbsp;в
							+e.year 1994
								span году
						p Правительством Москвы с&nbsp;целью подготовки высококлассных специалистов для различных сфер городского управления.
					+e.img-wrap.bg-wrap
						+img('img/sAboutUniver-2.jpg', 'bg')
						+e.text
							p Современный учебный корпус, интерактивные классы с высокотехнологичным оборудованием в центре города.
				.col-md(data-aos="fade-up" data-aos-delay="600" )
					+b.section-title.d-none.d-md-block
						h2 Об&nbsp;университете
					+b.createBlock.d-none.d-md-flex
						+e.title
							span Создан&nbsp;в
							+e.year 1994
								span году
						p Правительством Москвы с&nbsp;целью подготовки высококлассных специалистов для различных сфер городского управления.

					ul
						li Государственный вуз, который готовит кадры по&nbsp;наиболее востребованным программам высшего и&nbsp;дополнительного профессионального образования для Москвы и&nbsp;регионов&nbsp;РФ.
						li Успешно реализует отраслевые программы, среди которых &laquo;MPA в&nbsp;здравоохранении&raquo;, MPA &laquo;Управление организациями культуры и&nbsp;искусства&raquo;, &laquo;Управление строительными проектами&raquo;.
						li Создает индивидуальные образовательные проекты под запрос профессионалов конкретных отраслей.
	// end sAboutUniver


mixin sAboutUniver3(data)
	// start sAboutUniver
	+b.SECTION.sAboutUniver--mpa.section#sAboutUniver&attributes(attributes)
		.container-fluid
			+e.wrapper
				+e.row.row
					+e.col.col-md-5.col-xl-auto(data-aos="fade-up" data-aos-delay="300" )
						+e.img-wrap.bg-wrap
							+img('img/sAboutUniver-1.jpg', 'bg')
							+e.text.d-md-none
								h2 Вы&nbsp;пройдете пять модулей обучения
					.col-md(data-aos="fade-up" data-aos-delay="600" )
						+b.section-title.d-none.d-md-block
							h2 Вы&nbsp;пройдете пять модулей обучения
						.tabs
							.tabs__caption
								.tabs__btn.active
									span 1
								.tabs__btn
									span 2
								.tabs__btn
									span 3
								.tabs__btn
									span 4
								.tabs__btn
									span 5
							.tabs__content.active
								h4 Современный менеджмент в&nbsp;транспортной отрасли
								span 11&nbsp;февраля&nbsp;&mdash; 24&nbsp;марта
								h6 Содержание модуля
								p Введение в&nbsp;программу &laquo;МТА. Управление в&nbsp;транспортной отрасли&raquo;. Вы&nbsp;познакомитесь с&nbsp;современными моделями руководства, освоите проектный, продуктовый и&nbsp;процессный подходы в&nbsp;управлении предприятием транспортного комплекса. У&nbsp;вас будет возможность усилить свои лидерские качества и&nbsp;навыки управления командой.
								h6 Результат модуля
								p Вы&nbsp;научитесь применять современные подходы в&nbsp;управлении предприятием. Поймете, как выстроить эффективную команду и&nbsp;управлять ей&nbsp;с&nbsp;позиции лидера.
							.tabs__content
								ol
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
							.tabs__content
								ol
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
							.tabs__content
								ol
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
							.tabs__content
								ol
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
	// end sAboutUniver


mixin sAboutUniver4(data)
	// start sAboutUniver
	+b.SECTION.sAboutUniver--trainees.section#sAboutUniver&attributes(attributes)
		.container-fluid
			+e.wrapper
				+e.row.row
					+e.col.col-md-5.col-xl-auto.order-md-last(data-aos="fade-up" data-aos-delay="300" )
						+e.img-wrap.bg-wrap
							+img('img/sAboutUniver-1.jpg', 'bg')
							+e.text.d-md-none
								h2 Специализации
					.col-md(data-aos="fade-up" data-aos-delay="600" )
						+b.section-title.d-none.d-md-block
							h2 Специализации
						.tabs
							.tabs__caption
								.tabs__btn.active
									span Школа
								.tabs__btn
									span Среднее профессиональное образование
								.tabs__btn
									span Дополнительное образование
							.tabs__content.active
								ol
									li Развитие системы сотрудничества и&nbsp;партнерств для школ
									li Развитие клиентского опыта школы для разных целевых групп
									li Проектирование образовательного опыта и&nbsp;образовательной среды в&nbsp;школе
									li Создание образовательного опыта для разных категорий учащихся в&nbsp;школе
									li Сопровождение школьников с&nbsp;особыми образовательными потребностями
									li Развитие мотивации и&nbsp;талантов у&nbsp;разных категорий учащихся в&nbsp;школе
									li Современные образовательные технологии в&nbsp;школе
							.tabs__content
								ol
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
									li Среднее профессиональное образование
							.tabs__content
								ol
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
									li Дополнительное образование
	// end sAboutUniver