mixin sAboutUniver(data)
	// start sAboutUniver
	+b.SECTION.sAboutUniver.section#sAboutUniver&attributes(attributes)
		.container-fluid
			+e.row.row
				+e.col.col-md-5.col-xl-auto
					+e.img-wrap.bg-wrap
						+img('img/sAboutUniver-1.jpg', 'bg')
						+e.text.d-md-none
							h2 Специализации
				.col-md
					+b.section-title.d-none.d-md-block
						h2 Специализации
					.tabs
						.tabs__caption
							.tabs__btn.active
								span Школа
							.tabs__btn
								span Среднее профессиональное образование
							.tabs__btn
								span Дополнительное образование
						.tabs__content.active
							ol
								li Развитие системы сотрудничества и&nbsp;партнерств для школ
								li Развитие клиентского опыта школы для разных целевых групп
								li Проектирование образовательного опыта и&nbsp;образовательной среды в&nbsp;школе
								li Создание образовательного опыта для разных категорий учащихся в&nbsp;школе
								li Сопровождение школьников с&nbsp;особыми образовательными потребностями
								li Развитие мотивации и&nbsp;талантов у&nbsp;разных категорий учащихся в&nbsp;школе
								li Современные образовательные технологии в&nbsp;школе
						.tabs__content
							ol
								li Среднее профессиональное образование
								li Среднее профессиональное образование
								li Среднее профессиональное образование
								li Среднее профессиональное образование
								li Среднее профессиональное образование
								li Среднее профессиональное образование
						.tabs__content
							ol
								li Дополнительное образование
								li Дополнительное образование
								li Дополнительное образование
								li Дополнительное образование
								li Дополнительное образование
								li Дополнительное образование
	// end sAboutUniver


mixin sAboutUniver2(data)
	// start sAboutUniver
	+b.SECTION.sAboutUniver.section#sAboutUniver&attributes(attributes)
		.container-fluid
			+e.row.row
				+e.col.col-md-5.col-xl-auto.order-md-last
					+b.section-title.text-center.d-md-none
						h2 Об&nbsp;университете
					+b.createBlock.d-md-none
						+e.title
							span Создан&nbsp;в
							+e.year 1994
								span году
						p Правительством Москвы с&nbsp;целью подготовки высококлассных специалистов для различных сфер городского управления.
					+e.img-wrap.bg-wrap
						+img('img/sAboutUniver-2.jpg', 'bg')
						+e.text
							p Современный учебный корпус, интерактивные классы с высокотехнологичным оборудованием в центре города.
				.col-md
					+b.section-title.d-none.d-md-block
						h2 Об&nbsp;университете
					+b.createBlock.d-none.d-md-flex
						+e.title
							span Создан&nbsp;в
							+e.year 1994
								span году
						p Правительством Москвы с&nbsp;целью подготовки высококлассных специалистов для различных сфер городского управления.

					ul
						li Государственный вуз, который готовит кадры по&nbsp;наиболее востребованным программам высшего и&nbsp;дополнительного профессионального образования для Москвы и&nbsp;регионов&nbsp;РФ.
						li Успешно реализует отраслевые программы, среди которых &laquo;MPA в&nbsp;здравоохранении&raquo;, MPA &laquo;Управление организациями культуры и&nbsp;искусства&raquo;, &laquo;Управление строительными проектами&raquo;.
						li Создает индивидуальные образовательные проекты под запрос профессионалов конкретных отраслей.
	// end sAboutUniver