// start .sModules
.sModules {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	--sPT: 4px;
	--sPB: 4px;
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(16)};
		--sPB: #{rem(16)};
	}
	&__row {
		position: relative;
		&::after,
		&::before {
			content: "";
			position: absolute;
			top: var(--bs-gutter-y);
			width: 1px;
			height: calc(100% - var(--bs-gutter-y));
			background-color: var(--bs-border-color);
			display: none;
		}
		&::before {
			@include media-breakpoint-up(md) {
				display: block;
				left: 50%;
			}
			@include media-breakpoint-up(lg) {
				left: 33.33333333%;
			}
		}
		&::after {
			@include media-breakpoint-up(lg) {
				display: block;
				right: 33.33333333%;
			}
		}
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		--bs-gutter-y: 1.5rem;
		@include media-breakpoint-up(md) {
			--bs-gutter-x: 3rem;
		}
		@include media-breakpoint-only(lg) {
			--bs-gutter-x: 2rem;
		}
	}
	.section-title {
	}
	&__col {
	}
	&__wrapper {
		background-color: var(--bs-white);
		border-radius: rem(24);
		padding: 2rem 1rem;
		@include media-breakpoint-up(sm) {
			padding: 2.5rem;
		}
		@include media-breakpoint-up(xl) {
			padding: 5.5rem 2.5rem;
		}
		& > p {
			font-size: rem(20);
			line-height: calc(24 / 20);
			max-width: 52em;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: rem(32);
			margin-bottom: 0;
			@include media-breakpoint-down(xl) {
				font-size: 16px;
			}
		}
	}
	h2 {
		@extend .h3;
		margin-bottom: 0;
		@include media-breakpoint-down(md) {
			text-align: center;
			margin: 0 auto;
		}
		@include media-breakpoint-down(sm) {
			font-size: 19px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
		}
	}
	&__item {
		display: flex;
		align-items: flex-start;
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			color: var(--bs-primary);
			font-size: rem(32);
			margin-right: 1rem;
			flex-shrink: 0;
			@include media-breakpoint-up(xl) {
				font-size: rem(44);
			}
		}
		img {
			width: rem(40);
			height: auto;
			max-width: 100%;
			flex-shrink: 0;
			margin-right: 1rem;
			@include media-breakpoint-only(lg) {
				margin-right: 0.5rem;
			}
			@include media-breakpoint-up(xl) {
				width: rem(47);
			}
		}
		p {
			@include media-breakpoint-down(xl) {
				font-size: rem(16);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sModules
