// start .sModules
.sModules {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	--sPT: 4px;
	--sPB: 4px;
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(16)};
		--sPB: #{rem(16)};
	}
	&__row {
		position: relative;
		// &::after,
		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	top: var(--bs-gutter-y);
		// 	width: 1px;
		// 	height: calc(100% - var(--bs-gutter-y));
		// 	background-color: var(--bs-border-color);
		// 	display: none;
		// }
		// &::before {
		// 	@include media-breakpoint-up(md) {
		// 		display: block;
		// 		left: 50%;
		// 	}
		// 	@include media-breakpoint-up(lg) {
		// 		left: 33.33333333%;
		// 	}
		// }
		// &::after {
		// 	@include media-breakpoint-up(lg) {
		// 		display: block;
		// 		right: 33.33333333%;
		// 	}
		// }
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		--bs-gutter-y: 1.5rem;
		@include media-breakpoint-up(md) {
			--bs-gutter-x: 3rem;
		}
		@include media-breakpoint-only(lg) {
			--bs-gutter-x: 2rem;
		}
	}
	// .section-title {
	// }
	// &__col {
	// }
	&__wrapper {
		background-color: var(--bs-white);
		border-radius: rem(24);
		padding: 2rem 1rem;
		@include media-breakpoint-up(sm) {
			padding: 2.5rem;
		}
		@include media-breakpoint-up(xl) {
			padding: 3rem 2.5rem;
		}
		& > p {
			font-size: rem(20);
			line-height: calc(24 / 20);
			max-width: 52em;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: rem(32);
			margin-bottom: 0;
			@include media-breakpoint-down(xl) {
				font-size: 16px;
			}
		}
	}
	h2 {
		@extend .h3;
		margin-bottom: 0;
		@include media-breakpoint-down(md) {
			text-align: center;
			margin: 0 auto;
		}
		@include media-breakpoint-down(sm) {
			font-size: 19px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
		}
	}
	&__item {
		display: flex;
		align-items: flex-start;
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			color: var(--bs-primary);
			font-size: rem(32);
			margin-right: 1rem;
			flex-shrink: 0;
			@include media-breakpoint-up(xl) {
				font-size: rem(44);
			}
		}
		img {
			width: rem(40);
			height: auto;
			max-width: 100%;
			flex-shrink: 0;
			margin-right: 1rem;
			@include media-breakpoint-only(lg) {
				margin-right: 0.5rem;
			}
			@include media-breakpoint-up(xl) {
				width: rem(47);
			}
		}
		p {
			@include media-breakpoint-down(xl) {
				font-size: rem(16);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__icon {
		width: rem(40);
		height: auto;
		max-width: 100%;
		flex-shrink: 0;
		margin-right: 1rem;
		margin-top: rem(5);
		@include media-breakpoint-only(lg) {
			margin-right: 0.5rem;
		}
		@include media-breakpoint-up(xl) {
			width: rem(47);
		}
		position: relative;
		// height: rem(24);
		&::before {
			content: "";
			position: absolute;
			@include a-cent;
			width: 100%;
			height: rem(14);
			border-radius: rem(100);
			background: linear-gradient(90deg, #837dff 0%, #09f9bf 50.91%);
			filter: blur(rem(0.7px));
			transform: translate3d(0, 0, 0);
		}
		&::after {
			content: "";
			margin-left: auto;
			width: rem(24);
			position: relative;
			z-index: 2;
			display: block;
			height: rem(24);
			border-radius: 50%;
			background-image: var(--check-white);
			background-position: center;
			background-size: 75%;
			background-repeat: no-repeat;
			background-color: var(--bs-primary);
			box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
			filter: blur(rem(0.4px));
			transform: translate3d(0, 0, 0);
		}
	}

	&.sModules--mpa {
		position: relative;
		z-index: 2;
		.sModules__wrapper {
			background-image: url(../img/svg/sModules-bg-mpa-sm.svg);
			background-repeat: no-repeat;
			background-position: 100% 0;
			background-size: auto 100%;
			@include media-breakpoint-up(md) {
				background-image: url(../img/svg/sModules-bg-mpa.svg);
			}
		}
		.sModules__row {
			@include media-breakpoint-up(md) {
				column-rule: 1px solid #c9cad1;
			}
		}
		.sModules__item {
			p {
				font-size: rem(18);
			}
			.icon-arrow-right {
				font-size: 26px;
				stroke-linejoin: round;
				stroke-linecap: round;
			}
		}
	}
	&.sModules--mpa-check {
		.sModules__item-content {
			font-size: 18px;
			p {
				font-size: inherit;
				font-weight: 600;
				margin-bottom: 0;
				line-height: calc(20 / 18);
			}
			span {
				font-size: 0.78em;
				display: block;
				margin-top: 4px;
				line-height: calc(16 / 14);
			}
		}
		.sModules__row {
			display: flex;
			margin-top: calc(-1 * var(--bs-gutter-y));
			& > * {
				margin-top: var(--bs-gutter-y);
				margin-bottom: 0;
			}
			&::after,
			&::before {
				content: "";
				position: absolute;
				top: calc(var(--bs-gutter-y) / 2);
				width: 1px;
				height: calc(100%);
				background-color: #c9cad1;
				display: none;
			}
			&::before {
				@include media-breakpoint-up(md) {
					display: block;
					left: 50%;
				}
				@include media-breakpoint-up(lg) {
					left: 33.33333333%;
				}
			}
			&::after {
				@include media-breakpoint-up(lg) {
					display: block;
					right: 33.33333333%;
				}
			}
		}
		.col-lg-4 {
			@include media-breakpoint-up(lg) {
				flex: 0 0 auto;
				width: 33.33333333%;
			}
		}
		.col-md-6 {
			@include media-breakpoint-up(md) {
				flex: 0 0 auto;
				width: 50%;
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sModules

.sModules {
	.sModules__row {
		@include media-breakpoint-up(md) {
			margin-top: 0;
			display: block;
			columns: 2;
			column-gap: 0;
			column-rule: 1px solid var(--bs-border-color);
		}
		@include media-breakpoint-up(lg) {
			columns: 3;
		}
	}
	.sModules__col {
		@include media-breakpoint-up(md) {
			display: inline-block;
			width: 100%;
			margin-top: 0;
			margin-bottom: var(--bs-gutter-y);
		}
	}
}
