// start .sModules
.sModules {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	--sPT: 4px;
	--sPB: 4px;
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(16)};
		--sPB: #{rem(16)};
	}
	&__row {
		position: relative;
		// &::after,
		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	top: var(--bs-gutter-y);
		// 	width: 1px;
		// 	height: calc(100% - var(--bs-gutter-y));
		// 	background-color: var(--bs-border-color);
		// 	display: none;
		// }
		// &::before {
		// 	@include media-breakpoint-up(md) {
		// 		display: block;
		// 		left: 50%;
		// 	}
		// 	@include media-breakpoint-up(lg) {
		// 		left: 33.33333333%;
		// 	}
		// }
		// &::after {
		// 	@include media-breakpoint-up(lg) {
		// 		display: block;
		// 		right: 33.33333333%;
		// 	}
		// }
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		--bs-gutter-y: 1.5rem;
		@include media-breakpoint-up(md) {
			--bs-gutter-x: 3rem;
		}
		@include media-breakpoint-only(lg) {
			--bs-gutter-x: 2rem;
		}
	}
	// .section-title {
	// }
	// &__col {
	// }
	&__wrapper {
		background-color: var(--bs-white);
		border-radius: rem(24);
		padding: 2rem 1rem;
		@include media-breakpoint-up(sm) {
			padding: 2.5rem;
		}
		@include media-breakpoint-up(xl) {
			padding: 3rem 2.5rem;
		}
		& > p {
			font-size: rem(20);
			line-height: calc(24 / 20);
			max-width: 52em;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: rem(32);
			margin-bottom: 0;
			@include media-breakpoint-down(xl) {
				font-size: 16px;
			}
		}
	}
	h2 {
		@extend .h3;
		margin-bottom: 0;
		@include media-breakpoint-down(md) {
			text-align: center;
			margin: 0 auto;
		}
		@include media-breakpoint-down(sm) {
			font-size: 19px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
		}
	}
	&__item {
		display: flex;
		align-items: flex-start;
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			color: var(--bs-primary);
			font-size: rem(32);
			margin-right: 1rem;
			flex-shrink: 0;
			@include media-breakpoint-up(xl) {
				font-size: rem(44);
			}
		}
		img {
			width: rem(40);
			height: auto;
			max-width: 100%;
			flex-shrink: 0;
			margin-right: 1rem;
			@include media-breakpoint-only(lg) {
				margin-right: 0.5rem;
			}
			@include media-breakpoint-up(xl) {
				width: rem(47);
			}
		}
		p {
			@include media-breakpoint-down(xl) {
				font-size: rem(16);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__icon {
		width: rem(40);
		height: auto;
		max-width: 100%;
		flex-shrink: 0;
		margin-right: 1rem;
		margin-top: rem(5);
		@include media-breakpoint-only(lg) {
			margin-right: 0.5rem;
		}
		@include media-breakpoint-up(xl) {
			width: rem(47);
		}
		position: relative;
		// height: rem(24);
		&::before {
			content: "";
			position: absolute;
			@include a-cent;
			width: 100%;
			height: rem(14);
			border-radius: rem(100);
			background: linear-gradient(90deg, #837dff 0%, #09f9bf 50.91%);
			filter: blur(rem(0.7px));
			transform: translate3d(0, 0, 0);
		}
		&::after {
			content: "";
			margin-left: auto;
			width: rem(24);
			position: relative;
			z-index: 2;
			display: block;
			height: rem(24);
			border-radius: 50%;
			background-image: var(--check-white);
			background-position: center;
			background-size: 75%;
			background-repeat: no-repeat;
			background-color: var(--bs-primary);
			box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
			filter: blur(rem(0.4px));
			transform: translate3d(0, 0, 0);
		}
	}

	&.sModules--mpa {
		position: relative;
		z-index: 2;
		.sModules__wrapper {
			background-image: url(../img/svg/sModules-bg-mpa-sm.svg);
			background-repeat: no-repeat;
			background-position: 100% 0;
			background-size: auto 100%;
			@include media-breakpoint-up(md) {
				background-image: url(../img/svg/sModules-bg-mpa.svg);
			}
		}
		.sModules__row {
			@include media-breakpoint-up(md) {
				column-rule: 1px solid #c9cad1;
			}
		}
		.sModules__item {
			p {
				font-size: rem(18);
			}
			.icon-arrow-right {
				font-size: 26px;
				stroke-linejoin: round;
				stroke-linecap: round;
			}
		}
	}
	&.sModules--mpa-check {
		.sModules__item {
			.icon {
				fill: none;
				stroke: currentColor;
				stroke-width: calc(2px * 1.375);
				color: var(--bs-primary);
				font-size: 32px;
				margin-right: 1rem;
				flex-shrink: 0;
				@include media-breakpoint-up(xl) {
					stroke-width: 2px;
					font-size: 44px;
				}
			}
		}
		.sModules__item-content {
			font-size: 18px;
			p {
				font-size: inherit;
				font-weight: 600;
				margin-bottom: 0;
				line-height: calc(20 / 18);
			}
			span {
				font-size: 0.78em;
				display: block;
				margin-top: 4px;
				line-height: calc(16 / 14);
			}
		}
		.sModules__row {
			display: flex;
			margin-top: calc(-1 * var(--bs-gutter-y));
			& > * {
				margin-top: var(--bs-gutter-y);
				margin-bottom: 0;
			}
			&::after,
			&::before {
				content: "";
				position: absolute;
				top: calc(var(--bs-gutter-y) / 2);
				width: 1px;
				height: calc(100%);
				background-color: #c9cad1;
				display: none;
			}
			&::before {
				@include media-breakpoint-up(md) {
					display: block;
					left: 50%;
				}
				@include media-breakpoint-up(lg) {
					left: 33.33333333%;
				}
			}
			&::after {
				@include media-breakpoint-up(lg) {
					display: block;
					right: 33.33333333%;
				}
			}
		}
		.col-lg-4 {
			@include media-breakpoint-up(lg) {
				flex: 0 0 auto;
				width: 33.33333333%;
			}
		}
		.col-md-6 {
			@include media-breakpoint-up(md) {
				flex: 0 0 auto;
				width: 50%;
			}
		}
	}
	&.sModules--trainees {
		--sTPB: 24px;
		@include media-breakpoint-up(md) {
			--sTPB: 40px;
		}
		.sModules__row {
			@include media-breakpoint-down(md) {
				--bs-gutter-y: 16px;
			}
			@include media-breakpoint-up(md) {
				column-rule: 1px solid var(--bs-light);
			}
		}
		.sModules__wrapper {
			padding: 24px 16px;
			@include media-breakpoint-up(sm) {
				padding: 2.5rem 2.5rem 1.5rem;
			}
			@include media-breakpoint-up(xl) {
				padding: 64px 64px 40px;
			}
			& > p {
				color: var(--bs-primary);
				font-size: 12px;
				line-height: calc(24 / 20);
				max-width: 47em;
				margin-top: 24px;
				@include media-breakpoint-up(sm) {
					font-size: 16px;
					margin-top: 32px;
				}
				@include media-breakpoint-up(lg) {
					font-size: 18px;
				}
				@include media-breakpoint-up(xl) {
					margin-top: 40px;
					font-size: 20px;
				}
			}
		}
		h2 {
			position: relative;
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
			z-index: 2;
			line-height: calc(40 / 36);
			@include rfs(36px, font-size);
			margin-bottom: 0;
			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
			@include media-breakpoint-up(xl) {
				font-size: 36px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 20px;
			}
			&::before {
				content: "";
				position: absolute;
				width: calc(100% + em(50));
				height: calc(100% + em(15));
				left: calc(-1 * em(45) / 2);
				top: calc(-1 * em(20) / 2);
				background-image: url("data:image/svg+xml,%3Csvg width='415' height='79' viewBox='0 0 415 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M166.6 3.81057C169.167 2.25558 171.118 1.97859 174.32 1.79228C186.167 1.10296 198.334 1.66077 210.186 2.26127C256.36 4.60064 302.255 10.7941 347.055 22.8423C352.725 24.3669 421.669 42.4257 412.267 55.7135C407.859 61.9426 393.968 64.6712 387.371 66.2144C363.327 71.8384 338.122 73.3701 313.4 74.8572C261.759 77.9634 209.863 78.9823 158.022 76.7306C131.751 75.5896 105.341 74.0455 79.1793 70.949C60.176 68.6997 40.9591 65.6598 23.0518 58.5813C16.5401 56.0073 0.862086 50.0351 1.50226 40.3911C2.17924 30.1925 18.2868 23.8422 25.738 21.1749C51.5814 11.9238 80.3679 9.1615 107.861 7.53145C149.352 5.07151 189.783 8.66498 231.165 11.39' stroke='%23FFBE55' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
				z-index: -1;
				background-size: 100% 100%;
			}
		}
		.sModules__item {
			.icon {
				fill: #ffbe55;
				stroke: #ffbe55;
				font-size: 20px;
				margin-right: 12px;
				@include media-breakpoint-up(xl) {
					font-size: 24px;
				}
				@include media-breakpoint-only(md) {
					margin-right: 8px;
				}
			}
			p {
				color: #3e4260;
				@include media-breakpoint-up(xl) {
					font-size: 18px;
				}
			}
		}
		&.sModules--program {
			@include media-breakpoint-up(md) {
				--sPT: #{rem(60)};
				--sPB: #{rem(60)};
			}
			@include media-breakpoint-up(xl) {
				--sPT: 64px;
				--sPB: 64px;
				--sTPB: 80px;
			}
			.sModules__wrapper {
				@include media-breakpoint-up(md) {
					background-color: transparent;
					padding-top: 0;
					padding-bottom: 0;
					// padding: 0;
					// margin-left: auto;
					// margin-right: auto;
					// max-width: 1140px;
				}
				@include media-breakpoint-only(md) {
					padding-left: 0;
					padding-right: 0;
				}
				@include media-breakpoint-down(sm) {
					padding: 32px 16px 40px;
				}
			}
			h2 {
				&::before {
					content: "";
					position: absolute;
					width: calc(100% + em(45));
					height: calc(100% + em(20));
					left: calc(-1 * em(45) / 2);
					top: calc(-1 * em(20) / 2);
					background-image: url("data:image/svg+xml,%3Csvg width='445' height='100' viewBox='0 0 445 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.4007 88.283C52.1439 87.8493 35.4275 81.2978 23.2735 74.1465C13.5027 68.3975 -0.00264108 59.282 1.05894 49.7252C2.66076 35.305 30.5992 27.1827 47.3921 22.3835C88.2246 10.714 136.646 2.42177 181.06 1.51743C235.158 0.415919 289.632 0.926709 343.48 4.48015C364.075 5.83923 384.665 7.75484 404.919 10.5749C412.993 11.6991 413.784 12.8633 416.852 17.6008C418.596 20.2941 422.924 22.8906 425.991 25.0499C429.369 27.4275 429.736 30.6778 430.307 33.7688C431.718 41.4008 433.989 49.1793 433.989 56.8781C433.989 61.9342 430.248 66.338 427.388 70.9298C424.025 76.3283 422.521 79.2335 415.709 82.9501C404.962 88.814 387.477 89.9396 374.327 91.2457C344.313 94.2265 313.19 93.1468 282.93 94.7163C262.412 95.7805 241.346 97.0072 220.792 97.3828C201.545 97.7344 182.027 97.7659 162.781 97.3828C150.931 97.1469 139.007 95.9014 127.174 95.9014C104.335 95.9014 82.6031 90.3793 60.9113 86.3783C48.5796 84.1038 35.5998 80.5753 24.4159 76.4321C17.1905 73.7553 8.64892 71.2174 7.91371 65.0891C6.47641 53.1084 8.32696 40.7576 20.4173 31.2293C35.9023 19.0258 58.5774 9.18479 82.8084 7.52753C105.445 5.97935 128.464 6.76569 151.229 6.76569C197.937 6.76569 246.084 6.99406 292.577 9.98236C322.295 11.8924 352.851 10.5749 382.705 10.5749C394.961 10.5749 407.231 10.2121 418.248 14.5534C431.951 19.9531 435.08 27.1349 440.209 36.7739C445.783 47.2505 445.313 54.9915 438.114 64.9621C432.597 72.6035 418.182 81.0488 406.443 84.4737C397.039 87.2173 386.706 87.8058 376.675 88.7062C364.563 89.7935 352.519 91.9163 340.434 92.8117C334.201 93.2735 328.295 95.3327 321.773 95.7321C309.391 96.4904 296.99 96.8185 284.58 97.5944C265.342 98.797 246.594 98.9488 227.203 98.9488C200.593 98.9488 173.668 99.4595 147.231 97.2558C132.45 96.0237 118.383 94.0602 103.817 92.2615C75.2279 88.731 44.0215 83.9899 24.7333 68.1364C8.75075 55 15.5542 44.3438 24.7333 28.021' stroke='%23FFBE55' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
					z-index: -1;
					background-size: 100% 100%;
				}
			}
			.sModules__roww {
				justify-content: center;
				--bs-gutter-y: 16px;
			}
			.sModules__items {
				height: 100%;
				@include media-breakpoint-up(md) {
					border-radius: var(--bd-radius-main);
					background-color: var(--itemBgColor, #fff);
					// padding: 24px 16px;
				}
				@include media-breakpoint-up(lg) {
					padding: rem(32) rem(24);
				}
				@include media-breakpoint-up(xl) {
					padding: 32px 24px;
				}
				@include media-breakpoint-only(md) {
					padding: 8% 6%;
				}
				.sModules__item {
					margin-bottom: 16px;
					@include media-breakpoint-up(xl) {
						margin-bottom: 24px;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sModules

.sModules {
	.sModules__row {
		@include media-breakpoint-up(md) {
			margin-top: 0;
			display: block;
			columns: 2;
			column-gap: 0;
			column-rule: 1px solid var(--bs-border-color);
		}
		@include media-breakpoint-up(lg) {
			columns: 3;
		}
	}
	.sModules__col {
		@include media-breakpoint-up(md) {
			display: inline-block;
			width: 100%;
			margin-top: 0;
			margin-bottom: var(--bs-gutter-y);
		}
	}
}
