mixin modulesItem(p, i)
	+e.col.col-md-6.col-lg-4
		+e.item(data-aos="fade-up" data-aos-delay="150")
			if i
				+icon('check-rounded')
			else
				+e.icon
					//- +img('img/svg/switch-check.svg')
			p!= p

mixin sModules(data)
	// start sModules
	+b.sModules.section&attributes(attributes)
		.container-fluid
			+e.wrapper(data-aos="fade-up" data-aos-delay="100" )
				+b.section-title.text-center
					h2 Модули программы
				+e.row.row
					+modulesItem(`Видение и&nbsp;стратегия современного образования.`, `i`)
					+modulesItem(`Современные технологии управления в&nbsp;образовании.`, `i`)
					+modulesItem(`Принятие и&nbsp;реализация управленческих решений.`, `i`)
					+modulesItem(`Управление клиентоориентированностью в&nbsp;образовании.`, `i`)
					+modulesItem(`Управление воспитательным, образовательным процессом и&nbsp;оценка качества.`, `i`)
					+modulesItem(`Профессиональное лидерство руководителя.`, `i`)
					+modulesItem(`Эффективные коммуникации руководителя.`, `i`)
					+modulesItem(`Управление человеческими ресурсами в&nbsp;системе руководителя.`, `i`)
					+modulesItem(`Управление экономикой и&nbsp;хозяйством образовательной организации.`, `i`)
					+modulesItem(`Управление рисками образовательной организации.`, `i`)
					+modulesItem(`Управление публичными коммуникациями и&nbsp;информационными потоками.`, `i`)
	// end sModules

mixin sModulesLearn(data)
	// start sModules
	+b.sModules.section&attributes(attributes)
		.container-fluid
			+e.wrapper(data-aos="fade-up" data-aos-delay="100" )
				+b.section-title.text-center
					h2 Вы&nbsp;научитесь
				+e.row.row
					+modulesItem(`Разрабатывать собственную стратегию развития образовательной организации с&nbsp;учетом современных трендов.`)
					+modulesItem(`Использовать свой лидерский потенциал для решения ключевых задач.`)
					+modulesItem(`Управлять публичными коммуникациями и информационными потоками.`)
					+modulesItem(`Применять новые технологии руководства образовательными организациями.`)
					+modulesItem(`Выбирать оптимальные модели и методы управления экономикой вашей организации.`)
					+modulesItem(`Выстраивать работу команд, нацеленных на высокую результативность.`)
					+modulesItem(`Оценивать и повышать эффективность образовательного и воспитательного процесса.`)
				p В&nbsp;процессе обучения вы&nbsp;создадите новые решения по&nbsp;развитию вашей образовательной организации, разработаете и&nbsp;реализуете собственный проект изменений.
	// end sModule