// start .sTerms
.sTerms {
	--sPT: 8px;
	--sPB: 4px;
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(24)};
		--sPB: #{rem(12)};
	}
	// --sTPB: #{rem()};
	&__row {
		justify-content: space-between;
		// --bs-gutter-x: #{rem()};
		@include media-breakpoint-down(md) {
			--bs-gutter-y: #{rem(16)};
			justify-content: center;
		}
		@include media-breakpoint-down(sm) {
			--bs-gutter-y: #{rem(12)};
		}
	}
	// .section-title{

	// }
	// &__col{

	// }
	&__content {
		border-radius: rem(24);
		padding: rem(30) rem(18);
		@include media-breakpoint-up(sm) {
			padding: rem(40);
		}
	}
	&__item {
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
		&--modules {
			@include media-breakpoint-down(md) {
				flex-direction: row;
				.sTerms__count {
					margin-bottom: 0;
				}
				.sTerms__title {
					display: flex;
					flex-direction: column;
					margin-left: rem(8);
					.icon {
						margin-left: 0;
						margin-top: 8px;
					}
				}
			}
			@include media-breakpoint-up(md) {
				.sTerms__title {
					margin-left: 0;
				}
			}
		}
	}
	&__title {
		display: flex;
		font-weight: 500;
		line-height: calc(36 / 30);
		text-transform: uppercase;
		font-size: rem(24);
		@include media-breakpoint-up(md) {
			font-size: rem(20);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(25);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(30);
		}
		&.strong {
			font-weight: 900;
		}
		span {
			display: inline-block;
		}
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 3.7px;
			stroke-linecap: round;
			stroke-linejoin: round;
			// font-size: rem(68);
			font-size: 2.266em;
			margin-left: rem(8);
			@include media-breakpoint-down(sm) {
				font-size: 1.766em;
			}
		}
	}
	&__count {
		display: flex;
		align-items: center;
		font-weight: 900;
		line-height: calc(128 / 180);
		margin-bottom: rem(16);
		font-size: 136px;
		@include media-breakpoint-up(sm) {
			font-size: rem(168);
		}
		@include media-breakpoint-up(md) {
			font-size: rem(100);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(145);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(168);
		}
		@include media-breakpoint-up(xxl) {
			font-size: rem(180);
		}

		&--thin {
			font-weight: 400;
		}
		span {
			display: block;
			font-weight: 900;
			writing-mode: vertical-rl;
			transform: scale(-1);
			line-height: 1;
			font-size: 0.1333em;
			text-transform: uppercase;
		}
		.icon {
			font-size: 0.7em;
			margin-left: rem(8);
		}
	}
	&__braces {
		.icon {
			max-width: 100%;
			font-size: 32px;
			@include media-breakpoint-up(md) {
				font-size: rem(130);
			}
			@include media-breakpoint-up(lg) {
				font-size: rem(150);
			}
		}
	}

	&.sTerms--mpa {
		--sPT: 0;
		--sPB: 4px;
		@include media-breakpoint-up(sm) {
		--sPT: 0;
		--sPB: 16px;
		}
		.sTerms__title {
			text-align: center;
			@include media-breakpoint-up(md) {
				text-align: left;
			}
			@include media-breakpoint-down(md) {
				font-size: 24px;
			}
			&.strong {
				font-weight: 800;
			}
		}
		.sTerms__content--feature {
			margin-top: 8px;
			.sTerms__row-sm {
				align-items: center;
				--bs-gutter-y: 40px;
				@include media-breakpoint-up(lg) {
					--bs-gutter-y: 0;
					flex-direction: row;
					--bs-gutter-x: 50px;
				}
			}
			.sTerms__item {
				@include roww(16px, m);
				margin-top: calc(-1 * var(--bs-gutter-x));
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				@include media-breakpoint-up(md) {
					flex-direction: row;
					justify-content: center;
				}
				& > * {
					margin-top: var(--bs-gutter-x);
				}
				.icon {
					flex-shrink: 0;
					&-handshake {
						font-size: 64px;
					}
					&-star-labels {
						font-size: 74px;
					}
				}
				@include media-breakpoint-only(md) {
					.icon {
						&-handshake {
							font-size: calc(64px * 0.74);
						}
						&-star-labels {
							font-size: calc(74px * 0.74);
						}
					}
				}
				.sTerms__title {
					text-align: center;
					max-width: 18em;
					@include media-breakpoint-up(md) {
						text-align: left;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sTerms
