// start .sRequest
.sRequest {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__tabs-caption {
		display: flex;
		justify-content: center;
		padding-top: rem(27);
		background-image: url('../img/svg/request-bg.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: top left;
	}
	&__select-container {
		position: relative;
		padding-top: 18px;
		padding-bottom: 18px;
		&::before, &::after {
			position: absolute;
			content: '';
			top: 0;
			width: 50%;
			height: 100%;
			z-index: -1;
		}
		&::before {
			left: 0;
			background: linear-gradient(45deg, #d2f3f0, #d2f3f0 35%,#c0eeeb 35%,#c0eeeb 43%,#b8ece8 43%,#b8ece8 50%,#B0EAE6 50%,#B0EAE6);
		}
		&::after {
			right: 0;
			background: linear-gradient(-45deg, #d2f3f0, #d2f3f0 35%,#c0eeeb 35%,#c0eeeb 43%,#b8ece8 43%,#b8ece8 50%,#B0EAE6 50%,#B0EAE6);
		}
	}
	.is-open .choices__list--dropdown {
		border-radius: 4px;
	}
	.choices__list--dropdown {
		.choices__item {
			padding-left: 10px !important;
			color: var(--bs-body-color, #{$body-color});
			font-weight: 400;
			&::before  {
				content: none;
			}
		}
	}
	.choices__item--selectable {
		position: relative;
		padding-left: 30px;
		font-weight: 700;
		color: var(--bs-primary-active, #008981);
		&::before {
			position: absolute;
			display: inline-block;
			top: 50%;
			left: 0;
			width: 22px;
			content: '';
			background-repeat: no-repeat;
			transform: translateY(-50%);
		}
		&[data-value="all"] {
			&::before {
				height: 22px;
				background-image: var(--like);
				background-size: contain;
				@include media-breakpoint-down(lg) {
					height: 18px;
				}
			}
		}
		&[data-value="sent"] {
			&::before {
				height: 10px;
				background-image: var(--sent);
			}
		}
		&[data-value="received"] {
			&::before {
				height: 10px;
				background-image: var(--received);
			}
		}
	}
	&__tabs-btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 13px 5px;
		width: 370px;
		background-color: rgba(var(--bs-primary), .8);
		border-radius: $border-radius-sm $border-radius-sm 0px 0px;
		color: $white;
		font-weight: 700;
		font-size:rem(18);
		line-height: 133%;
		&:hover {
			cursor: pointer;
		}
		&:not(:last-child) {
			margin-right: 10px;
		}
		&.active {
			background: $gray-100;
			border-left: 1px solid $gray-300;
			border-top: 1px solid $gray-300;
			border-right: 1px solid $gray-300;
			color: var(--bs-primary-active, #008981);
		}
		.icon {
			margin-right: 5px;
		}
	}
	&__tabs-content {
		display: none;
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}
	}
	.tabs-option {
		padding-left: 25px;
		background-image: url('../img/svg/like-btn.svg');
		background-position: top left;
	}
	.icon-like-btn {
		width: 18px;
		height: 18px;
	}
	.icon-in {
		width: 22px;
		height: 10px;
	}
	.icon-out {
		width: 22px;
		height: 10px;
	}
	.sCatalog {
		padding-top: 26px;
	}
	&__requests-list {
		display: grid;
		padding: 32px 0 0;
		list-style-type: none;
		margin-bottom: 0;
		grid-auto-rows: 1fr;
		gap: 24px;
		@include media-breakpoint-down(lg) {
			padding: 16px 0;
		}
		@include media-breakpoint-down(sm) {
			grid-auto-rows: max-content;
		}
	}
	&__select {
		border: none;
		font-family: $default-font;
		font-size: rem(18);
		line-height: 133%;
		color: var(--bs-primary-active, #008981) !important;
		font-weight: 700;
		// padding-left: 32px;
		// background-image: url('../img/svg/like-btn.svg');
		// background-position: 8px center;
		// background-size: 20px 18px;
		// background-repeat: no-repeat;
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		
	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sRequest

.request-item {
	display: flex;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: $border-radius-sm;
	overflow: hidden;
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		height: auto;
	}
	// &:not(:last-child) {
	// 	margin-bottom: 24px;
	// }
	.profile-item {
		width: 33%;
		border-radius: 0;
		@include media-breakpoint-down(lg) {
			width: 50%;
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
			min-height: 0;
		}
		&:hover {
			box-shadow: none;
			border: 1px solid transparent;
		}
		&__show-more {
			position: relative;
			@extend .btn;
			padding-left: 0;
			font-size: 14px;
			color: var(--bs-primary);
			&::after {
				position: absolute;
				right: -5px;
				top: 32%;
				content: '';
				width: 6px;
				height: 6px;
				border-left: 2px solid var(--bs-primary);
				border-bottom: 2px solid var(--bs-primary);
				transform: rotate(-45deg);
			}
		}
		&__body {
			@include media-breakpoint-down(sm) {
				display: none;
			}
			&.active {
				display: block;
			}
		}
		&__btn {
			background-color: rgba(var(--bs-primary-rgb, #{78, 208, 200}), 0.15);
			border-color: rgba(var(--bs-primary-rgb, #{78, 208, 200}), 0.15);
			color: var(--bs-primary);
			font-weight: 700;
		}
	}
	&__reason {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 22px 22px 16px 39px;
		width: 67%;
		background-color: $white;
		&::after {
			position: absolute;
			content: '';
			display: inline-block;
			top: 0;
			left: 0;
			height: 100%;
			width: 500px;
			background-image: url('../img/svg/request-item-bg.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: right center;
			@include media-breakpoint-down(lg) {
				width: 300px;
			}
			@include media-breakpoint-down(sm) {
				content: none;
			}
		}
		@include media-breakpoint-down(lg) {
			width: 50%;
			background-position: -230px 0;
		}
		@include media-breakpoint-down(sm) {
			padding: 16px 13px;
			width: 100%;
			background-image: url('../img/svg/request-item-sm-bg.svg');
			background-repeat: no-repeat;
			background-position: 0 90%;
			background-size: 100% auto;
		}
	}
	&__reason-text {
		flex-grow: 1;
	}
	&__title {
		margin-bottom: 14px;
		font-weight: 700;
	}
	&__reason-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: rem(18);
		border-top: 1px solid $gray-300;
		z-index: 1;
	}
	&__btn, &__status {
		@extend .btn;
		width: 100%;
		max-width: 214px;
		font-weight: 700;
		&:not(:last-child) {
			margin-right: 7px;
		}
		@include media-breakpoint-down(lg) {
			max-width: 150px;
		}		
		&--approve {
			@extend .btn-primary;
			z-index: 1;
			// @include media-breakpoint-down(sm) {
			// 	max-width: 125px;
			// }
		}
		&--reject {
			@extend .btn-outline-primary;
			background-color: $white;
			z-index: 1;
			// @include media-breakpoint-down(sm) {
			// 	max-width: 125px;
			// }
		}
	}
	&__status {
		position: relative;
		pointer-events: none;
		@include media-breakpoint-down(sm) {
			width: 100%;
			max-width: none;
		}
		&--approved {
			@extend .btn-primary;
			&::before {
				content: url('../img/svg/checked.svg');
				margin-right: 6px;
			}
		}
		&--rejected {
			@extend .btn-outline-primary;
			background-color: $white;
			&::before {
				content: var(--close);
				margin-right: 6px;
			}
			// &::before, &::after {
			// 	position: absolute;
			// 	display: inline-block;
			// 	left: calc(50% - 70px);
			// 	top: 50%;
			// 	content: '';
			// 	width: 20px;
			// 	height: 2px;
			// 	margin-right: 6px;
			// 	background-color: var(--bs-primary);
			// }
			// &::after {				
			// 	transform: rotate(45deg) translateY(-50%);
			// }
			// &::before {				
			// 	transform: rotate(-45deg) translateY(calc(-50% + 1px));
			// }
		}
		&--pending {
			@extend .btn-secondary;
		}
	}
}